<div class="diva-term">
  <div class="container">
    <h2>Terms &amp; Conditions</h2>
    <ol>
      <li>The applicant must agree to abide by all rules, as changed from time to time by the Organisers.</li>
      <li>The applicant should be between 18 - 25 years of age as on 9th August 2015. The applicant will be required to produce their age proof (Passport, birth certificate, school leaving certificate, driver's license, etc).</li>
      <li>The applicant uses the prefix 'Miss'(or equivalent) before her name married and never been through any ceremony directly or indirectly, either valid or invalid, whether civil, religious or tribal which is recognized as a marriage ceremony in any part of the world and should never have had a marriage annulled or never given birth to a child; have never been pregnant nor been a parent.</li>
      <li>The applicant should be a natural born female. 6.The applicant should be a bonafide Indian citizen, holding a valid Indian passport and should be a resident of India as per the applicable laws of India.</li>
      <li>The applicant or the applicant's immediate family should not be related to any person employed in ABSL, TIML, TIL, Bennett Coleman &amp; Company Limited, or any other company of the Times Group, contest sponsors, and their sub - contractors, or any of the judges as informed to the applicant at any stage. In case of such a relation, the applicant must disclose the same immediately.</li>
      <li>The applicant should not be under any commercial contract with any modeling agency at the time of appearing for the auditions.</li>
      <li>The applicant once shortlisted cannot be a part of any other commercial contract or pageant.</li>
      <li>The Organisers are not responsible for any delays or non-receipt of applications on any account and for any reason whatsoever.</li>
      <li>The applicant should not have won the pageant previously.</li>
      <li>The applicant should not have been qualified for or taken part in any contest as a representative of any country other than India.</li>
      <li>The regional round expenses (travel &amp; stay) will have to be borne by the participant.</li>
      <li>The applicant will have to participate in a disciplined and diligent manner throughout as per schedule given.</li>
      <li>The Organisers are not responsible if the sponsors do not make good the prizes promised by them.</li>
      <li>The Organisers are not responsible for any loss or physical injury that occur to the applicant on account of their participation in the event. The applicant will participate at her own risk and can have no claim against ABSL or any other Times of India group company in any regard.</li>
      <li>Incorrect information will result in disqualification, whether discovered prior to, during or after participation.</li>
      <li>The decision of the judges is final in all cases.</li>
      <li>Only persons of good health, sound mind and having no medical history of any mental illness and having a good moral character can participate made herein.</li>
      <li>The applicant does not have any cases (criminal or civil) registered against her.</li>
      <li>Only the applicant will be allowed inside the designated venue of the preliminaries.</li>
      <li>The schedule of events and qualification rounds are subject to change at the discretion of the Organiser.</li>
      <li>The Organisers are not responsible for non-completion / non-occurrence of the event.</li>
      <li>In the event of any dispute, the Organisers decisions are final and binding on the applicant.</li>
      <li>The courts of Mumbai have the jurisdiction over all disputes.</li>
      <li>For further information / clarifications, contact on  9602179555, 9799998287 at the Style Store office from 11:00 am till 6.00 pm, on all days except on Saturdays &amp; Sundays</li>
    </ol>
    <p>PLEASE DO NOT COURIER YOUR DOCUMENTS TO US, YOU CAN BRING THEM DIRECTLY AT THE VENUE FOR AUDITIONS AND REGISTRATIONS</p>
  </div>
</div>


<div class="footer-top"></div>
<div class="footer-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>About Pokyshop</h3>
        <div class="navbar-collapse collapse" id="footer1">
          <p class="text-justify"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cmz_block_footer_about_us')->toHtml();?></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>Why Us</h3>
        <div class="navbar-collapse collapse" id="footer2">
          <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cmz_block_footer_why_us')->toHtml();?>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-4">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer3"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>Join Us</h3>
        <div class="navbar-collapse collapse" id="footer3">
          <ul class="list-group">
            <li><a href="https://twitter.com/pokyshop" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/pages/pokyshopcom/335131776671161" class="list-group-item"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://plus.google.com/104184118365463258982" class="list-group-item"><i class="fa fa-google-plus"></i> Google +</a></li>
            <li><a href="https://www.pinterest.com/pokyshop" class="list-group-item"><i class="fa fa-pinterest-p"></i> Pinterest</a></li>
			<li><a href="https://instagram.com/pokyshop/" class="list-group-item"><i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-4">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer4"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>Company Info</h3>
        <div class="navbar-collapse collapse" id="footer4">
          <ul class="list-unstyled footer-address">
            <li class="clearfix"><i class="fa fa-mobile-phone"></i> +91-9983057200<br />
              +91-9929599580</li>
            <li class="clearfix"><i class="fa fa-envelope-o"></i><a href="mailto:info@pokyshop.com">info@pokyshop.com</a><br />
              <a href="mailto:sales@pokyshop.com">sales@pokyshop.com</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="copyright-sec text-center">&copy <?php echo date('Y');?> pokyshop.com. All Rights Reserved. </div>
<?php //echo $this->getChildHtml() echo $this->getCopyright() ?>
