<div class="logo">
  <div class="container">
    <div class="row">
      <ul class="col-sm-4 col-xs-12 list-inline social">
        <li><a class="first" href="https://twitter.com/pokyshop" target="_blank" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/pages/pokyshopcom/335131776671161" target="_blank" title="Join us on Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://plus.google.com/u/0/104184118365463258982" target="_blank" title="Join us on Google Plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.pinterest.com/pokyshop/" target="_blank" title="Follow us on pinterest"><i class="fa fa-pinterest-p"></i></a></li>
        <li><a href="https://instagram.com/pokyshop/" target="_blank" title="Follow us on instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/company/pokyshop-com" target="_blank" title="Connect on linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <div class="col-sm-4 col-xs-12"><img src="<?php echo $this->getSkinUrl('images/') ?>pokyshop-rajsthan-diva-logo.jpg" alt="pokyshop-rajsthan-diva-logo" class="img-responsive" /></div>
      <div class="col-sm-4 col-xs-12 contact-sec text-right">
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 9602179555</li>
          <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> www.bestreel.com</li>
        </ul>
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 9799998287</li>
          <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> www.missdiva.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>