<?php 
$resultRequest = $this->productList(); 
$productEdit = $this->getEditProduct();
$pep = split('\.',@$productEdit['price']);
$price = $pep[0];
//var_dump($productEdit);
$category_id_hidden = '';
foreach($productEdit['category_id'] as $k=>$v){
  $category_id_hidden .= ','.$v;
}
?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/fix-defer-before.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/prototype/window.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/hash.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/events.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/loader.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/grid.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/tabs.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/form.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/accordion.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/tools.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/uploader.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/product.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/calendar/calendar.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/ext-tree.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/fix-defer.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/ext-tree-checkbox.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/wysiwyg/tiny_mce/setup.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/variables.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/wysiwyg/widget.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/browser.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/fix-defer-before.js"></script>

<!-- 
**
**  list products 
**
-->
<div class="request_table"> <?php echo $this->getPagerHtml(); ?>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Created1</th>
        <th>Updated</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <?php 
      if($resultRequest){  foreach($resultRequest as $rt){
          $dca = split(' ',$rt['created_at']);
          $dua = split(' ',$rt['updated_at']);
          $prc = split('\.',$rt['price']);
          $sts = ($rt['status']==1?'<span style="color:green;">Enabled</span>':'Disabled');

       	echo '<tr class="clicktagtr">
                          <td>'.$dca[0].'</td>
                          <td>'.$dua[0].'</td>
                          <td>'.$rt['sku'].'</td>
                          <td>'.substr(strip_tags($rt['name']),0,45).'...</td>
                          <td>'.$prc[0].'</td>
                          <td>'.$sts.'</td>';
		//echo '<td>[<a href="'.Mage::getBaseUrl("link").'product/index/edit?ep='.$rt['entity_id'].'&limit='.$resultRequest[0]['limit'].'&p='.$resultRequest[0]['page'].'">edit</a>][<a href="javascript:void();" onclick="javascript:sureDelete('.$rt['entity_id'].')">delete</a>]</td>';
		echo '<td>';
			echo '<a href="'.Mage::getBaseUrl("link").'product/index/edit?ep='.$rt['entity_id'].'&limit='.$resultRequest[0]['limit'].'&p='.$resultRequest[0]['page'].'">Edit</a>';
			if($rt['status']==1){
				$_product = Mage::getModel('catalog/product')->load($rt['entity_id']); 
				echo '| <a href="'.$_product->getProductUrl().'">View</a>';
			}
		echo '</td>';
		echo '</tr>';
        }
      }
        ///product/index/delete?p='.$rt['entity_id'].'
?>
    </table>
  </div>
  <?php echo $this->getPagerHtml(); ?>
</div>

<!-- 
**
**  end list products 
**
-->
<div class="clearfix"></div>
<?php 
$data = Mage::app()->getRequest()->getParam('ep');
if($productEdit){
//echo '<pre>';print_r($data);die;
?>

<div class="showcase">
  <h3>Edit Product</h3>
  <!-- 
**
**  form 
**
-->
  <form action="" method="post" name="showcaseform" id="product_edit_form" enctype="multipart/form-data" class="account-login">
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td width="170">
<div class="showcase_attribute"> <?php /*?><strong>Attribute set:</strong><?php */?> 
            <!-- 
            **
            **  Product Attribute Set 
            **
            -->
			<div class="row">
            <div style="display:none;" class="col-sm-8 col-xs-12">
              <select name="set" id="set" onchange="getSetSelectAttribute();" class="form-control">
                <?php
              		
                  $entity_type_id = 4;
                  
                  $entitytype = Mage::getModel('eav/entity_type')->getCollection()->addFieldToFilter('entity_model', 'catalog/product');
                  foreach($entitytype as $arrenty){
                    $entity_type_id = $arrenty->getData('entity_type_id');
                  }

              		$attributes = Mage::getModel('eav/entity_attribute_set')->getCollection()->addFieldToFilter('entity_type_id', $entity_type_id);

                foreach($attributes as $arrt){
                   echo '<option value="'.$arrt->getData('attribute_set_id').'" '.(@$productEdit['attribute_set_id']==$arrt->getData('attribute_set_id')?'selected="selected"':'').'> '.$arrt->getData('attribute_set_name').'</option>';
                 }

                 ?>
              </select>
            </div>
			</div>
            <!-- 
            **
            **  Product Type	simple,	grouped, configurable,	virtual,	bundle,	downloadable 
            **
            -->
            <input type="hidden" name="type" value="simple" />
            <?php /*?><div class="showcase_menu"> 
              <!-- 
                **
                **  Product Categories 
                **
                --> 
              <strong>Categories:</strong>
              <div> <?php echo $this->selectTreeCategory(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?> </div>
            </div><?php */?>
            <?php /*?><div>
              <p>&nbsp;</p>
              <button onclick="javascript:newproduct();return false;">Clear form, add product</button>
            </div><?php */?>
          </div></td>
        <td><div class="block"> 
            <!-- 
            **
            **  General 
            **
            ** product[name]
            ** product[description]
            ** product[short_description]
            ** product[sku]
            ** product[status]
            ** product[visibility]
            **
            -->
            <div class="block-title" id="generaltitle" onclick="showdiv('generaldiv');"><strong>General</strong></div>
            <div id="generaldiv">
              <p class="fieldbg"><strong>Title <span style="color:red;">*</span></strong><br />
                <input type="text" id="product_name" name="product[name]" value="<?php echo @$productEdit['name']; ?>" />
              </p>
              <p class="fieldbg"><strong>Short description <span style="color:red;">*</span></strong><br />
                <textarea id="product_short_description" name="product[short_description]"><?php echo @$productEdit['short_description']; ?></textarea>
              </p>
              <p class="fieldbg"><strong>Description <span style="color:red;">*</span></strong><br />
                <textarea id="product_description" name="product[description]"><?php echo @$productEdit['description']; ?></textarea>
              </p>
              <p class="fieldbg"><strong>SKU <span style="color:red;">*</span></strong><br />
                <input type="text" id="product_sku" name="product[sku]" value="<?php echo @$productEdit['sku']; ?>" />
              </p>
              <p class="fieldbg"><strong>Category <span style="color:red;">*</span></strong><br />
              <div>
                <?php //echo $this->selectTreeCategory(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?>
                <?php /*?><select name="category" class="required-entry validate-select">
                    	<option value="">--Select Category--</option>
						<?php echo $this->selectTreeCategoryDropdown(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?>
                </select><?php */?>
                <?php $selectedCategoryID = $productEdit['category_id'][0];?>
                <select name="category_ids" id="category_ids" class="required-entry validate-select">
                  <option value="">--Select Category--</option>
                  <?php
                        $categoryHelper = Mage::helper("sarah")->getCategoriesDropdown();
                        foreach($categoryHelper as $value){
                            foreach($value as $key => $val){
                                if($key=='label'){
                                    $categoryName = $val;
                                }
                                if($key=='value'){
                                    $categoryId = $val;
                                }
                                if($key=='level'){
                                    $categoryLevel 	= 	$val;
                                    $space 			=	'';
                                    for($i=1; $i<$categoryLevel; $i++){
                                        $space = $space."-";
                                    }
                                    $categoryName = $space.$categoryName;
                                 }
                            }
                          ?>
                  <option value="<?php echo $categoryId; ?>" <?php if( $selectedCategoryID == $categoryId ){?>selected="selected"<?php } ?>><?php echo $categoryName ?></option>
                  <?php } ?>
                </select>
                <?php //echo $this->selectTreeCategoryDropdown(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?>
              </div>
              </p>
              <?php /*?><p class="fieldbg"><strong>Status <span style="color:red;">*</span></strong><br />
                <select name="product[status]">
                  <option value="1" <?=(@$productEdit['status']==1?'selected="selected"':'')?>>Enabled</option>
                  <option value="2" <?=(@$productEdit['status']==2?'selected="selected"':'')?>>Disabled</option>
                </select>
              </p><?php */?>
              <input type="hidden" name="product[visibility]" value="4" />
            </div>
            
            <!-- 
            **
            **  Prices 
            **
            ** product[price]
            **
            -->
            <div class="block-title" id="pricetitle" onclick="showdiv('pricediv');"><strong>Prices</strong></div>
            <div id="pricediv">
              <p class="fieldbg"><strong>Price <span style="color:red;">*</span></strong><br />
                <input type="text" id="product_price" name="product[price]" value="<?php echo @$price; ?>" />
              </p>
            </div>
            
            <!-- 
            **
            **  Images 
            **
            -->
            <div class="block-title" id="imagetitle" onclick="showdiv('imagediv');"><strong>Images</strong></div>
            <div id="imagediv">
              <div  id="media_gallery_content">
                <div class="grid"> 
                <script type="text/javascript">
				  var save = [];
				</script>
				<div class="table-responsive">
                  <table class="table table-hover">
                    <col width="70" />
                    <col />
                    <col width="30" />
                    <col width="40" />
                    <col width="40" />
                    <col width="40" />
                    <col width="50" />
                    <col width="50" />
                    <thead>
                      <tr class="headings">
                        <th><?php echo Mage::helper('catalog')->__('Image') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Label') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Sort') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Image') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Small') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Thumb') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Exclude') ?></th>
                        <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
                      </tr>
                    </thead>
                    <tbody id="media_gallery_content_list">
                      <tr id="media_gallery_content_template" class="template no-display">
                        <td class="cell-image"><div class="place-holder" onmouseover="media_gallery_contentJsObject.loadImage('__file__')"><span>Roll Over for preview</span></div>
                          <img src="<?=Mage::getBaseUrl("web");?>/skin/adminhtml/default/default/images/spacer.gif" width="60" style="display:none;" alt="" /></td>
                        <td class="cell-label"><input type="text" class="input-text" onkeyup="media_gallery_contentJsObject.updateImage('__file__')" onchange="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                        <td class="cell-position"><input type="text"  style="width:30px;" class="input-text validate-number" onkeyup="media_gallery_contentJsObject.updateImage('__file__')" onchange="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                        <td class="cell-image a-center"><input  type="radio" name="product[image]" onclick="media_gallery_contentJsObject.setProductImages('__file__')" value="__file__" /></td>
                        <td class="cell-small_image a-center"><input  type="radio" name="product[small_image]" onclick="media_gallery_contentJsObject.setProductImages('__file__')" value="__file__" /></td>
                        <td class="cell-thumbnail a-center"><input  type="radio" name="product[thumbnail]" onclick="media_gallery_contentJsObject.setProductImages('__file__')" value="__file__" /></td>
                        <td class="cell-disable a-center"><input type="checkbox"  onclick="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                        <td class="cell-remove a-center last"><input type="checkbox"  onclick="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                      </tr>
                      <tr id="media_gallery_content-image-0">
                        <td class="cell-image">No</td>
                        <td class="cell-label"><input type="hidden" />
                          &nbsp;</td>
                        <td class="cell-position"><input type="hidden" />
                          &nbsp;</td>
                        <td class="cell-image a-center"><input type="radio"  name="product[image]" onclick="media_gallery_contentJsObject.setProductImages('no_selection')" value="no_selection" /></td>
                        <td class="cell-small_image a-center"><input type="radio"  name="product[small_image]" onclick="media_gallery_contentJsObject.setProductImages('no_selection')" value="no_selection" /></td>
                        <td class="cell-thumbnail a-center"><input type="radio"  name="product[thumbnail]" onclick="media_gallery_contentJsObject.setProductImages('no_selection')" value="no_selection" /></td>
                        <td class="cell-disable"><input type="hidden" />
                          &nbsp;</td>
                        <td class="cell-remove last"><input type="hidden" />
                          &nbsp;</td>
                      </tr>
                      <?php foreach($productEdit['image'] as $kv){ ?>
                      <script type="text/javascript">
					  var save_obj = {
						"value_id":"<?php echo $kv['value_id']; ?>",
						"file":"<?php echo $kv['value']; ?>",
						"label":"<?php echo $kv['label']; ?>",
						"position":"<?php echo $kv['position']; ?>",
						"disabled":"<?php echo $kv['disabled']; ?>",
						"label_default":"<?php echo $kv['label']; ?>",
						"position_default":"<?php echo $kv['position']; ?>",
						"disabled_default":"<?php echo $kv['disabled']; ?>",
						"url":"<?php echo Mage::getBaseUrl('web').'media/catalog/product'.$kv['value']; ?>",
						"removed":"0"
					  }
					
					  save.push(save_obj);
					
					</script>
                      <?php } ?>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="100" class="last" style="padding:8px">
                        <!-- 
                        **
                        **  flex images
                        **
                        -->
                          
                          <div id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-flash" class="flex" style="position:relative;float:right;">
                            <embed quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" left="100" top="300" src="<?php echo Mage::getBaseUrl('web'); ?>skin/adminhtml/default/default/media/uploader.swf" wmode="transparent" name="flexMovieUID1" flashvars="bridgeName=flexMovieUID1bridge" allowfullscreen="true" height="20" width="230"> 
                          </div>
                          <div id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader" class="uploader">
                            <div class="buttons">
                              <div id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-install-flash" style="display:none"> This content requires last version of Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a> </div>
                            </div>
                            <div class="clear"></div>
                            <div class="no-display" id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-template">
                              <div id="{{id}}" class="file-row"> <span class="file-info">{{name}} ({{size}})</span> <span class="delete-button">
                                <button id="{{id}}-delete" title="Remove" type="button" class="scalable delete" onclick="id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject.removeFile('{{fileId}}')" style=""><span><span><span>Remove</span></span></span></button>
                                </span> <span class="progress-text"></span>
                                <div class="clear"></div>
                              </div>
                            </div>
                            <div class="no-display" id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-template-progress"> {{percent}}% {{uploaded}} / {{total}} </div>
                          </div>
                          <script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/lib/flex.js"></script> 
                          <script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/flexuploader.js"></script> 
                          <script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/lib/FABridge.js"></script> 
                          <script type="text/javascript">
							//<![CDATA[
							
							var maxUploadFileSizeInBytes = 10097152;
							var maxUploadFileSize = '10M';
							
							id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject = new Flex.Uploader('id_2ae1264f5c19e1db1580e98f51ec3175_Uploader', '<?php echo Mage::getBaseUrl(); ?>skin/adminhtml/default/default/media/uploader.swf', {"url":"<?php echo str_replace('/','\/', Mage::getBaseUrl('link')); ?>product\/index\/upload\/key\/d9c878b694d1a2785b319b0eb0cad41b\/?SID=99gb4uemdf2ihudgiqv4t3igl4","params":{"form_key":"gn0aHDfjLLxXQFGN"},"file_field":"image","filters":{"images":{"label":"Images (.gif, .jpg, .png)","files":["*.gif","*.jpg","*.jpeg","*.png"]}}});
							
							if (varienGlobalEvents) {
								varienGlobalEvents.attachEventHandler('tabChangeBefore', id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject.onContainerHideBefore);
							}
							
							//]]>
							</script>
                          </td>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
                  <!-- 
                    **
                    **  form_key
                    ** product[media_gallery][images] ... media_gallery_content_save
                    ** product[media_gallery][values] ... media_gallery_content_save_image
                    **
                    -->
                  <input type="hidden" name="form_key" value="gn0aHDfjLLxXQFGN" />
                  <input type="hidden" name="product[media_gallery][images]" id="media_gallery_content_save" value="" />
                  <input type="hidden" name="product[media_gallery][values]" id="media_gallery_content_save_image" value="" />
                </div>
              </div>
            </div>
            <div id="addnewfields"> 
              <!--additional fields--> 
            </div>
            
            
            <!-- 
            **
            **  hidden
            **
            -->
            <input type="hidden" name="product[tax_class_id]" value="0" />
            <input type="hidden" name="product[custom_design]" value="" />
            <input type="hidden" name="product[page_layout]" value="one_column" />
            <input type="hidden" name="product[options_container]" value="container2" />
            <input type="hidden" name="product[use_config_gift_message_available]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_min_sale_qty]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_manage_stock]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_max_sale_qty]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_notify_stock_qty]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_enable_qty_increments]" value="1" />
            <input type="hidden" name="product[website_ids][]" value="1" />
            <!--<input type="hidden" value="<?php echo @$category_id_hidden; ?>" name="category_ids" id="category_ids">-->
            <?php if($productEdit){ ?>
            <input type="hidden" value="<?php echo @$productEdit['entity_id']; ?>" name="id">
            <?php } ?>
			<div class="text-center">
            	<button class="btn button-orange button--wayra" title="Submit" type="submit" id="showcaseformsavebutton" onclick="showcaseformpresubmit(); return false;">Submit</button>
            </div>
            <?php /*?><p align="center">
              <button class="button" id="showcaseformsavebutton" onclick="showcaseformpresubmit(); return false;" type="button" title="Save"><span>Save</span></button>
            </p><?php */?>
          </div></td>
      </tr>
    </table>
  </form>
</div>
<script type="text/javascript">

function showcaseformpresubmit(){
  var err = 0;
  if(document.getElementById('product_name').value==''){ err = 1; }else
  if(document.getElementById('product_description').value==''){ err = 2; }else
  if(document.getElementById('product_short_description').value==''){ err = 3; }else
  if(document.getElementById('product_sku').value==''){ err = 4; }else
  if(document.getElementById('product_price').value==''){ err = 5; }

  if(err){
    switch(err){
      case 1: 
        alert("Name field is not set"); 
        break;
      case 2: 
        alert("Description field is not set"); 
        break;
      case 3: 
        alert("Short description field is not set"); 
        break;
      case 4: 
        alert("SKU field is not set"); 
        break;
      case 5: 
        alert("Price field is not set"); 
        break;
      default: 
        alert("Javascript Error"); 
        break;
    }
    err = 0;
    return false;
  }else{
    document.forms['showcaseform'].submit();
  }
}

/* 
**
**  for my additional attributes ... Ajax
**
*/

function getSetSelectAttribute(){
  var FORM_KEY = 'gn0aHDfjLLxXQFGN';
  var mydiv = document.getElementById('addnewfields');
  mydiv.innerHTML = "";

  new Ajax.Request('<?=Mage::getBaseUrl("link");?>product/index/additionalfields', {
    method:'get',
    parameters: {setp: document.getElementById("set").value, entid: <?php echo (@$productEdit['entity_id']>0?@$productEdit['entity_id']:0); ?>, form_key: FORM_KEY},
    onSuccess: function(transport) {
      var response = transport.responseText || "no response text";
      //alert("Success! \n\n" + response);
      var obja = JSON.parse(response);
      for(var jr=0; jr<obja.attributes.length; jr++){   
      if(obja.attributes[jr].attribute_id.length>0){     
        var newdiv = document.createElement('div');
        newdiv.setAttribute('class','block-title');
        newdiv.setAttribute('id','af-title'+obja.attributes[jr].group_id);        
        newdiv.setAttribute('onclick',"showdiv('af-div"+obja.attributes[jr].group_id+"');");
        var newstrong = document.createElement('strong');
        var newtext=document.createTextNode(obja.attributes[jr].group_name);
        mydiv.appendChild(newdiv);
        newdiv.appendChild(newstrong);
        newstrong.appendChild(newtext);

        var newdiv2 = document.createElement('div');
        newdiv2.setAttribute('id','af-div'+obja.attributes[jr].group_id);
        mydiv.appendChild(newdiv2);
        for(var rt=0; rt<obja.attributes[jr].attribute_id.length;rt++){
          var newp = document.createElement('p');
          var newstrong2 = document.createElement('strong');
          newdiv2.appendChild(newp);
          newp.appendChild(newstrong2);
          var newtext2=document.createTextNode(obja.attributes[jr].attribute_id[rt].label);
          newstrong2.appendChild(newtext2);
          if(obja.attributes[jr].attribute_id[rt].type=="text" && obja.attributes[jr].attribute_id[rt].input=="textarea"){
            var newstextarea = document.createElement('textarea');
            newstextarea.setAttribute('name','product['+obja.attributes[jr].attribute_id[rt].code+']');
            newdiv2.appendChild(newstextarea);
            var newtext3=document.createTextNode(obja.attributes[jr].attribute_id[rt].value);
            newstextarea.appendChild(newtext3);
          }
          if(obja.attributes[jr].attribute_id[rt].type=="varchar" && obja.attributes[jr].attribute_id[rt].input=="text"){
            var newstextarea = document.createElement('input');
            newstextarea.setAttribute('type','text');
            newstextarea.setAttribute('name','product['+obja.attributes[jr].attribute_id[rt].code+']');
            newstextarea.setAttribute('value',obja.attributes[jr].attribute_id[rt].value);
            newdiv2.appendChild(newstextarea);
          }
          if(obja.attributes[jr].attribute_id[rt].type=="int" && obja.attributes[jr].attribute_id[rt].input=="boolean"){
            var newsboolean = document.createElement('select');
            newsboolean.setAttribute('id',obja.attributes[jr].attribute_id[rt].code);
            newsboolean.setAttribute('name','product['+obja.attributes[jr].attribute_id[rt].code+']');
            newdiv2.appendChild(newsboolean);
            for(var ib=0; ib<2; ib++){
              var newsoption = document.createElement('option');
              newsoption.setAttribute('value',ib);
              if(obja.attributes[jr].attribute_id[rt].value==ib){
                newsoption.setAttribute('selected','selected');
              }
              newsboolean.appendChild(newsoption);
              if(ib==0){
                var newsoptiontext=document.createTextNode("No");
              }else{
                var newsoptiontext=document.createTextNode("Yes");
              }
              newsoption.appendChild(newsoptiontext);
            }
          }

        }

        var newstyle = document.createElement('style');
        var newtextstyle=document.createTextNode("#af-div"+obja.attributes[jr].group_id+" { display:none; } #af-div"+obja.attributes[jr].group_id+" p{ margin:0px; } #af-div"+obja.attributes[jr].group_id+" textarea, #af-div"+obja.attributes[jr].group_id+" input{ width:98%; }");
        mydiv.appendChild(newstyle);
        newstyle.appendChild(newtextstyle);
      }
    }
    },
    onFailure: function() { alert('Javascript Error'); }
  });

  //alert(document.getElementById("set").value);
}

getSetSelectAttribute();

/* 
**
**  for blocks ... show/hide
**
*/

function showdiv(id){
  var dform = document.getElementById(id).style.display;
  if(dform){
    if(dform=='none'){
      document.getElementById(id).style.display='block';
    }else{
      document.getElementById(id).style.display='none';
    }
  }else{
    document.getElementById(id).style.display='block';
  }
}


/* 
**
**  for set json images block
**
*/

function setArrSave(){
//alert(save.length + ' --- ' + save[1].url);
  var arr_save = '[';

  for(var i=0; i<save.length; i++){
      save[i].toString = function() {
       return '{"value_id":"' + this.value_id + '", "file":"' + this.file + '", "label":"' + this.label + '", "position":"' + this.position + '", "disabled":"' + this.disabled + '", "label_default":"' + this.label_default + '", "position_default":"' + this.position_default + '", "disabled_default":"' + this.disabled_default + '", "url":"' + this.url + '", "removed":"' + this.removed + '"}';
     }

     if(i>0){
      arr_save += ',' + save[i].toString();
    }else{
      arr_save += save[i].toString();
    }
  }

  arr_save += ']';

  return arr_save;
}

document.getElementById('media_gallery_content_save').value = setArrSave();


/* 
**
**  for Exclude
**
*/
function changeExclude(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      if(save[i].disabled=="0"){
        save[i].disabled="1";
      }else{
        save[i].disabled="0";
      }
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}

/* 
**
**  for Remove
**
*/
function changeRemove(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      if(save[i].removed=="0"){
        save[i].removed="1";
      }else{
        save[i].removed="0";
      }
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}

/* 
**
**  for Position
**
*/
function changePosition(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      save[i].position=document.getElementById('position_' + value_id).value;
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}

/* 
**
**  for Label
**
*/
function changeLabel(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      save[i].label=document.getElementById('label_' + value_id).value;
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}



/* 
**
**  for json images
**
*/

var save_image = {
    "image":"<?php echo $productEdit['image_radio']; ?>",
    "small_image":"<?php echo $productEdit['small_image_radio']; ?>",
    "thumbnail":"<?php echo $productEdit['thumb_image_radio']; ?>"
  };

save_image.toString = function() {
   return '{"image":"' + this.image.replace(/\//g,"\\\/") + '", "small_image":"' + this.small_image.replace(/\//g,"\\\/") + '", "thumbnail":"' + this.thumbnail.replace(/\//g,"\\\/") + '"}';
 }

document.getElementById('media_gallery_content_save_image').value = save_image.toString();

function setImageProduct(alias){
  //alert(alias);
  save_image.image = alias;
  document.getElementById('media_gallery_content_save_image').value = save_image.toString();
}

function setSmallImageProduct(alias){
  //alert(alias);
  save_image.small_image = alias;
  document.getElementById('media_gallery_content_save_image').value = save_image.toString();
}

function setThumbnailProduct(alias){
  //alert(alias);
  save_image.thumbnail = alias;
  document.getElementById('media_gallery_content_save_image').value = save_image.toString();
}




/* 
**
**  for category check
**
*/
function categorytree(id){
    var t = ","+id;
    var c = document.getElementById("category_ids").value;
    var pos = c.indexOf(t);
  if(document.getElementById("checkcat"+id).checked==true){
    if( pos == -1 ){
      c += t;
    }
  }else{
    c = c.replace(t,"");
  }
  document.getElementById("category_ids").value = c;
}

/* 
**
**  for confirm delete
**
*/
function sureDelete(id){
  if (confirm("The record will be deleted. Are you sure?")) {
    location = "<?=Mage::getBaseUrl('link');?>product/index/delete?p=" + id;
  }
}

/* 
**
**  for new product
**
*/
function newproduct(){
  location.href='<?=Mage::getBaseUrl("link");?>product';
}

</script> 

<!-- 
**
**  for block images ... read gallery
**
--> 
<script type="text/javascript">
//<![CDATA[
var media_gallery_contentJsObject = new Product.Gallery('media_gallery_content', id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject, {"image":{"label":"Base Image ","field":"product[image]"},"small_image":{"label":"Small Image ","field":"product[small_image]"},"thumbnail":{"label":"Thumbnail ","field":"product[thumbnail]"}});

//setInterval(function(){
 // console.log("JSON : %1", media_gallery_contentJsObject.images.url);
//}, 5000);
//]]>
</script>
<?php }else{ ?>
<ul class="showcase list-inline text-center">
<li><a href="<?php echo $this->getUrl('postproduct'); ?>">Add More Product(s)</a></li>
<li><a href="<?php echo $this->getUrl('product/index/export/'); ?>">Export all Products</a></li>
<li><a id="c_import_products" href="javascript:;">Import Edited Products</a></li>
</ul>

<div id="m_import_products" class="hidden">
	<form name="cmz_frm_import_product" id="cmz_frm_import_product" enctype="multipart/form-data" method="post" action="<?php echo $this->getUrl('product/index/import/'); ?>">
		<input name="import_product" id="import_product" type="file" />
        <input name="import_submit" type="submit" name="Submit" />
    </form>
</div>
<script>
jQuery('a#c_import_products').click(function(event){
	jQuery('#m_import_products').removeClass('hidden');
});
</script>
<?php } ?>