<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
  <h1>Sell with us Post a Free Product</h1>
</div>
<form action="<?php echo $this->getUrl('postproduct/') ?>index/addproduct<?php //echo $this->getFormAction(); ?>" id="addProductsForm" method="post" class="scaffold-form" enctype="multipart/form-data">
  <div class="fieldset">
    <p class="required">* Required Fields</p>
    <ul class="form-list">
    	<li class="fields">
        	<div class="field">
          		<label for="name" class="required"><em>*</em>Title</label>
          		<div class="input-box">
            		<input name="title" id="title" title="" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
          		</div>
        	</div>
	    </li>
        
        <li class="fields">
        	<div class="field">
          		<label for="short_description" class="required"><em>*</em>Short Description</label>
          		<div class="input-box">
                	<textarea name="short_description" id="short_description" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
        	</div>
	    </li>
        
        <li class="fields">
        	<div class="field">
          		<label for="description" class="required"><em>*</em>Description</label>
          		<div class="input-box">
                	<textarea name="description" id="description" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
        	</div>
	    </li>
        
        <li class="fields">
        	<div class="field">
          		<label for="description" class="required"><em>*</em>Condition</label>
          		<div class="input-box">
                	<input name="product_type" type="radio" value="New" /> New
                  	<input name="product_type" type="radio" value="Used" /> Used
                </div>
        	</div>
	    </li>
        
        <li class="fields">
        	<div class="field">
          		<label for="category" class="required">Category</label>
          		<div class="input-box">
                	<select name="category">
                    	<option value="">--Select Category--</option>
                        <?php
							$categoryHelper = Mage::helper("sarah")->getCategoriesDropdown();
							foreach($categoryHelper as $value){
								foreach($value as $key => $val){
									if($key=='label'){
										$categoryName = $val;
									}
									if($key=='value'){
										$categoryId = $val;
									}
									if($key=='level'){
										$categoryLevel 	= 	$val;
										$space 			=	'';
										for($i=1; $i<$categoryLevel; $i++){
											$space = $space."-";
										}
										$categoryName = $space.$categoryName;
									 }
								}
							  ?>
                              <option value="<?php echo $categoryId; ?>"><?php echo $categoryName ?></option>
						 <?php } ?>
                    </select>
                </div>
        	</div>
	    </li>
        
        <li class="fields">
        	<div class="field">
          		<label for="price" class="required"><em>*</em>Price</label>
          		<div class="input-box">
            		<input name="price" id="price" title="" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
          		</div>
        	</div>
	    </li>
        
        <li class="fields">
        	<div class="field">
          		<label for="product_image" class="required"><em>*</em>Product Image</label>
          		<div class="input-box">
                	<input name="product_image[]" type="file" class="input-text required-entry" />
                    <input name="product_image[]" type="file" />
          		</div>
        	</div>
	    </li>
        
        
      
		<li class="fields">
            <div class="field">
              <label for="name" class="required"><em>*</em>Name</label>
              <div class="input-box">
                <input name="name" id="name" title="" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
              </div>
            </div>
            <div class="field">
              <label for="email" class="required"><em>*</em>Email</label>
              <div class="input-box">
                <input name="email" id="email" title="" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
              </div>
            </div>
		</li>
          
		<li class="fields">
            <label for="telephone">Phone</label>
            <div class="input-box">
              <input name="telephone" id="telephone" title="" value="" class="input-text" type="tel" />
            </div>
		</li>
		
        <li class="fields">
        	<div class="field">
          		<label for="name" class="required"><em>*</em>State</label>
          		<div class="input-box">
            		<select name="category">
                    	
                    </select>
          		</div>
        	</div>
	    </li>
        <li class="fields">
        	<div class="field">
          		<label for="name" class="required"><em>*</em>City</label>
          		<div class="input-box">
            		<select name="category">
                    	
                    </select>
          		</div>
        	</div>
	    </li>
    </ul>
  </div>
  <div class="buttons-set">
    <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
    <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
  </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var addProductsForm = new VarienForm('addProductsForm', true);
//]]>
</script>
