<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">BOOK A PROFESSIONAL</h4>
      </div>
      <div class="modal-body">
        <form action="<?php echo Mage::getUrl().'inquiry/index/bookprofessional'; ?>" id="bookProfessionalForm" method="post">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control required-entry" name="customer_name" placeholder="Name">
          </div>
          <div class="form-group">
            <label>Mobile:</label>
            <input type="tel" class="form-control required-entry" name="customer_mobile" placeholder="Mobile">
          </div>
          <div class="form-group">
            <label>Address:</label>
            <textarea class="form-control required-entry" name="customer_address"></textarea>
          </div>
          <div class="form-group">
            <label>Pin Code:</label>
            <input type="text" class="form-control required-entry" name="pincode" placeholder="Pin Code">
          </div>
          <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control required-entry" name="customer_email" placeholder="Email">
          </div>
          <div class="form-group">
            <label>Professionals:</label>
            <select class="form-control required-entry" name="professional_requirement">
              <option value="">Select a professional you are looking for</option>
              <option value="Civil engineer">Civil engineer</option>
              <option value="Architect">Architect</option>
              <option value="Site supervisor">Site supervisor</option>
              <option value="Interior designer">Interior designer</option>
              <option value="Material assistant">Material assistant</option>
              <option value="Fresher/interns">Fresher/interns</option>
              <option value="Masson">Masson</option>
              <option value="Helper">Helper</option>
              <option value="Contractors">Contractors</option>
              <option value="Home Builders">Home Builders</option>
              <option value="Kitchen remodelers">Kitchen remodelers</option>
              <option value="Swimming pool builders">Swimming pool builders</option>
              <option value="Windows Dealers">Windows Dealers</option>
              <option value="Painters">Painters</option>
              <option value="Stone, Tiles  Countertops Fixer">Stone, Tiles &amp; Countertops Fixer</option>
              <option value="Others">Others</option>
            </select>
          </div>
          <div class="form-group">
            <label>Describe Your Work:</label>
            <textarea class="form-control required-entry" name="comment"></textarea>
          </div>
          <div class="form-group">
            <label>Schedule Time:</label>
            <div class="form-group">
              <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span> </div>
              <input type="hidden" id="dtp_input1" value="" />
              <br/>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" value="Submit" class="btn btn-primary">
          </div>
      
        </form>
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
    var joinusForm = new VarienForm('bookProfessionalForm', true);
//]]>
</script> 