<?php 

$resultRequest = $this->productList(); 

$productEdit = $this->getEditProduct();

$pep = split('\.',@$productEdit['price']);
$price = $pep[0];
//var_dump($productEdit);

$category_id_hidden = '';
foreach($productEdit['category_id'] as $k=>$v){
  $category_id_hidden .= ','.$v;
}
//echo $category_id_hidden;die;
?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/fix-defer-before.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/prototype/window.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/hash.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/events.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/loader.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/grid.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/tabs.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/form.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/accordion.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/tools.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/uploader.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/product.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/calendar/calendar.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/ext-tree.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/fix-defer.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/ext-tree-checkbox.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/wysiwyg/tiny_mce/setup.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/variables.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/wysiwyg/widget.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/browser.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/extjs/fix-defer-before.js"></script>

<!-- 
**
**  list products 
**
-->

<div class="request_table"> <?php echo $this->getPagerHtml(); ?>
  <div class="box-account box-recent">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th>Created</th>
        <th>Updated</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <?php 
      if($resultRequest){  foreach($resultRequest as $rt){
          $dca = split(' ',$rt['created_at']);
          $dua = split(' ',$rt['updated_at']);
          $prc = split('\.',$rt['price']);
          $sts = ($rt['status']==1?'<span style="color:green;">Enabled</span>':'Disabled');

       	echo '<tr class="clicktagtr">
                          <td>'.$dca[0].'</td>
                          <td>'.$dua[0].'</td>
                          <td>'.$rt['sku'].'</td>
                          <td>'.substr(strip_tags($rt['name']),0,45).'...</td>
                          <td>'.$prc[0].'</td>
                          <td>'.$sts.'</td>';
		//echo '<td>[<a href="'.Mage::getBaseUrl("link").'product/index/edit?ep='.$rt['entity_id'].'&limit='.$resultRequest[0]['limit'].'&p='.$resultRequest[0]['page'].'">edit</a>][<a href="javascript:void();" onclick="javascript:sureDelete('.$rt['entity_id'].')">delete</a>]</td>';
		echo '<td><a href="'.Mage::getBaseUrl("link").'product/index/edit?ep='.$rt['entity_id'].'&limit='.$resultRequest[0]['limit'].'&p='.$resultRequest[0]['page'].'">Edit</a></td>';
		echo '</tr>';
        }
      }
        ///product/index/delete?p='.$rt['entity_id'].'
?>
    </table>
  </div>
  <?php echo $this->getPagerHtml(); ?>
  <p>&nbsp;</p>
</div>

<!-- 
**
**  end list products 
**
-->

<div style="clear:both;"></div>
<hr />
<p>&nbsp;</p>
<div class="showcase">
  <h3>Add and Edit Product</h3>
  <!-- 
**
**  form 
**
-->
  <form action="" method="post" name="showcaseform" id="product_edit_form" enctype="multipart/form-data">
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <?php /*?><td width="170">
        <div class="showcase_attribute"><?php */?> <?php /*?><strong>Attribute set:</strong><?php */?> 
            <!-- 
            **
            **  Product Attribute Set 
            **
            -->
            <?php /*?><div>
              <select name="set" id="set" onchange="getSetSelectAttribute();">
                <?php
				$entity_type_id = 4;
				$entitytype = Mage::getModel('eav/entity_type')->getCollection()->addFieldToFilter('entity_model', 'catalog/product');
				foreach($entitytype as $arrenty){
					$entity_type_id = $arrenty->getData('entity_type_id');
				}
              	$attributes = Mage::getModel('eav/entity_attribute_set')->getCollection()->addFieldToFilter('entity_type_id', $entity_type_id);

                foreach($attributes as $arrt){
                   echo '<option value="'.$arrt->getData('attribute_set_id').'" '.(@$productEdit['attribute_set_id']==$arrt->getData('attribute_set_id')?'selected="selected"':'').'> '.$arrt->getData('attribute_set_name').'</option>';
                 }
                 ?>
              </select>
            </div><?php */?>
            <!-- 
            **
            **  Product Type	simple,	grouped, configurable,	virtual,	bundle,	downloadable 
            **
            -->
            <?php /*?><input type="hidden" name="type" value="downloadable" /><?php */?>
            <input type="hidden" name="type" value="simple" />
            <?php /*?><div class="showcase_menu"> 
              <!-- 
                **
                **  Product Categories 
                **
                --> 
              <strong>Categories:</strong>
              <div> <?php echo $this->selectTreeCategory(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?> </div>
            </div>
            <div>
              <p>&nbsp;</p>
              <button onclick="javascript:newproduct();return false;">Clear form, add product</button>
            </div>
          </div></td><?php */?>
        <td><div class="block"> 
            <!-- 
            **
            **  General 
            **
            ** product[name]
            ** product[description]
            ** product[short_description]
            ** product[sku]
            ** product[status]
            ** product[visibility]
            **
            -->
            <div class="block-title" id="generaltitle" onclick="showdiv('generaldiv');"><strong>General</strong></div>
            <div id="generaldiv">
              <p class="fieldbg"><strong>Title <span style="color:red;">*</span></strong><br />
                <input type="text" id="product_name" name="product[name]" value="<?php echo @$productEdit['name']; ?>" />
              </p>
              
              <p class="fieldbg"><strong>Short description <span style="color:red;">*</span></strong><br />
                <textarea id="product_short_description" name="product[short_description]"><?php echo @$productEdit['short_description']; ?></textarea>
              </p>
              
              <p class="fieldbg"><strong>Description <span style="color:red;">*</span></strong><br />
                <textarea id="product_description" name="product[description]"><?php echo @$productEdit['description']; ?></textarea>
              </p>
              
              <p class="fieldbg"><strong>SKU <span style="color:red;">*</span></strong><br />
                <input type="text" id="product_sku" name="product[sku]" value="<?php echo @$productEdit['sku']; ?>" />
              </p>
              
              <p class="fieldbg"><strong>Category <span style="color:red;">*</span></strong><br />
                <div>
	            <?php //echo $this->selectTreeCategory(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?>
            	
				<?php /*?><select name="category" class="required-entry validate-select">
                    	<option value="">--Select Category--</option>
						<?php echo $this->selectTreeCategoryDropdown(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?>
                </select><?php */?>
                
                <?php $selectedCategoryID = $productEdit['category_id'][0];?>
				<select name="category_ids" id="category_ids" class="required-entry validate-select">
                    <option value="">--Select Category--</option>
                    <?php
                        $categoryHelper = Mage::helper("sarah")->getCategoriesDropdown();
                        foreach($categoryHelper as $value){
                            foreach($value as $key => $val){
                                if($key=='label'){
                                    $categoryName = $val;
                                }
                                if($key=='value'){
                                    $categoryId = $val;
                                }
                                if($key=='level'){
                                    $categoryLevel 	= 	$val;
                                    $space 			=	'';
                                    for($i=1; $i<$categoryLevel; $i++){
                                        $space = $space."-";
                                    }
                                    $categoryName = $space.$categoryName;
                                 }
                            }
                          ?>
                          <option value="<?php echo $categoryId; ?>" <?php if( $selectedCategoryID == $categoryId ){?>selected="selected"<?php } ?>><?php echo $categoryName ?></option>
                     <?php } ?>
                </select>
					
				<?php //echo $this->selectTreeCategoryDropdown(Mage::app()->getStore()->getRootCategoryId(), @$productEdit['category_id']); ?> </div>
              </p>
              
              <?php /*?><p class="fieldbg"><strong>Status <span style="color:red;">*</span></strong><br />
                <select name="product[status]">
                  <option value="1" <?=(@$productEdit['status']==1?'selected="selected"':'')?>>Enabled</option>
                  <option value="2" <?=(@$productEdit['status']==2?'selected="selected"':'')?>>Disabled</option>
                </select>
              </p><?php */?>
              <input type="hidden" name="product[visibility]" value="4" />
            </div>
            
            <!-- 
            **
            **  Prices 
            **
            ** product[price]
            **
            -->
            <div class="block-title" id="pricetitle" onclick="showdiv('pricediv');"><strong>Prices</strong></div>
            <div id="pricediv">
              <p class="fieldbg"><strong>Price <span style="color:red;">*</span></strong><br />
                <input type="text" id="product_price" name="product[price]" value="<?php echo @$price; ?>" />
              </p>
            </div>
            
            <!-- 
            **
            **  Images 
            **
            -->
            <div class="block-title" id="imagetitle" onclick="showdiv('imagediv');"><strong>Images</strong></div>
            <div id="imagediv">
              <div  id="media_gallery_content">
                <div class="grid"> 
                <script type="text/javascript">
				  var save = [];
				</script>
                  <table cellspacing="0" width="100%">
                    <col width="70" />
                    <col />
                    <col width="30" />
                    <col width="40" />
                    <col width="40" />
                    <col width="40" />
                    <col width="50" />
                    <col width="50" />
                    <thead>
                      <tr class="headings">
                        <th><?php echo Mage::helper('catalog')->__('Image') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Label') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Sort') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Image') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Small') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Thumb') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Exclude') ?></th>
                        <th class="last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
                      </tr>
                    </thead>
                    <tbody id="media_gallery_content_list">
                      <tr id="media_gallery_content_template" class="template no-display">
                        <td class="cell-image"><div class="place-holder" onmouseover="media_gallery_contentJsObject.loadImage('__file__')"><span>Roll Over for preview</span></div>
                          <img src="<?=Mage::getBaseUrl("web");?>/skin/adminhtml/default/default/images/spacer.gif" width="60" style="display:none;" alt="" /></td>
                        <td class="cell-label"><input type="text" class="input-text" onkeyup="media_gallery_contentJsObject.updateImage('__file__')" onchange="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                        <td class="cell-position"><input type="text"  style="width:30px;" class="input-text validate-number" onkeyup="media_gallery_contentJsObject.updateImage('__file__')" onchange="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                        <td class="cell-image a-center"><input  type="radio" name="product[image]" onclick="media_gallery_contentJsObject.setProductImages('__file__')" value="__file__" /></td>
                        <td class="cell-small_image a-center"><input  type="radio" name="product[small_image]" onclick="media_gallery_contentJsObject.setProductImages('__file__')" value="__file__" /></td>
                        <td class="cell-thumbnail a-center"><input  type="radio" name="product[thumbnail]" onclick="media_gallery_contentJsObject.setProductImages('__file__')" value="__file__" /></td>
                        <td class="cell-disable a-center"><input type="checkbox"  onclick="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                        <td class="cell-remove a-center last"><input type="checkbox"  onclick="media_gallery_contentJsObject.updateImage('__file__')" /></td>
                      </tr>
                      <tr id="media_gallery_content-image-0">
                        <td class="cell-image">No</td>
                        <td class="cell-label"><input type="hidden" />
                          &nbsp;</td>
                        <td class="cell-position"><input type="hidden" />
                          &nbsp;</td>
                        <td class="cell-image a-center"><input type="radio"  name="product[image]" onclick="media_gallery_contentJsObject.setProductImages('no_selection')" value="no_selection" /></td>
                        <td class="cell-small_image a-center"><input type="radio"  name="product[small_image]" onclick="media_gallery_contentJsObject.setProductImages('no_selection')" value="no_selection" /></td>
                        <td class="cell-thumbnail a-center"><input type="radio"  name="product[thumbnail]" onclick="media_gallery_contentJsObject.setProductImages('no_selection')" value="no_selection" /></td>
                        <td class="cell-disable"><input type="hidden" />
                          &nbsp;</td>
                        <td class="cell-remove last"><input type="hidden" />
                          &nbsp;</td>
                      </tr>
                      <?php foreach($productEdit['image'] as $kv){ ?>
                      <script type="text/javascript">
					  var save_obj = {
						"value_id":"<?php echo $kv['value_id']; ?>",
						"file":"<?php echo $kv['value']; ?>",
						"label":"<?php echo $kv['label']; ?>",
						"position":"<?php echo $kv['position']; ?>",
						"disabled":"<?php echo $kv['disabled']; ?>",
						"label_default":"<?php echo $kv['label']; ?>",
						"position_default":"<?php echo $kv['position']; ?>",
						"disabled_default":"<?php echo $kv['disabled']; ?>",
						"url":"<?php echo Mage::getBaseUrl('web').'media/catalog/product'.$kv['value']; ?>",
						"removed":"0"
					  }
					
					  save.push(save_obj);
					
					</script>
                      <?php } ?>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="100" class="last" style="padding:8px">
                        <!-- 
                        **
                        **  flex images
                        **
                        -->
                          
                          <div id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-flash" class="flex" style="position:relative;float:right;">
                            <embed quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" left="100" top="300" src="<?php echo Mage::getBaseUrl('web'); ?>skin/adminhtml/default/default/media/uploader.swf" wmode="transparent" name="flexMovieUID1" flashvars="bridgeName=flexMovieUID1bridge" allowfullscreen="true" height="20" width="230"> 
                          </div>
                          <div id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader" class="uploader">
                            <div class="buttons">
                              <div id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-install-flash" style="display:none"> This content requires last version of Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a> </div>
                            </div>
                            <div class="clear"></div>
                            <div class="no-display" id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-template">
                              <div id="{{id}}" class="file-row"> <span class="file-info">{{name}} ({{size}})</span> <span class="delete-button">
                                <button id="{{id}}-delete" title="Remove" type="button" class="scalable delete" onclick="id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject.removeFile('{{fileId}}')" style=""><span><span><span>Remove</span></span></span></button>
                                </span> <span class="progress-text"></span>
                                <div class="clear"></div>
                              </div>
                            </div>
                            <div class="no-display" id="id_2ae1264f5c19e1db1580e98f51ec3175_Uploader-template-progress"> {{percent}}% {{uploaded}} / {{total}} </div>
                          </div>
                          <script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/lib/flex.js"></script> 
                          <script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/mage/adminhtml/flexuploader.js"></script> 
                          <script type="text/javascript" src="<?php echo Mage::getBaseUrl(); ?>js/lib/FABridge.js"></script> 
                          <script type="text/javascript">
							//<![CDATA[
							
							var maxUploadFileSizeInBytes = 10097152;
							var maxUploadFileSize = '10M';
							
							id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject = new Flex.Uploader('id_2ae1264f5c19e1db1580e98f51ec3175_Uploader', '<?php echo Mage::getBaseUrl(); ?>skin/adminhtml/default/default/media/uploader.swf', {"url":"<?php echo str_replace('/','\/', Mage::getBaseUrl('link')); ?>product\/index\/upload\/key\/d9c878b694d1a2785b319b0eb0cad41b\/?SID=99gb4uemdf2ihudgiqv4t3igl4","params":{"form_key":"gn0aHDfjLLxXQFGN"},"file_field":"image","filters":{"images":{"label":"Images (.gif, .jpg, .png)","files":["*.gif","*.jpg","*.jpeg","*.png"]}}});
							
							if (varienGlobalEvents) {
								varienGlobalEvents.attachEventHandler('tabChangeBefore', id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject.onContainerHideBefore);
							}
							
							//]]>
							</script>
                          </td>
                      </tr>
                    </tfoot>
                  </table>
                  
                  <!-- 
                    **
                    **  form_key
                    ** product[media_gallery][images] ... media_gallery_content_save
                    ** product[media_gallery][values] ... media_gallery_content_save_image
                    **
                    -->
                  <input type="hidden" name="form_key" value="gn0aHDfjLLxXQFGN" />
                  <input type="hidden" name="product[media_gallery][images]" id="media_gallery_content_save" value="" />
                  <input type="hidden" name="product[media_gallery][values]" id="media_gallery_content_save_image" value="" />
                </div>
              </div>
            </div>
            <div id="addnewfields"> 
              <!--additional fields--> 
            </div>
            
            <!-- 
            **
            **  Downloadable Information
            **
            -->
            <?php /*?><div class="block-title" id="downlodabletitle" onclick="showdiv('downlodablediv');"><strong>Downloadable Information</strong></div>
            <div id="downlodablediv"> 
              
              <!-- downloadable -->
              <div id="product_info_tabs_downloadable_items_content"> 
				<script type="text/javascript">
//<![CDATA[>

var uploaderTemplate = '<div class="no-display" id="[[idName]]-template">' +
                            '<div id="{{id}}" class="file-row file-row-narrow">' +
                                '<span class="file-info">' +
                                    '<span class="file-info-name">{{name}}</span>' +
                                    ' ' +
                                    '<span class="file-info-size">({{size}})</span>' +
                                '</span>' +
                                '<span class="progress-text"></span>' +
                                '<div class="clear"></div>' +
                            '</div>' +
                        '</div>' +
                            '<div class="no-display" id="[[idName]]-template-progress">' +
                            '{{percent}}% {{uploaded}} / {{total}}' +
                            '</div>';

var fileListTemplate = '<span class="file-info">' +
                            '<span class="file-info-name">{{name}}</span>' +
                            ' ' +
                            '<span class="file-info-size">({{size}})</span>' +
                        '</span>';

var Downloadable = {
    uploaderObj : $H({}),
    objCount : 0,
    setUploaderObj : function(type, key, obj){
        if (!this.uploaderObj.get(type)) {
            this.uploaderObj.set(type, $H({}));
        }
        this.uploaderObj.get(type).set(key, obj);
    },
    getUploaderObj : function(type, key){
        try {
            return this.uploaderObj.get(type).get(key);
        } catch (e) {
            try {
                console.log(e);
            } catch (e2) {
                alert(e.name + '\n' + e.message);
            }
        }
    },
    unsetUploaderObj : function(type, key){
        try {
            this.uploaderObj.get(type).unset(key);
        } catch (e) {
            try {
                console.log(e);
            } catch (e2) {
                alert(e.name + '\n' + e.message);
            }
        }
    },
    massUploadByType : function(type){
        try {
            this.uploaderObj.get(type).each(function(item){
                container = item.value.container.up('tr');
                if (container.visible() && !container.hasClassName('no-display')) {
                    item.value.upload();
                } else {
                    Downloadable.unsetUploaderObj(type, item.key);
                }
            });
        } catch (e) {
            try {
                console.log(e);
            } catch (e2) {
                alert(e.name + '\n' + e.message);
            }
        }
    }
};

Downloadable.FileUploader = Class.create();
Downloadable.FileUploader.prototype = {
    type : null,
    key : null, //key, identifier of uploader obj
    elmContainer : null, //insert Flex object and templates to elmContainer
    fileValueName : null, //name of field of JSON data of saved file
    fileValue : null,
    idName : null, //id name of elements for unique uploader
    uploaderText: uploaderTemplate,
    uploaderSyntax : /(^|.|\r|\n)(\[\[(\w+)\]\])/,
    uploaderObj : $H({}),
    config : null,
    initialize: function (type, key, elmContainer, fileValueName, fileValue ,idName, config) {
        this.type = type;
        this.key = key;
        this.elmContainer = elmContainer;
        this.fileValueName = fileValueName;
        this.fileValue = fileValue;
        this.idName = idName;
        this.config = config;
        uploaderTemplate = new Template(this.uploaderText, this.uploaderSyntax);
                Element.insert(
            elmContainer,
            {'top' : uploaderTemplate.evaluate({
                    'idName' : this.idName,
                    'fileValueName' : this.fileValueName,
                    'uploaderObj' : 'Downloadable.getUploaderObj(\''+this.type+'\', \''+this.key+'\')'
                })
            }
        );
        if ($(this.idName+'_save')) {
            $(this.idName+'_save').value = this.fileValue.toJSON
               ? this.fileValue.toJSON()
               : Object.toJSON(this.fileValue);
        }
        Downloadable.setUploaderObj(
            this.type,
            this.key,
            new Flex.Uploader(this.idName, '<?=Mage::getBaseUrl();?>/skin/adminhtml/default/default/media/uploaderSingle.swf', this.config)
        );
        if (varienGlobalEvents) {
            varienGlobalEvents.attachEventHandler('tabChangeBefore', Downloadable.getUploaderObj(type, key).onContainerHideBefore);
        }
        new Downloadable.FileList(this.idName, Downloadable.getUploaderObj(type, key));
            }
}

Downloadable.FileList = Class.create();
Downloadable.FileList.prototype = {
    file: [],
    containerId: '',
    container: null,
    uploader: null,
    fileListTemplate: fileListTemplate,
    templatePattern : /(^|.|\r|\n)({{(\w+)}})/,
    listTemplate : null,
    initialize: function (containerId, uploader) {
        this.containerId  = containerId,
        this.container = $(this.containerId);
        this.uploader = uploader;
        this.uploader.onFilesComplete = this.handleUploadComplete.bind(this);
        this.file = this.getElement('save').value.evalJSON();
        this.listTemplate = new Template(this.fileListTemplate, this.templatePattern);
        this.updateFiles();
        this.uploader.onFileRemoveAll = this.handleFileRemoveAll.bind(this);
        this.uploader.onFileSelect = this.handleFileSelect.bind(this);
    },
    handleFileRemoveAll: function(fileId) {
        $(this.containerId+'-new').hide();
        $(this.containerId+'-old').show();
    },
    handleFileSelect: function() {
        $(this.containerId+'_type').checked = true;
    },
    getElement: function (name) {
        return $(this.containerId + '_' + name);
    },
    handleUploadComplete: function (files) {
        files.each(function(item) {
           if (!item.response.isJSON()) {
                try {
                    console.log(item.response);
                } catch (e2) {
                    alert(item.response);
                }
               return;
           }
           var response = item.response.evalJSON();
           if (response.error) {
               return;
           }
           var newFile = {};
           newFile.file = response.file;
           newFile.name = response.name;
           newFile.size = response.size;
           newFile.status = 'new';
           this.file[0] = newFile;
           this.uploader.removeFile(item.id);
        }.bind(this));
        this.updateFiles();
    },
    updateFiles: function() {
        this.getElement('save').value = this.file.toJSON
            ? this.file.toJSON()
            : Object.toJSON(this.file);
        this.file.each(function(row){
            row.size = this.uploader.formatSize(row.size);
            $(this.containerId + '-old').innerHTML = this.listTemplate.evaluate(row);
            $(this.containerId + '-new').hide();
            $(this.containerId + '-old').show();
        }.bind(this));
    }
}

var alertAlreadyDisplayed = false;

Validation.addAllThese([
    ['validate-downloadable-file', 'Please upload a file.', function(v,element) {
            linkType = element.up(0).down('input[value="file"]');
            if (linkType.checked && (v == '' || v == '[]')) {
                newFileContainer = element.up(0).down('div.new-file');
                if (!alertAlreadyDisplayed && (newFileContainer.empty() || newFileContainer.style.display != 'none')) {
                    alertAlreadyDisplayed = true;
                    alert('There are files that were selected but not uploaded yet. Please upload or remove them first');
                }
                return false;
            }
            return true;
        }]
    ]);

Validation.addAllThese([
    ['validate-downloadable-url', 'Please specify Url.', function(v,element) {
            linkType = element.up(0).down('input[value="url"]');
            if (linkType.checked && v == '') {
                return false;
            }
            return true;
        }]
    ]);
//]]>
</script>
                <div class="entry-edit">
                  <dl id="tab_content_downloadableInfo" name="tab_content_downloadableInfo" class="accordion">
                    
                    <!-- 
                    **
                    **  Samples
                    **
                    -->
                    <dt id="dt-samples" class=""><strong>Samples</strong></dt>
                    <dd id="dd-samples" class="">
                      	<div class="fieldset" style="margin:0px; padding:3px;">
                        <table cellspacing="0" class="form-list">
                          <tbody>
                            <tr class="headings">
                              <td class="label"><label for="name">Title</label></td>
                              <td class="value"><input type="text" class="input-text" name="product[samples_title]" value="<?php echo @$productEdit['samples_title']; ?>"  /></td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <div class="grid">
                          <div class="hor-scroll">
                            <table cellspacing="0" class="data border">
                              <col />
                              <col width="1" />
                              <col width="1" />
                              <col width="1" />
                              <thead>
                                <tr class="headings">
                                  <th>Title <span class="required">*</span></th>
                                  <th><span class="nobr">Sort Order</span></th>
                                  <th>&nbsp;</th>
                                </tr>
                              </thead>
                              <tfoot>
                                <tr>
                                  <td colspan="4" class="a-right"><button  id="add_sample_item" title="Add New Row" type="button" class="scalable add" onclick="" style=""><span><span><span>Add New Row</span></span></span></button>
                                    &nbsp;
                                    <button  title="Upload Files" type="button" class="scalable " onclick="Downloadable.massUploadByType('samples')" style=""><span><span><span>Upload Files</span></span></span></button></td>
                                </tr>
                              </tfoot>
                              <tbody id="sample_items_body">
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
						<script type="text/javascript">

function hidesampletr(id){
  document.getElementById('sampletr1'+id).style.display='none';
  document.getElementById('sampletr2'+id).style.display='none';
}

//<![CDATA[>
var sampleTemplate = '<tr id="sampletr1{{sample_id}}">'+
                        '<td>'+
                            '<input type="hidden" class="__delete__" name="downloadable[sample][{{id}}][is_delete]" value="" />'+
                            '<input type="hidden" name="downloadable[sample][{{id}}][sample_id]" value="{{sample_id}}" />'+
                            '<input type="text" class="required-entry input-text" name="downloadable[sample][{{id}}][title]" value="{{title}}" style="width:380px;" />'+
                            ''+
                        '</td>'+
                        '<td class="a-center"><input type="text" name="downloadable[sample][{{id}}][sort_order]" value="{{sort_order}}" class="input-text sort" style="width:50px;" /></td>'+
                        '<td>'+
                            '<button type="button" class="scalable delete icon-btn delete-sample-item" onclick="hidesampletr({{sample_id}});"><span><span><span>Delete</span></span></span></button>'+
                        '</td>'+
                    '</tr><tr id="sampletr2{{sample_id}}">'+
                    '<td colspan="3">'+
                    '<div class="files-wide">'+
                                '<div class="row">'+
                                    '<label for="downloadable_sample_{{id}}_file_type"><input type="radio" class="radio validate-one-required-by-name" id="downloadable_sample_{{id}}_file_type" name="downloadable[sample][{{id}}][type]" value="file"{{file_checked}} /> File:</label>'+
                                    '<input type="hidden" class="validate-downloadable-file" id="downloadable_sample_{{id}}_file_save" name="downloadable[sample][{{id}}][file]" value="{{file_save}}" />'+
                                    '<div id="downloadable_sample_{{id}}_file" class="uploader">'+
                                        '<div id="downloadable_sample_{{id}}_file-old" class="file-row-info"></div>'+
                                        '<div id="downloadable_sample_{{id}}_file-new" class="file-row-info new-file"></div>'+
                                        '<div class="buttons">'+
                                            '<div id="downloadable_sample_{{id}}_file-install-flash" style="display:none">'+
                                                'This content requires last version of Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="clear"></div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="row">'+
                                    '<label for="downloadable_sample_{{id}}_url_type"><input type="radio" class="radio validate-one-required-by-name" id="downloadable_sample_{{id}}_url_type" name="downloadable[sample][{{id}}][type]" value="url"{{url_checked}} /> URL:</label> <input type="text" class="validate-downloadable-url input-text" name="downloadable[sample][{{id}}][sample_url]" value="{{sample_url}}" style="width:450px;" />'+
                                '</div>'+
                                '<div>'+
                                    '<span id="downloadable_sample_{{id}}_container"></span>'+
                                '</div>'+
                            '</div>'+
                    '<br /><hr style="border:1px dashed #999999;" /><br /></td>'+
                    '</tr>';
var sampleItems = {
    tbody : $('sample_items_body'),
    templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
    templateText : sampleTemplate,
    itemCount : 0,
    add : function(data) {
        alertAlreadyDisplayed = false;
        this.template = new Template(this.templateText, this.templateSyntax);

        if(!data.sample_id){
            data = {};
            data.sample_type = 'file';
            data.sample_id  = 0;
        }

        data.id = this.itemCount;

        if (data.sample_type == 'url') {
            data.url_checked = ' checked="checked"';
        } else if (data.sample_type == 'file') {
            data.file_checked = ' checked="checked"';
        }

        Element.insert(this.tbody, {'bottom':this.template.evaluate(data)});

        scopeTitle = $('downloadable_sample_'+data.id+'_title');
        if (scopeTitle) {
            Event.observe(scopeTitle, 'click', function(event){
                scopeElm = $(Event.findElement(event, 'input'));
                titleField = scopeElm.up(0).down('input[type="text"]');
                if (scopeElm.checked == true) {
                    titleField.disabled = true;
                } else {
                    titleField.disabled = false;
                }
            });
        }
        if (!data.store_title && scopeTitle) {
            scopeTitle.up(0).down('input[type="text"]').disabled = true;
            scopeTitle.checked = true;
        }

        sampleUrl = $('downloadable_sample_'+data.id+'_url_type');

        if (!data.file_save) {
            data.file_save = [];
        }
        new Downloadable.FileUploader(
            'samples',
            data.id,
            sampleUrl.up('td').down('div.uploader'),
            'downloadable[sample]['+data.id+']',
            data.file_save,
            'downloadable_sample_'+data.id+'_file',
            {"url":"<?php echo str_replace('/','\/',Mage::getBaseUrl('link')); ?>product\/index\/downloadableupload\/type\/samples\/key\/5f1c87fd0cea69563a4e829ba06b9616\/?SID=16bblj105lu5ir7p2v6arkd3s4","params":{"form_key":"gn0aHDfjLLxXQFGN"},"file_field":"samples","filters":{"all":{"label":"All Files","files":["*.*"]}},"replace_browse_with_remove":true,"width":"32","hide_upload_button":true}        );
        sampleUrl.advaiceContainer = 'downloadable_sample_'+data.id+'_container';
        sampleFile = $('downloadable_sample_'+data.id+'_file_type');
        sampleFile.advaiceContainer = 'downloadable_sample_'+data.id+'_container';
        $('downloadable_sample_'+data.id+'_file_save').advaiceContainer = 'downloadable_sample_'+data.id+'_container';

        this.itemCount++;
        this.bindRemoveButtons();
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'tr'));
        alertAlreadyDisplayed = false;
        if(element){
            element.down('input[type="hidden"].__delete__').value = '1';
            element.down('div.flex').remove();
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('tbody#sample_items_body .delete-sample-item');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }
    }
}

sampleItems.bindRemoveButtons();

if($('add_sample_item')){
    Event.observe('add_sample_item', 'click', sampleItems.add.bind(sampleItems));
}

<?php if(@$productEdit['sample']){ foreach($productEdit['sample'] as $psl){ ?>

sampleItems.add({"sample_id":"<?php echo $psl['sample_id']; ?>","title":"<?php echo $psl['title']; ?>","sample_url":<?php echo (isset($psl['sample_url'])?'"'.str_replace('/','\/',$psl['sample_url']).'"':'null'); ?>,"sample_type":"<?php echo $psl['sample_type']; ?>","sort_order":"<?php echo $psl['sort_order']; ?>","file_save":[{"file":"<?php echo str_replace('/','\/',$psl['sample_file']); ?>","name":"<?php echo str_replace('/a/l/','',$psl['sample_file']); ?>","size":<?php echo filesize(Mage_Downloadable_Model_Sample::getBasePath().$psl['sample_file']); ?>,"status":"old"}],"store_title":"<?php echo $psl['title']; ?>"});

<?php }} ?>

//]]>
</script> 
                    </dd>
                    
                    <!-- 
                    **
                    **  Links
                    **
                    -->
                    <dt id="dt-links" class=" open"><br />
                      <strong>Links</strong></dt>
                    <dd id="dd-links" class=" open">
                      <div class="fieldset" style="margin:0px; padding:3px;">
                        <table cellspacing="0" class="form-list">
                          <tbody>
                            <tr class="headings">
                              <td class="label"><label for="name">Title</label></td>
                              <td class="value"><input type="text" class="input-text" id="downloadable_links_title" name="product[links_title]" value="<?php echo @$productEdit['links_title']; ?>"  /></td>
                            </tr>
                          </tbody>
                        </table>
                        <input type="hidden" name="product[links_purchased_separately]" id="downloadable_link_purchase_type" value="1" />
                        <br />
                        <div class="grid">
                          <div class="hor-scroll">
                            <table cellspacing="0" class="data border">
                              <col width="33%" />
                              <col />
                              <col />
                              <col />
                              <col width="1" />
                              <col width="1" />
                              <col width="1" />
                              <col width="1" />
                              <thead>
                                <tr class="headings">
                                  <th>Title <span class="required">*</span></th>
                                  <th>Shareable</th>
                                  <th><span class="nobr">Downloads</span></th>
                                  <th><span class="nobr">Sort</span></th>
                                  <th>&nbsp;</th>
                                </tr>
                              </thead>
                              <tfoot>
                                <tr>
                                  <td colspan="8" class="a-right"><button  id="add_link_item" title="Add New Row" type="button" class="scalable add" onclick="" style=""><span><span><span>Add New Row</span></span></span></button>
                                    &nbsp;
                                    <button  title="Upload Files" type="button" class="scalable " onclick="Downloadable.massUploadByType('links');Downloadable.massUploadByType('linkssample')" style=""><span><span><span>Upload Files</span></span></span></button></td>
                                </tr>
                              </tfoot>
                              <tbody id="link_items_body">
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
					<script type="text/javascript">
function hidelinkstr(id){
  document.getElementById('linkstr1'+id).style.display='none';
  document.getElementById('linkstr2'+id).style.display='none';
  document.getElementById('linkstr3'+id).style.display='none';
}

//<![CDATA[
var linkTemplate = '<tr id="linkstr1{{link_id}}">'+
        '<td>'+
        '<input type="hidden" class="__delete__" name="downloadable[link][{{id}}][is_delete]" value="" />'+
        '<input type="hidden" name="downloadable[link][{{id}}][link_id]" value="{{link_id}}" />'+
        '<input type="text" class="required-entry input-text" name="downloadable[link][{{id}}][title]" value="{{title}}" style="width:250px;" />'+
        ''+
    '</td>'+
    '<td class="a-center">'+
        '<select id="downloadable_link _{{id}}_shareable" name="downloadable[link][{{id}}][is_shareable]">'+
            '<option value="1">Yes</option>'+
            '<option value="0">No</option>'+
            '<option value="2" selected="selected">Use config</option>'+
        '</select>'+
    '</td>'+
        '<input type="hidden" id="downloadable_link_{{id}}_price_value" class="input-text validate-number link-prices" name="downloadable[link][{{id}}][price]" value="0.00" /> ' +
        '<td><input type="text" id="downloadable_link_{{id}}_downloads" name="downloadable[link][{{id}}][number_of_downloads]" class="input-text downloads" value="{{number_of_downloads}}" style="width:70px;" />'+
    '<p><input type="checkbox" class="checkbox" id="downloadable_link_{{id}}_is_unlimited" name="downloadable[link][{{id}}][is_unlimited]" value="1" {{is_unlimited}} /> <label>Unlimited</label></p></td>'+
    '<td class="a-center"><input type="text" name="downloadable[link][{{id}}][sort_order]" value="{{sort_order}}" class="input-text sort" style="width:30px;" /></td>'+
    '<td>'+
        '<button id="downloadable_link_{{id}}_delete_button" type="button" class="scalable delete icon-btn delete-link-item" onclick="hidelinkstr({{link_id}});"><span><span><span>Delete</span></span></span></button>'+
    '</td>'+
'</tr><tr id="linkstr2{{link_id}}">'+
'<td colspan="6">'+
        '<div><strong>Sample:</strong></div>'+
        '<div class="files">'+
            '<div class="row">'+
                '<label for="downloadable_link_{{id}}_sample_file_type"><input type="radio" class="radio" id="downloadable_link_{{id}}_sample_file_type" name="downloadable[link][{{id}}][sample][type]" value="file"{{sample_file_checked}} /> File:</label>'+
                '<input type="hidden" id="downloadable_link_{{id}}_sample_file_save" name="downloadable[link][{{id}}][sample][file]" value="{{sample_file_save}}" />'+
                '<div id="downloadable_link_{{id}}_sample_file" class="uploader">'+
                    '<div id="downloadable_link_{{id}}_sample_file-old" class="file-row-info"></div>'+
                    '<div id="downloadable_link_{{id}}_sample_file-new" class="file-row-info"></div>'+
                    '<div class="buttons">'+
                        '<div id="downloadable_link_{{id}}_sample_file-install-flash" style="display:none">'+
                            'This content requires last version of Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a>'+
                        '</div>'+
                    '</div>'+
                    '<div class="clear"></div>'+
                '</div>'+
            '</div>'+
            '<div class="row">'+
                '<label for="downloadable_link_{{id}}_sample_url_type"><input type="radio" class="radio" id="downloadable_link_{{id}}_sample_url_type" name="downloadable[link][{{id}}][sample][type]" value="url"{{sample_url_checked}} /> URL:</label><input type="text" class="input-text" name="downloadable[link][{{id}}][sample][url]" value="{{sample_url}}" style="width:450px;" />'+
            '</div>'+
            '<div>'+
                '<span id="downloadable_link_{{id}}_sample_container"></span>'+
            '</div>'+
        '</div><br />'+
    '</td>'+
'</tr><tr id="linkstr3{{link_id}}">'+
'<td colspan="6">'+
        '<div><strong>File:</strong></div>'+
        '<div class="files">'+
            '<div class="row">'+
                '<label for="downloadable_link_{{id}}_file_type"><input type="radio" class="radio validate-one-required-by-name" id="downloadable_link_{{id}}_file_type" name="downloadable[link][{{id}}][type]" value="file"{{file_checked}} /> File:</label>'+
            '<input type="hidden" class="validate-downloadable-file" id="downloadable_link_{{id}}_file_save" name="downloadable[link][{{id}}][file]" value="{{file_save}}" />'+
                '<div id="downloadable_link_{{id}}_file" class="uploader">'+
                    '<div id="downloadable_link_{{id}}_file-old" class="file-row-info"></div>'+
                    '<div id="downloadable_link_{{id}}_file-new" class="file-row-info new-file"></div>'+
                    '<div class="buttons">'+
                        '<div id="downloadable_link_{{id}}_file-install-flash" style="display:none">'+
                            'This content requires last version of Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a>'+
                        '</div>'+
                    '</div>'+
                    '<div class="clear"></div>'+
                '</div>'+
            '</div>'+
            '<div class="row">'+
                '<label for="downloadable_link_{{id}}_url_type"><input type="radio" class="radio validate-one-required-by-name" id="downloadable_link_{{id}}_url_type" name="downloadable[link][{{id}}][type]" value="url"{{url_checked}} /> URL:</label><input type="text" class="validate-downloadable-url input-text" name="downloadable[link][{{id}}][link_url]" value="{{link_url}}" style="width:450px;" />'+
            '</div>'+
            '<div>'+
                '<span id="downloadable_link_{{id}}_link_container"></span>'+
            '</div>'+
        '</div><br /><hr style="border:1px dashed #999999;" /><br />'+
    '</td>'+
'</tr>';

var linkItems = {
    tbody : $('link_items_body'),
    templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
    templateText : linkTemplate,
    itemCount : 0,
    add : function(data) {
        alertAlreadyDisplayed = false;
        this.template = new Template(this.templateText, this.templateSyntax);

        if(!data.link_id){
            data = {};
            data.link_id  = 0;
            data.link_type = 'file';
            data.sample_type = 'none';
            data.number_of_downloads = '0';
        }

        data.id = this.itemCount;

        if (data.link_type == 'url') {
            data.url_checked = ' checked="checked"';
        } else if (data.link_type == 'file') {
            data.file_checked = ' checked="checked"';
        }
        if (data.sample_type == 'url') {
            data.sample_url_checked = ' checked="checked"';
        } else if (data.sample_type == 'file') {
            data.sample_file_checked = ' checked="checked"';
        }

        Element.insert(this.tbody, {'bottom':this.template.evaluate(data)});

        scopeTitle = $('downloadable_link_'+data.id+'_title');
        if (scopeTitle) {
            Event.observe(scopeTitle, 'click', function(event){
                scopeElm = $(Event.findElement(event, 'input'));
                titleField = scopeElm.up(0).down('input[type="text"]');
                if (scopeElm.checked == true) {
                    titleField.disabled = true;
                } else {
                    titleField.disabled = false;
                }
            });
        }
        if (!data.store_title && scopeTitle) {
            scopeTitle.up(0).down('input[type="text"]').disabled = true;
            scopeTitle.checked = true;
        }

        scopePrice = $('downloadable_link_'+data.id+'_price');
        if (scopePrice) {
            Event.observe(scopePrice, 'click', function(event){
                scopeElm = $(Event.findElement(event, 'input'));
                priceField = scopeElm.up(0).down('input[type="text"]');
                if (scopeElm.checked == true) {
                    priceField.disabled = true;
                } else {
                    priceField.disabled = false;
                }
            });
        }
        if (!data.website_price && scopePrice) {
            scopePrice.up(0).down('input[type="text"]').disabled = true;
            scopePrice.checked = true;
        }
        downloadsElm = $('downloadable_link_'+data.id+'_downloads');
        isUnlimitedElm = $('downloadable_link_'+data.id+'_is_unlimited');
        if (data.is_unlimited) {
            downloadsElm.disabled = true;
        }
        Event.observe(isUnlimitedElm, 'click', function(event){
            elm = Event.element(event);
            elm.up('td').down('input[type="text"].downloads').disabled = elm.checked;
        });

        if (data.is_shareable) {
            options = $('downloadable_link _'+data.id+'_shareable').options;
            for (var i=0; i < options.length; i++) {
                if (options[i].value == data.is_shareable) {
                    options[i].selected = true;
                }
            }
        }

        sampleUrl = $('downloadable_link_'+data.id+'_sample_url_type');
        linkUrl = $('downloadable_link_'+data.id+'_url_type');

        if (!data.file_save) {
            data.file_save = [];
        }
        if (!data.sample_file_save) {
            data.sample_file_save = [];
        }

        // link sample file
        new Downloadable.FileUploader(
            'linkssample',
            'linkssample_'+data.id,
            sampleUrl.up('td'),
            'downloadable[link]['+data.id+'][sample]',
            data.sample_file_save,
            'downloadable_link_'+data.id+'_sample_file',
            {"url":"<?php echo str_replace('/','\/',Mage::getBaseUrl('link')); ?>product\/index\/downloadableupload\/type\/link_samples\/key\/5f1c87fd0cea69563a4e829ba06b9616\/?SID=16bblj105lu5ir7p2v6arkd3s4","params":{"form_key":"gn0aHDfjLLxXQFGN"},"file_field":"link_samples","filters":{"all":{"label":"All Files","files":["*.*"]}},"replace_browse_with_remove":true,"width":"32","hide_upload_button":true}        );
        // link file
        new Downloadable.FileUploader(
            'links',
            'links_'+data.id,
            linkUrl.up('td'),
            'downloadable[link]['+data.id+']',
            data.file_save,
            'downloadable_link_'+data.id+'_file',
            {"url":"<?php echo str_replace('/','\/',Mage::getBaseUrl('link')); ?>product\/index\/downloadableupload\/type\/links\/key\/5f1c87fd0cea69563a4e829ba06b9616\/?SID=16bblj105lu5ir7p2v6arkd3s4","params":{"form_key":"gn0aHDfjLLxXQFGN"},"file_field":"links","filters":{"all":{"label":"All Files","files":["*.*"]}},"replace_browse_with_remove":true,"width":"32","hide_upload_button":true}        );

        linkFile = $('downloadable_link_'+data.id+'_file_type');
        linkFile.advaiceContainer = 'downloadable_link_'+data.id+'_link_container';
        linkUrl.advaiceContainer = 'downloadable_link_'+data.id+'_link_container';
        $('downloadable_link_'+data.id+'_file_save').advaiceContainer = 'downloadable_link_'+data.id+'_link_container';

        sampleFile = $('downloadable_link_'+data.id+'_sample_file_type');

        this.itemCount++;
        this.togglePriceFields();
        this.bindRemoveButtons();
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'tr'));
        alertAlreadyDisplayed = false;
        if(element){
            element.down('input[type="hidden"].__delete__').value = '1';
            Element.select(element, 'div.flex').each(function(elm){
                elm.remove();
            });
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('tbody#link_items_body .delete-link-item');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded && !$(buttons[i]).hasClassName('disabled')){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }
    },
    togglePriceFields : function(){
        var toogleTo = $('downloadable_link_purchase_type').value;
        var disableFlag = true;
        if (toogleTo == '1') {
            disableFlag = false;
        }
        $$('.link-prices[type="text"]').each(function(elm){
            var flag = disableFlag;
            if (elm.hasClassName('disabled')) {
                flag = true;
            }
            elm.disabled = flag;
        });
    }
}

linkItems.bindRemoveButtons();

if ($('downloadable_link_purchase_type')) {
    Event.observe('downloadable_link_purchase_type', 'change', linkItems.togglePriceFields.bind());
}

if($('add_link_item')) {
    Event.observe('add_link_item', 'click', linkItems.add.bind(linkItems));
}


<?php if(@$productEdit['links']){ foreach($productEdit['links'] as $pls){ ?>

    linkItems.add({"link_id":"<?php echo $pls['link_id']; ?>","title":"<?php echo $pls['title']; ?>","price":"0.00","number_of_downloads":"<?php echo $pls['number_of_downloads']; ?>","is_shareable":"<?php echo $pls['is_shareable']; ?>","link_url":<?php echo (isset($pls['link_url'])?'"'.str_replace('/','\/',$pls['link_url']).'"':'null'); ?>,"link_type":"<?php echo $pls['link_type']; ?>","sample_file":<?php echo (isset($pls['sample_file'])?'"'.str_replace('/','\/',$pls['sample_file']).'"':'null'); ?>,"sample_url":<?php echo (isset($pls['sample_url'])?'"'.str_replace('/','\/',$pls['sample_url']).'"':'null'); ?>,"sample_type":<?php echo (isset($pls['sample_type'])?'"'.$pls['sample_type'].'"':'null'); ?>,"sort_order":"<?php echo $pls['sort_order']; ?>","file_save":[{"file":"<?php echo str_replace('/','\/',$pls['link_file']); ?>","name":"<a href=\"<?php echo str_replace('/','\/',Mage::getBaseUrl('link')); ?>product\/index\/link\/id\/<?php echo $pls['link_id']; ?>\/key\/4d47168280e41d1930f20275b43842dc\/\"><?php echo str_replace('/a/l/','',$pls['link_file']); ?><\/a>","size":<?php echo filesize(Mage_Downloadable_Model_Link::getBasePath().$pls['link_file']); ?>,"status":"old"}],"sample_file_save":[{"file":"<?php echo str_replace('/','\/',$pls['sample_file']); ?>","name":"<?php echo str_replace('/a/l/','',$pls['sample_file']); ?>","size":<?php echo filesize(Mage_Downloadable_Model_Link::getBaseSamplePath().$pls['sample_file']); ?>,"status":"old"}],"is_unlimited":" checked=\"checked\""});

<?php }} ?>

Validation.addAllThese([
    ['validate-downloadable-link-sample-file', 'Please specify File.', function(v,element) {
            fileSaveElm = element.up('div').next('input[type="hidden"]');
            if (element.checked && (fileSaveElm.value == '' || fileSaveElm.value == '[]')) {
                return false;
            }
            return true;
        }]
    ]);
Validation.addAllThese([
    ['validate-downloadable-link-sample-url', 'Please specify Sample URL.', function(v,element) {
            if (element.checked && element.up('p').down('input[type="text"]').value == '') {
                return false;
            }
            return true;
        }]
    ]);
//]]>
</script> 
                    </dd>
                  </dl>
				<script type="text/javascript">
                    tab_content_downloadableInfoAccordionJs = new varienAccordion('tab_content_downloadableInfo', '');
                </script> 
                </div>
                <div style="display:none">
                  <div id="custom-advice-container"></div>
                </div>
                <!--
                <div><input type="hidden" name="affect_downloadable_information" value="1" /></div>
                --> 
              </div>
              <!-- downloadable --> 
              
            </div>
            <p>&nbsp;</p><?php */?>
            
            <!-- 
            **
            **  hidden
            **
            -->
            <input type="hidden" name="product[tax_class_id]" value="0" />
            <input type="hidden" name="product[custom_design]" value="" />
            <input type="hidden" name="product[page_layout]" value="one_column" />
            <input type="hidden" name="product[options_container]" value="container2" />
            <input type="hidden" name="product[use_config_gift_message_available]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_min_sale_qty]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_manage_stock]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_max_sale_qty]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_notify_stock_qty]" value="1" />
            <input type="hidden" name="product[stock_data][use_config_enable_qty_increments]" value="1" />
            <input type="hidden" name="product[website_ids][]" value="1" />
            <!--<input type="hidden" value="<?php echo @$category_id_hidden; ?>" name="category_ids" id="category_ids">-->
            <?php if($productEdit){ ?>
            <input type="hidden" value="<?php echo @$productEdit['entity_id']; ?>" name="id">
            <?php } ?>
			<div class="buttons-set" align="center">
            	<button class="button" title="Submit" type="submit" id="showcaseformsavebutton" onclick="showcaseformpresubmit(); return false;"><span><span>Submit</span></span></button>
            </div>
              
            <?php /*?><p align="center">
              <button class="button" id="showcaseformsavebutton" onclick="showcaseformpresubmit(); return false;" type="button" title="Save"><span>Save</span></button>
            </p><?php */?>
          </div></td>
      </tr>
    </table>
  </form>
</div>

<script type="text/javascript">

function showcaseformpresubmit(){
  var err = 0;
  if(document.getElementById('product_name').value==''){ err = 1; }else
  if(document.getElementById('product_description').value==''){ err = 2; }else
  if(document.getElementById('product_short_description').value==''){ err = 3; }else
  if(document.getElementById('product_sku').value==''){ err = 4; }else
  if(document.getElementById('product_price').value==''){ err = 5; }

  if(err){
    switch(err){
      case 1: 
        alert("Name field is not set"); 
        break;
      case 2: 
        alert("Description field is not set"); 
        break;
      case 3: 
        alert("Short description field is not set"); 
        break;
      case 4: 
        alert("SKU field is not set"); 
        break;
      case 5: 
        alert("Price field is not set"); 
        break;
      default: 
        alert("Javascript Error"); 
        break;
    }
    err = 0;
    return false;
  }else{
    document.forms['showcaseform'].submit();
  }
}

/* 
**
**  for my additional attributes ... Ajax
**
*/

function getSetSelectAttribute(){
  var FORM_KEY = 'gn0aHDfjLLxXQFGN';
  var mydiv = document.getElementById('addnewfields');
  mydiv.innerHTML = "";

  new Ajax.Request('<?=Mage::getBaseUrl("link");?>product/index/additionalfields', {
    method:'get',
    parameters: {setp: document.getElementById("set").value, entid: <?php echo (@$productEdit['entity_id']>0?@$productEdit['entity_id']:0); ?>, form_key: FORM_KEY},
    onSuccess: function(transport) {
      var response = transport.responseText || "no response text";
      //alert("Success! \n\n" + response);
      var obja = JSON.parse(response);
      for(var jr=0; jr<obja.attributes.length; jr++){   
      if(obja.attributes[jr].attribute_id.length>0){     
        var newdiv = document.createElement('div');
        newdiv.setAttribute('class','block-title');
        newdiv.setAttribute('id','af-title'+obja.attributes[jr].group_id);        
        newdiv.setAttribute('onclick',"showdiv('af-div"+obja.attributes[jr].group_id+"');");
        var newstrong = document.createElement('strong');
        var newtext=document.createTextNode(obja.attributes[jr].group_name);
        mydiv.appendChild(newdiv);
        newdiv.appendChild(newstrong);
        newstrong.appendChild(newtext);

        var newdiv2 = document.createElement('div');
        newdiv2.setAttribute('id','af-div'+obja.attributes[jr].group_id);
        mydiv.appendChild(newdiv2);
        for(var rt=0; rt<obja.attributes[jr].attribute_id.length;rt++){
          var newp = document.createElement('p');
          var newstrong2 = document.createElement('strong');
          newdiv2.appendChild(newp);
          newp.appendChild(newstrong2);
          var newtext2=document.createTextNode(obja.attributes[jr].attribute_id[rt].label);
          newstrong2.appendChild(newtext2);
          if(obja.attributes[jr].attribute_id[rt].type=="text" && obja.attributes[jr].attribute_id[rt].input=="textarea"){
            var newstextarea = document.createElement('textarea');
            newstextarea.setAttribute('name','product['+obja.attributes[jr].attribute_id[rt].code+']');
            newdiv2.appendChild(newstextarea);
            var newtext3=document.createTextNode(obja.attributes[jr].attribute_id[rt].value);
            newstextarea.appendChild(newtext3);
          }
          if(obja.attributes[jr].attribute_id[rt].type=="varchar" && obja.attributes[jr].attribute_id[rt].input=="text"){
            var newstextarea = document.createElement('input');
            newstextarea.setAttribute('type','text');
            newstextarea.setAttribute('name','product['+obja.attributes[jr].attribute_id[rt].code+']');
            newstextarea.setAttribute('value',obja.attributes[jr].attribute_id[rt].value);
            newdiv2.appendChild(newstextarea);
          }
          if(obja.attributes[jr].attribute_id[rt].type=="int" && obja.attributes[jr].attribute_id[rt].input=="boolean"){
            var newsboolean = document.createElement('select');
            newsboolean.setAttribute('id',obja.attributes[jr].attribute_id[rt].code);
            newsboolean.setAttribute('name','product['+obja.attributes[jr].attribute_id[rt].code+']');
            newdiv2.appendChild(newsboolean);
            for(var ib=0; ib<2; ib++){
              var newsoption = document.createElement('option');
              newsoption.setAttribute('value',ib);
              if(obja.attributes[jr].attribute_id[rt].value==ib){
                newsoption.setAttribute('selected','selected');
              }
              newsboolean.appendChild(newsoption);
              if(ib==0){
                var newsoptiontext=document.createTextNode("No");
              }else{
                var newsoptiontext=document.createTextNode("Yes");
              }
              newsoption.appendChild(newsoptiontext);
            }
          }

        }

        var newstyle = document.createElement('style');
        var newtextstyle=document.createTextNode("#af-div"+obja.attributes[jr].group_id+" { display:none; } #af-div"+obja.attributes[jr].group_id+" p{ margin:0px; } #af-div"+obja.attributes[jr].group_id+" textarea, #af-div"+obja.attributes[jr].group_id+" input{ width:98%; }");
        mydiv.appendChild(newstyle);
        newstyle.appendChild(newtextstyle);
      }
    }
    },
    onFailure: function() { alert('Javascript Error'); }
  });

  //alert(document.getElementById("set").value);
}

getSetSelectAttribute();

/* 
**
**  for blocks ... show/hide
**
*/

function showdiv(id){
  var dform = document.getElementById(id).style.display;
  if(dform){
    if(dform=='none'){
      document.getElementById(id).style.display='block';
    }else{
      document.getElementById(id).style.display='none';
    }
  }else{
    document.getElementById(id).style.display='block';
  }
}


/* 
**
**  for set json images block
**
*/

function setArrSave(){
//alert(save.length + ' --- ' + save[1].url);
  var arr_save = '[';

  for(var i=0; i<save.length; i++){
      save[i].toString = function() {
       return '{"value_id":"' + this.value_id + '", "file":"' + this.file + '", "label":"' + this.label + '", "position":"' + this.position + '", "disabled":"' + this.disabled + '", "label_default":"' + this.label_default + '", "position_default":"' + this.position_default + '", "disabled_default":"' + this.disabled_default + '", "url":"' + this.url + '", "removed":"' + this.removed + '"}';
     }

     if(i>0){
      arr_save += ',' + save[i].toString();
    }else{
      arr_save += save[i].toString();
    }
  }

  arr_save += ']';

  return arr_save;
}

document.getElementById('media_gallery_content_save').value = setArrSave();


/* 
**
**  for Exclude
**
*/
function changeExclude(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      if(save[i].disabled=="0"){
        save[i].disabled="1";
      }else{
        save[i].disabled="0";
      }
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}

/* 
**
**  for Remove
**
*/
function changeRemove(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      if(save[i].removed=="0"){
        save[i].removed="1";
      }else{
        save[i].removed="0";
      }
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}

/* 
**
**  for Position
**
*/
function changePosition(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      save[i].position=document.getElementById('position_' + value_id).value;
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}

/* 
**
**  for Label
**
*/
function changeLabel(value_id){

  for(var i=0; i<save.length; i++){
  
    if(save[i].value_id==value_id){
      save[i].label=document.getElementById('label_' + value_id).value;
    }

  }

  document.getElementById('media_gallery_content_save').value = setArrSave();

}



/* 
**
**  for json images
**
*/

var save_image = {
    "image":"<?php echo $productEdit['image_radio']; ?>",
    "small_image":"<?php echo $productEdit['small_image_radio']; ?>",
    "thumbnail":"<?php echo $productEdit['thumb_image_radio']; ?>"
  };

save_image.toString = function() {
   return '{"image":"' + this.image.replace(/\//g,"\\\/") + '", "small_image":"' + this.small_image.replace(/\//g,"\\\/") + '", "thumbnail":"' + this.thumbnail.replace(/\//g,"\\\/") + '"}';
 }

document.getElementById('media_gallery_content_save_image').value = save_image.toString();

function setImageProduct(alias){
  //alert(alias);
  save_image.image = alias;
  document.getElementById('media_gallery_content_save_image').value = save_image.toString();
}

function setSmallImageProduct(alias){
  //alert(alias);
  save_image.small_image = alias;
  document.getElementById('media_gallery_content_save_image').value = save_image.toString();
}

function setThumbnailProduct(alias){
  //alert(alias);
  save_image.thumbnail = alias;
  document.getElementById('media_gallery_content_save_image').value = save_image.toString();
}




/* 
**
**  for category check
**
*/
function categorytree(id){
    var t = ","+id;
    var c = document.getElementById("category_ids").value;
    var pos = c.indexOf(t);
  if(document.getElementById("checkcat"+id).checked==true){
    if( pos == -1 ){
      c += t;
    }
  }else{
    c = c.replace(t,"");
  }
  document.getElementById("category_ids").value = c;
}

/* 
**
**  for confirm delete
**
*/
function sureDelete(id){
  if (confirm("The record will be deleted. Are you sure?")) {
    location = "<?=Mage::getBaseUrl('link');?>product/index/delete?p=" + id;
  }
}

/* 
**
**  for new product
**
*/
function newproduct(){
  location.href='<?=Mage::getBaseUrl("link");?>product';
}

</script> 

<!-- 
**
**  for block images ... read gallery
**
--> 
<script type="text/javascript">
//<![CDATA[
var media_gallery_contentJsObject = new Product.Gallery('media_gallery_content', id_2ae1264f5c19e1db1580e98f51ec3175_UploaderJsObject, {"image":{"label":"Base Image ","field":"product[image]"},"small_image":{"label":"Small Image ","field":"product[small_image]"},"thumbnail":{"label":"Thumbnail ","field":"product[thumbnail]"}});

//setInterval(function(){
 // console.log("JSON : %1", media_gallery_contentJsObject.images.url);
//}, 5000);
//]]>
</script>
<style type="text/css">
.total{font-size:18px;}
#generaldiv, #pricediv, #imagediv, #additionalfieldsdiv, #downlodablediv{/*display:none;*/}
.headings th{border:1px solid #dddddd;padding:2px;font-weight:bold;}
.headings td{border:1px solid #dddddd;padding:2px;}
.showcase_attribute{width:160px;float:left; border:1px solid #dddddd; padding:5px;background-color:#ffffff;}
.showcase_menu{width:150px; position:relative; float:right;  padding:5px;overflow-x:scroll;background-color:#ffffff;margin:10px 0 0 0;}
.showcase_menu ul{width:250px;}
.showcase_menu ul li ul, .showcase_menu ul li ul li ul, .showcase_menu ul li ul li ul li ul{padding-left:10px;}
.generalblock{border:1px solid #dddddd;}
.titlebg{background-color:#E26703;color:#ffffff;margin:0px;padding:0px 0px 0px 5px;border:1px solid #fff;cursor:pointer;}
.block-title{cursor:pointer;}
.fieldbg{padding:0px 0px 10px 5px;margin:0px;}
.fieldbg input, .fieldbg textarea{width:98%;}
.request_table td, .request_table th{padding:3px;}
.request_table th{font-weight:bold;border-bottom:1px solid #dddddd;}
.request_table td{border-bottom:1px solid #dddddd;}
.request_table table{width:100%;}
.request_new{color:#ff0000;}
.clicktagtr{cursor:pointer;}
</style>
