<?php
/**
 * Sidebar menu
 */
?>
<div class="category-wrapper col-xs-12 col-sm-3 margin-top-20">
<?php if (true){ ?>
    <h4><?php echo $this->__('Categories'); ?></h4>  
    <?php 
	$currentCategoryId         =   '2';    //  root category id of Default Category
	if($category = Mage::registry('current_category')){
		$currentCategoryId = $category->getId();
	}    
    //$categoryCollection 		=   Mage::getModel('catalog/category')->load($currentCategoryId);
	$parentCategoryCollection 	=   Mage::getModel('catalog/category')->load($category->getParentCategory()->getId());
	
    $childCategoryArray  		=   $parentCategoryCollection->getChildrenCategories();
    if(count($parentCategoryCollection) > 0) { ?>
    <?php if(count($childCategoryArray) > 0) { ?>
        <div class="panel-group" id="accordion">  
              <?php foreach($childCategoryArray as $key1) {
                $childCategoryCollection    =   Mage::getModel('catalog/category')->load($key1['entity_id']);
				if($childCategoryCollection->getIsActive()){
                	$levelTwoCategoryArray  =   $childCategoryCollection->getChildrenCategories()->toArray();
                	$childCategoryCount     =   count($levelTwoCategoryArray);	//	child of those category which are shown in left
               	?>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" id="<?php echo $currentCategoryId.'--'.$childCategoryCollection->getId().'---'.$key1['entity_id'];?>"> 
    
                      <a class="accordion-toggle"  
                    <?php if( $childCategoryCount == 0 && ($currentCategoryId!=$childCategoryCollection->getId())): ?>
                        href="<?php echo $childCategoryCollection->getUrl(); ?>"
                    <?php else:?>
                        href="#category-<?php echo $childCategoryCollection->getId();?>" data-toggle="collapse" data-parent="#accordion"
                    <?php endif;?>
                      > 
    
                      <?php echo $childCategoryCollection->getName();?> <?php if( $childCategoryCount > 0) {?><i class="indicator fa fa-plus pull-right"></i><?php } ?></a> </h4>
                    </div>
                <?php 
                    if( $childCategoryCount > 0) { ?>
                    <div id="category-<?php echo $childCategoryCollection->getId();?>" class="panel-collapse collapse">
                        <div class="panel-body">
                        <ul class="list-group">
                            <?php foreach($levelTwoCategoryArray as $key2) {    
                                $loadedCategoryCollection3        =   Mage::getModel('catalog/category')->load($key2['entity_id']);
                                $levelThreeCategoryArray    =   $loadedCategoryCollection3->getChildrenCategories()->toArray();
                                $childCategoryCount2        =   count($levelThreeCategoryArray);
                            ?>
                            <li class="list-group-item"><a href="<?php echo $loadedCategoryCollection3->getUrl(); ?>"> <?php echo $loadedCategoryCollection3->getName();?></a></li>
                            <?php  }    ?>
                        </ul>
                        </div>
                    </div>
                    <?php } //  end if  ?>
                  </div>
              <?php  }	//	end if
					}  // end foreach childCategoryArray    ?>
            </div>
    <?php } //  end if ?>
    <?php } //  end if ?>
<?php //echo $this->renderCategoriesMenuHtml(TRUE, 0, 'level-top'); ?>
<script type="text/javascript">
function toggleChevron(e) {
jQuery(e.target)
    .prev('.panel-heading')
    .find("i.indicator")
    .toggleClass('fa-minus fa-plus');
}
jQuery('#accordion').on('hidden.bs.collapse', toggleChevron);
jQuery('#accordion').on('shown.bs.collapse', toggleChevron);
</script>      
<?php }?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Pokyshop Main website -->
<ins class="adsbygoogle"
     style="display:block;width:220px;height:600px"
     data-ad-client="ca-pub-5752614690989252"
     data-ad-slot="6383730528"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magento.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magento.com for more information.
 *
 * @category    design
 * @package     rwd_default
 * @copyright   Copyright (c) 2006-2014 X.commerce, Inc. (http://www.magento.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/**
 * Category left navigation
 *
 * @see Mage_Catalog_Block_Navigation
 */
/*
?>
<?php if (!Mage::registry('current_category')) return ?>
<?php $_categories = $this->getCurrentChildCategories() ?>
<?php $_count = is_array($_categories)?count($_categories):$_categories->count(); ?>
<?php if($_count): ?>
<div class="block block-layered-nav block-layered-nav--no-filters">
    <div class="block-title">
        <strong><span><?php echo $this->__('Browse By') ?></span></strong>
    </div>
    <div class="block-content toggle-content open">
        <p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Filter') ?></p>
        <dl id="narrow-by-list2">
            <dt><?php echo $this->__('Category') ?></dt>
            <dd>
                <ol>
                <?php foreach ($_categories as $_category): ?>
                    <?php if($_category->getIsActive()): ?>
                    <li>
                        <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>>
                            <?php echo $this->escapeHtml($_category->getName()) ?>
                            <span class="count">(<?php echo $_category->getProductCount() ?>)</span>
                        </a>
                    </li>
                    <?php endif; ?>
                <?php endforeach ?>
                </ol>
            </dd>
        </dl>
        <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
    </div>
</div>
<?php endif; */?>
