<!--@subject Book a Professional email from Pokyshop.com! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p>Hi<br />
				Please check the inquiry submitted for book a professional.</p>
            <p class="highlighted-text">
                <strong>Name</strong>: {{var customer_name}}<br/>
                <strong>Email</strong>: {{var customer_email}}<br/>
                <strong>Phone No</strong>: {{var customer_mobile}}<br/>
                <strong>Address</strong>: {{var customer_address}}<br/>
                <strong>Postal Code</strong>: {{var pincode}}<br/>
                <strong>Comment</strong>: {{var comment}}
            </p>
            
            <p>
                If you have any questions, please feel free to contact us at
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}