<!--login pop up start here-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
      		<div class="modal-body">
        		<div id="login_popup_response_error"></div>
        		<div class="loginregister row">
          			<div class="formbox col-sm-6 col-xs-12">
            			<div>
                        	<h3>Existing user? <strong class="text-orange">Login</strong></h3>
                          	<form action="#" method="post" id="g-form-login">
                            <div class="form-group">
                              <label>Email Address<span>*</span></label>
                              <input type="text" name="login[username]" value="" id="gregistered-email" class="form-control required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                              <input type="hidden" name="referer" value="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" />
                            </div>
                            <div class="form-group">
                              <label>Password<span>*</span></label>
                              <input type="password" name="login[password]" class="form-control required-entry validate-password" id="gregistered-password" title="<?php echo $this->__('Password') ?>" />
                            </div>
                            <div id="footer-ajax-loader1" class="hidden"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                            <input type="submit" class="btn button-orange button--wayra" value="Sign in" name="submit-login" id="submit-login" />
                          </form>
                          	<a class="forgotpass" href="<?php echo Mage::getUrl('customer/account/forgotpassword')?>">Forgot Password?</a> 
                        </div>
            			<div>
                          <h4>Sign in <strong>with</strong>:</h4>
                          <div class="sociallog"> 
                     <!--      <?php //echo $this->getLayout()->createBlock("inchoo_socialconnect/facebook_button")->setTemplate("inchoo/socialconnect/facebook/button_login_popup.phtml")->toHtml(); ?> 

                          <?php //echo $this->getLayout()->createBlock("inchoo_socialconnect/google_button")->setTemplate("inchoo/socialconnect/google/button_login_popup.phtml")->toHtml(); ?> 

<a class="btn btn-block btn-social btn-google" href="<?php //echo $this->escapeUrl($this->_getButtonUrl()); ?>"><i class="fa fa-google-plus"></i>Sign in with Google</a> -->

							<a href="javascript:void(0)" onclick="gomageSocialFBLogin();return false;"  class="sign-btn sign-btn-facebook btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a> 

							<a href="<?php echo $this->getUrl('gomage_social/google/login', array('_secure' => true, 'gs_url' => Mage::helper('core')->urlEncode(Mage::helper('core/url')->getCurrentUrl())));  ?>" class="sign-btn sign-btn-twitter btn btn-block btn-social btn-google"><i class="fa fa-google-plus"></i>Sign in with Google</a>

                          </div>
                        </div>
          			</div>
          			<div class="seprater hidden-xs"></div>
          			<div class="formbox registerfom col-sm-6 col-xs-12">
                        <h3>New user? <strong class="text-orange">Register here</strong></h3>
                        <form action="#" id="g-form-register-customer">
                        	<input id="firstname" class="input-text required-entry" type="hidden" title="First Name" value="Dear" name="firstname" />
                        	<input id="lastname" class="input-text required-entry" type="hidden" title="Last Name" value="Customer" name="lastname" /> 
                          	<div class="form-group">
                            <label>Email Address<span>*</span></label>
                            <input id="gcreate-email-address" class="form-control validate-email required-entry" value="" name="email" type="email" />
                          </div>
                          	<div class="form-group">
                            <label>Password<span>*</span></label>
                            <input id="gcreate-password" class="form-control required-entry validate-password" type="password" name="password"/>
                          </div>
                          	<div class="form-group">
                            <label>Mobile No<span>*</span></label>
                            <input id="mobile_number" name="mobile_number" type="text" class="form-control required-entry validate-length maximum-length-10 minimum-length-10 validate-digits validate-mobileno" value="" title="Mobile Number">
                          </div>
                          	<div class="checkbox">
                            <label>
                              <input type="checkbox" name="is_subscribed" id="is_subscribed" value="1" checked="checked"/>
                              Send me email updates. </label>
                          </div>
                          	<div id="footer-ajax-loader2" class="hidden"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                          	<input type="submit" value="Sign Up" class="btn button-orange button--wayra" id="submit-create-account" />
                        </form>
                    </div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
<!--login pop up end here--> 

<script type="text/javascript">
jQuery(document).ready(function(){
	
	jQuery('#gregistered-email').val('');
	jQuery('#gcreate-password').val('');
	jQuery('#gcreate-email-address').val('');
	jQuery('#gregistered-password').val('');

	/* Login ajax */
	var loginForm = new VarienForm('g-form-login', true);
	jQuery('#g-form-login').submit(function(event) {
		event.preventDefault();
		//alert(loginForm.validator.validate());
		if(loginForm.validator.validate() === true) {
			var data = jQuery('#g-form-login').serialize();
			jQuery("#login_popup_response_error").hide();
			jQuery('#footer-ajax-loader1').removeClass('hidden');
			jQuery('#submit-login').attr('disabled','disabled');
			jQuery.ajax({
				url: "<?php echo $this->getUrl('ajaxlogin/account/guruthemeLogin') ?>",
				type : 'post',
				data: data,
				success: function(data){
					//alert(JSON.stringify(data));
					//alert(data);
					var parsedJson = jQuery.parseJSON(data);                      
					//alert(parsedJson.message);
					if(parsedJson.message){
						jQuery("#login_popup_response_error").show();
					  	jQuery('#footer-ajax-loader1').addClass('hidden');
						jQuery('#submit-login').attr("disabled", false); 
					  	jQuery('#login_popup_response_error').html(parsedJson.message).addClass('error-msg');
					}
					if(parsedJson.success){
						jQuery('#login_popup_response_error').html(parsedJson.message).addClass('success-msg');
						window.location = parsedJson.url;
					}
				}
			});
		}else{
			jQuery("#login_popup_response_error").hide();
			return false;
		}
	});
	
	/* Create account ajax */
	var createAccountForm = new VarienForm('g-form-register-customer', true);
	
	jQuery('#g-form-register-customer ').submit(function(event){
		event.preventDefault();
		if(createAccountForm.validator.validate() === true){
			var data = jQuery('#g-form-register-customer').serialize();
			jQuery("#login_popup_response_error").hide();
			jQuery('#footer-ajax-loader2').removeClass('hidden');
			jQuery('#submit-create-account').attr('disabled','disabled');
			
			jQuery.ajax({
				  url: "<?php echo $this->getUrl('ajaxlogin/account/createPost') ?>",
				  type : 'post',
				  data: data,
				  success: function(data){
					  //alert(JSON.stringify(data));
					  var parsedJson = jQuery.parseJSON(data);                      
					  //alert(parsedJson.message);
					  if(parsedJson.message){
						jQuery("#login_popup_response_error").show();
					  	jQuery('#footer-ajax-loader2').addClass('hidden');
						jQuery('#submit-create-account').attr("disabled", false); 
					  	jQuery('#login_popup_response_error').html(parsedJson.message).addClass('error-msg');
					  }
					  if(parsedJson.success){
						  jQuery('#login_popup_response_error').html(parsedJson.message).addClass('success-msg');
						 window.location = parsedJson.url;
					 }
				  }
			});
		}else{
			jQuery("#login_popup_response_error").hide();
			return false;			
		}
	});
});
</script>