
<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>

<ul class="add-to-links clearfix margin-top-10">
<?php if ($this->helper('wishlist')->isAllow()) : ?>
    <li><a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><i class="fa fa-heart-o"></i> <?php echo $this->__('Add to Wishlist') ?></a></li>
<?php endif; ?>
<?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
?>
<?php /*if($_compareUrl) : ?>
    <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-balance-scale"></i><?php echo $this->__('Add to Compare') ?></a></li>
<?php endif;*/ ?>

 <?php if ($this->canEmailToFriend()): ?>
        <li><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" class="link-email-friend" title="<?php echo $this->__('Email to a Friend') ?>"><i class="fa fa-envelope-o"></i><?php echo $this->__('Email to a Friend') ?></a></li>
    <?php endif; ?>

</ul>

