<?php $_product = $this->getProduct();
$_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product);
?>
<a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist link-wishlist btn button-orange button--wayra btn-cart"><?php echo $this->__('Save') ?></a>

<?php if($_product->getPrice()>1){
	$buttonTitle = $this->__('Add to Cart'); ?>
	<?php if($_product->isSaleable()): ?>
        <div class="add-to-cart margin-top-10">
            <?php if(!$_product->isGrouped()): ?>
            <div class="qty-wrapper col-md-3 col-sm-4 col-xs-5">
                <label for="qty"><?php echo $this->__('Qty:') ?></label>
                <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty form-control" />
            </div>
            <?php endif; ?>
            <div class="add-to-cart-buttons col-sm-6 col-xs-7">
                <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart btn button-orange button--wayra" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
                <?php echo $this->getChildHtml('', true, true) ?>
            </div>
        </div>
    <?php endif;
}?>
