@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body{font-family: 'Lato', sans-serif; color:#333;}
.banner-diva {background:url(../images/pokyshop-rajsthan-diva.jpg) center center #7A6AB3; background-size:cover; width: 100%; padding: 8% 0;}
.banner-inner {background:rgba(255,255,255,0.7); padding:10px;}
.logo {background:#060709; padding: 0 0 12px;}
.event-flow .list-unstyled {height:183px; padding:10px; color:#fff;}
.event-flow .col-sm-4:first-child .list-unstyled{background:rgba(127,109,171,0.8);border: 2px solid #8876B4;}
.event-flow .col-sm-4:nth-child(2) .list-unstyled{background:rgba(185,68,134,0.7);border: 2px solid #B94486;}
.event-flow .col-sm-4:nth-child(3) .list-unstyled{background:rgba(51,10,47,0.5);border: 2px solid #330A2F;}
.section-process .list-unstyled {height:111px; padding:10px; color:#fff;}
.section-process .col-sm-4:first-child .list-unstyled{background:rgb(127,109,171);border: 2px solid #8876B4;}
.section-process .col-sm-4:nth-child(2) .list-unstyled{background:rgb(185,68,134);border: 2px solid #B94486;}
.section-process .col-sm-4:nth-child(3) .list-unstyled{background:rgb(51,10,47);border: 2px solid #330A2F;}
.calender .col-sm-8 {float:none; margin:0 auto;}
.diva-event ul{margin-top: 30px;}
.form-control {height: auto;}
.diva-term {font-size:13px; line-height: 23px;}
.form-inner {background:#f2f2f2; padding:10px; box-shadow:0 0 7px #ccc inset;}
.contact-detail {    border: 2px solid #fff;
    border-radius: 10px;
    margin: 40px auto 0;
    padding: 10px;
    width: 222px;}
.contact-detail .list-unstyled > li {margin:10px 0;}
.diva-event, .bg-pink, .diva-form, .diva-term{margin-top:50px;}
.logo img {width:103px; margin:0 auto;}
.banner-inner h2 {margin:0 0 8px 0;}
.diva-event h2, .bg-pink h2, .diva-form h2, .diva-term h2, .banner-diva h2{color:#000; font-weight:300}
.diva-form img { margin:0 auto;}
.social a { border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    display: block;
    font-size: 20px;
    height: 30px;
    opacity: 0.6;
    padding: 4px 0;
    text-align: center;
    width: 30px;
}
.social {margin-top:43px;}
.social a:hover {opacity:1; border-color:#fff;}
.contact-sec li{width:50%; color:#fff;}
.contact-sec{margin-top:32px; opacity:0.8}

@media (max-width:767px) {
.contact-sec, .social {text-align:center;}