<div class="clearer">
    <div class="inchoo-socialconnect-facebook">
        <div class="inchoo-socialconnect-facebook-inner">
            <a href="<?php echo $this->escapeUrl($this->_getButtonUrl()); ?>"><?php echo $this->_getButtonText(); ?></a>
        </div>
        <div class="inchoo-socialconnect-facebook-right"></div>
    </div>
</div>
