<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $theme = $this->helper('ultimo'); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view nested-container" itemscope itemtype="http://schema.org/Product">

    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
    
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

		<?php
			//Calculate the width (in grid units) of the product page columns
			$imgColUnits = $theme->getCfg('product_page/image_column');
			$primaryColUnits = $theme->getCfg('product_page/primary_column');
			$secondaryColUnits = $theme->getCfg('product_page/secondary_column');
			
			if (empty($secondaryColUnits))
			{
				$primaryColUnits += 12 - ($imgColUnits + $primaryColUnits);
			}
		?>

        <div class="product-img-box grid12-<?php echo $imgColUnits; ?>">
            <?php echo $this->getChildHtml('media') ?>
            <?php //Product labels
				echo $this->helper('ultimo/labels')->getLabels($_product);
			?>
        </div>
        
        <div class="product-shop grid12-<?php echo $primaryColUnits; ?>">

            <div class="product-name" itemscope itemtype="http://schema.org/Product">
                <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
            
            <?php echo $this->getReviewsSummaryHtml($_product, 'aggregate', true); //reviews ?>
            
            <?php if ($_product->getShortDescription()): ?>
                <div class="short-description">
                    <div class="std" itemprop="description"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                </div>
            <?php endif;?>
            
            <?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
                <div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
            <?php endif; ?>
            
            <div class="product-type-data"><?php echo $this->getChildHtml('product_type_data'); ?></div>
            
            <?php echo $this->getTierPriceHtml(); //tier prices ?>

            <?php if (!$this->hasOptions()): //add to cart when no options ?>
                <?php if($_product->isSaleable()): ?>
                    <div class="add-to-box">
                        <?php echo $this->getChildHtml('addtocart') ?>
                    </div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php endif; ?>

            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php if ($container1_html = $this->getChildChildHtml('container1', '', true, true)): ?>
                    <div class="container1-wrapper"><?php echo $container1_html; ?></div>
                <?php endif; ?>
            <?php endif;?>
            
            <?php if ($addtoBoxHtml = $this->getChildHtml('addto')): //compare, wishlist ?>
                <div class="action-box addto-textlink clearer">
					<?php echo $addtoBoxHtml; ?>
					<?php if ($this->canEmailToFriend()): ?>
                    	<p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
                    <?php endif; ?>
				</div>
            <?php endif; ?>
            
            <?php echo $this->getChildHtml('sharing') ?>
            
            <?php echo $this->getChildHtml('alert_urls'); //alerts ?>
            <?php echo $this->getChildHtml('other'); ?>
            <?php echo $this->getChildHtml('product_primary_bottom_placeholder'); //Placeholder for extensions ?>
            
            <?php if ($tmpHtml = $this->getChildHtml('block_product_primary_bottom')): ?>
                <div class="block_product_primary_bottom"><?php echo $tmpHtml; ?></div>
            <?php endif; ?>

        </div> <!-- end: product-shop -->
        
        <?php if (!empty($secondaryColUnits)): ?>
            <div class="product-secondary-column grid12-<?php echo $secondaryColUnits; ?>">
            	<div class="inner">

					<?php //Placeholder for extensions ?>
					<?php if ($tmpHtml = trim($this->getChildHtml('product_secondary_top_placeholder'))): ?>
						<div class="feature-wrapper bottom-border"><?php echo $tmpHtml; ?></div>
                    <?php endif; ?>
					<?php echo '<div class="block_product_replace_related">'.$this->getChildHtml('related_products').'</div>';?>
                    
                    <?php if ($tmpHtml = $this->getChildHtml('block_product_secondary_bottom')): ?>
                        <div class="block_product_secondary_bottom"><?php echo $tmpHtml; ?></div>
                    <?php endif; ?>
                    
                    <?php //echo $this->getChildHtml('additional'); ?>
                    
                    

				</div>
            </div> <!-- end: product-secondary-column -->
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
			<?php if ($container2_html = $this->getChildChildHtml('container2', '', true, true)): ?>
        		<div class="box-additional grid-full">
					<div class="container2-wrapper"><?php echo $container2_html; ?></div>
				</div>
        	<?php endif; ?>
        <?php endif; ?>

    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    <!-- end of product-essential (class was removed) -->



	<?php //Product collaterals ?>
    <?php
    	$section = array();
		
		//Related products 
		//---------------------------------------------------------------------------
		/*$replaceRelated = $theme->getCfg('product_page/replace_related');
		if ($replaceRelated == 1) //don't replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('catalog.product.related')))
				$section['related'] = $tmpHtml;
			//$section['related'] = trim($this->getChildHtml('catalog.product.related'));
		}
		elseif ($replaceRelated == 2) //if related is empty, replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('catalog.product.related')))
				$section['related'] = $tmpHtml;
			else //related empty
				if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
					$section['related'] = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
		}
		elseif ($replaceRelated == 3) //replace with static block
		{
			if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
				$section['related'] = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
		}*/
		

		//Up-sell products
		//---------------------------------------------------------------------------
		$replaceUpsell = $theme->getCfg('product_page/replace_upsell');
		if ($replaceUpsell == 1) //don't replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('upsell_products')))
				$section['upsell'] = $tmpHtml;
			//$section['upsell'] = $this->getChildHtml('upsell_products');
		}
		elseif ($replaceUpsell == 2) //if upsell is empty, replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('upsell_products')))
				$section['upsell'] = $tmpHtml;
			else //upsell empty
				if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
					$section['upsell'] = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
		}
		elseif ($replaceUpsell == 3) //replace with static block
		{
			if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
				$section['upsell'] = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
		}
		
		//Compute grid units etc. for collateral blocks
		//---------------------------------------------------------------------------
		$sidebarGridClass 	= 'grid12-3';
		$tabsGridClass 		= 'grid-full';
		$upsellGridClass 	= 'grid-full';
		$upsellClasses = '';
		
		if (isset($section['related']))
		{
			$tabsGridClass		= 'grid12-9';
			$upsellGridClass	= 'grid12-9';
			$upsellClasses = 'in-col2'; //If sidebar displayed, upsell slider is narrow
		}
	?>
    
    
    <?php //Display collateral blocks
		  //--------------------------------------------------------------------------- ?>
    
	<div class="box-additional box-tabs <?php echo $tabsGridClass; ?>">
    	<?php $info_tabs_html = $this->getChildHtml('info_tabs');
			if (trim($info_tabs_html)) echo $info_tabs_html; ?>

		<?php //Open the "Reviews" tab, when "X Review(s)" or "Be the first to review this product" links are clicked ?>
		<script type="text/javascript">
			jQuery(function($){$("#goto-reviews, #goto-reviews-form").click(function(){if($("#product-tabs").hasClass("accor")){$("#product-tabs .tabs-panels").data("tabs").click($(".tabs-panels .acctab").index($("#acctab-tabreviews")))}else{$("#product-tabs .tabs").data("tabs").click($("#tab-tabreviews").index())}})});
		</script>
        
        <?php echo $this->getChildHtml('product_additional_data') ?>
	</div> <!-- end: box-tabs -->
    
    <?php
		if (isset($section['related']))
			echo '<div class="box-additional box-sidebar '. $sidebarGridClass .'"><div class="box-sidebar-inner">'. $section['related'] .'</div></div>';	
		if (isset($section['upsell']))
			echo '<div class="box-additional box-up-sell '. $upsellGridClass .' '. $upsellClasses .'">'. $section['upsell'] .'</div>';
	?>
    
    
</div> <!-- end: product-view -->
