<?php
/**
 * This file is part of The Official Amazon Payments Magento Extension
 * (c) Pay with Amazon
 * All rights reserved
 *
 * Reuse or modification of this source code is not allowed
 * without written permission from Pwatech
 *
 * @category   Pwa
 * @package    Pwa_PaywithAmazon
 * @copyright  Pay with Amazon
 * @author     Pay with Amazon
 */
if($this->getpwabuttonurl()){
$imageheight	= $this->getpwaimageheight().'px'; 
$imagewidth	= $this->getpwaimagewidth().'px';
?>
<div class="checkoutbyamazon-badge">
    <img src="<?php echo $this->getpwabuttonurl(); ?>" style=" height:<?php echo $imageheight?>; width:<?php echo $imagewidth?>;" alt="<?php echo $this->__('Checkout by Amazon'); ?>" title="<?php echo $this->__('Checkout by Amazon'); ?>" />

<?php } else {?>
<div class="checkoutbyamazon-badge">
    <img src="<?php echo $this->getAmazonBadgeUrl(); ?>" alt="<?php echo $this->__('Checkout by Amazon'); ?>" title="<?php echo $this->__('Checkout by Amazon'); ?>" />
</div>

<?php } ?>
