<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail" class="validate inline-form row">

   <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email col-sm-8 col-xs-12 required email" placeholder="Enter your email address"/>
    <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button button-sp"><?php echo $this->__('Subscribe') ?></button>
       
</form>
<script type="text/javascript">
//<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>