<div class="footer-container">
    <div class="footer">
	    <!-- static block  --> 
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links_company')->toHtml(); ?>
    </div>
</div>
<?php /*?><script>
	new gnMenu( document.getElementById( 'gn-menu' ) );
</script><?php */?>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59283686-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>frontend/pokyshopnew/theme1/js/swiper.min.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>frontend/pokyshopnew/theme1/js/classie.js"></script>

<!-- Initialize Swiper -->
<script type="text/javascript">
	var swiper = new Swiper('.swiper-parallax-container', {
		pagination: '.swiper-pagination',
		parallax: true,
		paginationClickable: true,
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: 5000,
		autoplayDisableOnInteraction: false
	});
</script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		paginationClickable: true,
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: 5000,
		autoplayDisableOnInteraction: false
	});
</script>

<script type="text/javascript">
	jQuery('#loginModal').on('shown.bs.modal', function () {
		jQuery('#myInput').focus()
	});
	<?php if(!($this->getRequest()->getModuleName()=="cms" && $this->getRequest()->getControllerName()=="page" && $this->getRequest()->getActionName()=="view")):?>
		jQuery( document ).ready(function(  ) {
	  		jQuery('html,body').animate({scrollTop:0}, 'slow');

		});
	<?php endif;?>
</script>

<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/bootstrap.css');?>" media="all" />

<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/common.css');?>" media="all" /> 

<!-- Only product detail page-->
<!-- <link rel="stylesheet" type="text/css" href="<?php // echo $this->getSkinUrl('css/product-detail.css');?>" media="all" /> -->

<!-- Home Page -->
<?php /*if($this->getRequest()->getControllerName()=="index" && $this->getRequest()->getActionName()=="index"):?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/home.css');?>" media="all" />
<?php endif;?>

<!-- Only category page-->
<?php if(($this->getRequest()->getControllerName()=="category" && $this->getRequest()->getActionName()=="view") || ($this->getRequest()->getModuleName()=='catalogsearch' && $this->getRequest()->getControllerName()=="result")):?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/catalog.css');?>" media="all" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/category.css');?>" media="all" /> 
<?php endif;?>

<!-- Cart Page -->
<?php if($this->getRequest()->getControllerName()=="cart" && $this->getRequest()->getActionName()=="index"):?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/cart.css');?>" media="all" />
<?php endif;?>

<!-- One Page Checkout Page -->
<?php if($this->getRequest()->getModuleName()=="onepage" && $this->getRequest()->getActionName()=="index"):?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/contact.css');?>" media="all" />
<?php endif;?>

<?php if($this->getRequest()->getModuleName()=="cms" && $this->getRequest()->getControllerName()=="page" && $this->getRequest()->getActionName()=="view"):?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/cms.css');?>" media="all" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('static-page.css');?>" media="all" />
<?php endif;?>

<?php if($this->getRequest()->getModuleName()=="contacts" && $this->getRequest()->getControllerName()=="index" && $this->getRequest()->getActionName()=="index"):?>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/contact.css');?>" media="all" />
<?php endif;*/?>

<?php /*echo " hi i m here ".$this->getRequest()->getModuleName()." ". $this->getRequest()->getControllerName()." ".$this->getRequest()->getActionName();*/?>

