<?php
/**
* Top menu for store
*
* @see Mage_Page_Block_Html_Topmenu
*/

$siteUrl		=	Mage::getBaseUrl();
	$rootcatId= Mage::app()->getStore()->getRootCategoryId();

	$categories = Mage::getModel('catalog/category')->getCategories($rootcatId);
	function  get_categories($categories) {  
      
	    foreach($categories as $category) {          

	        $cat = Mage::getModel('catalog/category')->load($category->getId());
          $imagePath = '';
          
          
          if($cat->getCategoryIcon() != '' || $cat->getCategoryIcon()!=null){
            $imagePath = '<img src="'.Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$cat->getCategoryIcon().'" style="width:20px;">';
          }
	        $array .= '<li class="has-children">'.$imagePath.
	        '<a href="' . Mage::getUrl($cat->getUrlPath()). '">' .
	                  $category->getName() ."</a>";
	        if($category->hasChildren()) {
	            $children = Mage::getModel('catalog/category')->getCategories($category->getId());
	             $array .=  '<ul class="gn-submenu">'.get_categories($children)."</ul>";
	            }
	         $array .= '</li>';
	    }
	    return $array;
	}
  get_categories($categories);
	?>
   <!-- header top-->
   <div class="modal fade search-popup" id="mySearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
      <div class="modal-body">
      <?php echo $this->getLayout()
                ->createBlock('core/template')
                ->setTemplate('catalogsearch/form.mini.phtml')->toHtml();?>
      </div>
      
    </div>
  </div>
</div>
   <div class="hidden-xs">
<div class="header-top clearfix">
<ul class="col-md-6 list-inline social-top hidden-xs hidden-sm">
<li><a href="https://www.facebook.com/pages/pokyshopcom/335131776671161">
<i class="fa fa-facebook"></i>
</a>
</li>
<li><a href="https://twitter.com/pokyshop">
<i class="fa fa-twitter"></i>
</a>
</li>
<li><a href="https://plus.google.com/u/0/104184118365463258982">
<i class="fa fa-google-plus"></i>
</a>
</li>
<li><a href="https://www.pinterest.com/pokyshop/">
<i class="fa fa-pinterest-p"></i>
</a>
</li>
<li><a href="https://instagram.com/pokyshop/">
<i class="fa fa-instagram"></i>
</a>
</li>
<li><a href="https://www.linkedin.com/company/pokyshop-com">
<i class="fa fa-linkedin"></i>
</a>
</li>
</ul>
<ul id="gn-menu" class="gn-menu-main col-md-6">
   <?php /*?><li class="gn-trigger">
      <a class="gn-icon-menu"><i class="fa fa-navicon"></i> <span class="hidden-xs">Menu</span></a>
      <nav class="gn-menu-wrapper">
         <div class="gn-scroller">
            <ul class="gn-menu">
            <?php echo get_categories($categories);?>
            </ul>
         </div>
      </nav>
   </li><?php */?><!--
   --><li class="logo-menu hide"> 
    <a class="logo" href="<?php echo Mage::getBaseUrl();?>">
      <img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));?>" alt="Pokyshop"/>
    </a></li><!--
   --><li class="add-cart-btn">
   	<?php
   		$_cartQty = Mage_Checkout_Block_Cart_Sidebar::getSummaryCount();
   		if(empty($_cartQty)) {
        	$_cartQty = 0;
    	}
   	?>
   	<a href="#" onclick="jQuery('#header-cart').stop().slideToggle(500);" class="btn cart-btn text-black"> 
   		<i class="fa fa-shopping-cart"></i>
   		<span class="badge"><?php echo $_cartQty;?></span> 
   	</a>
    <?php /*?>
   	<a href="<?php echo $this->helper('checkout/cart')->getCartUrl(); ?>" data-target-element="#header-cart" class="skip-link skip-cart <?php if($_cartQty <= 0): ?> no-count<?php endif; ?>">
	    <span class="icon"></span>
	    <span class="label"><?php echo $this->__('Cart'); ?></span>
	    <span class="count badge"><?php echo $_cartQty; ?></span>
	</a> <?php */ ?>
   </li><!--
--><li class="search-header">
   <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mySearch">
  <i class="fa fa-search"></i>
</button>
   </li><!--
   --><!--<li class="hidden-sm hidden-lg hidden-md divider-cls"></li>--><!--
   --><li class="menu-listing menu-logout">
    <?php
    $sessionCustomer = Mage::getSingleton("customer/session");
    if(!$sessionCustomer->isLoggedIn()) {
      ?>
      <button class="btn no-bg" id="login_signup_popup_button" data-toggle="modal" data-target="#loginModal">Login/Sign Up</button>
      <?php
    }
    else{
      ?>
      <a href="<?php echo Mage::getUrl('customer/account/logout'); ?>">Logout</a>
      </li><!--
      --><li class="menu-listing">
      

      <a href="<?php echo Mage::getUrl('customer/account/'); ?>">
      <?php 
        if (empty($this->_data['welcome'])) {
            if (Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) {

                if(Mage::getSingleton('customer/session')->getCustomer()->getFirstName()){
                  $this->_data['welcome'] = $this->__('Welcome, %s!', Mage::getSingleton('customer/session')->getCustomer()->getName());
                }
                else{
                    $this->_data['welcome'] = $this->__('Welcome');
                }
                
            } else {
                $this->_data['welcome'] = Mage::getStoreConfig('design/header/welcome');
            }

        }
        echo $this->_data['welcome'];
        ?>
      </a>
      <?php
    }
    ?>
   </li>
   <li class="menu-listing hidden-xs"> <a href="<?php echo Mage::getUrl('about-us'); ?>">About Pokyshop</a> </li><!--
   --><li class="menu-listing hidden-xs"> <a href="<?php echo Mage::getUrl();?>"><i class="fa fa-mobile"></i> +91 9929599580</a> </li>
</ul>
</div>


<!--S:VA	Menu-->
<!--menu container-->
<div class="menu-container">
  <div class="menu"> <a class="logo" href="<?php echo Mage::getBaseUrl();?>">
      <img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));?>" alt="Pokyshop"/>
    </a>
    <ul class="clearfix">
      <li class="gridmenu5"><a href="<?php echo $siteUrl.'products';?>"><i class="fa fa-cube" aria-hidden="true"></i> PRODUCTS</a>
      
		<?php
		$categoryID		=	'23';
		$subCategory 	= 	Mage::getModel('catalog/category')->load($categoryID)->getChildrenCategories()->toArray();
		//echo '<pre>'; print_r($subCategory); die;
		if(count($subCategory) > 0) {?>
			<ul>
			  	<?php foreach($subCategory as $key) {?>
				<li><a href="<?php echo $siteUrl.$key['request_path'];?>"><?php echo $key['name'];?></a>
                <?php
                $childCategory 	= 	Mage::getModel('catalog/category')->load($key['entity_id'])->getChildrenCategories()->toArray();
				$countChildCategory	=	count($childCategory);
				if($countChildCategory > 0){
					?>
					<ul>
                    	<?php $j=1;
						foreach($childCategory as $key2) {
							if($j>4){?>
								<li><a href="<?php echo $siteUrl.$key['request_path'];?>">View All</a></li>
							<?php break;
							}
							?>
							<li><a href="<?php echo $siteUrl.$key2['request_path'];?>"><?php echo $key2['name'];?></a></li>
                        <?php $j++;} ?>
                    </ul>
				<?php }
				?>                
                </li>
				<?php } ?>
			</ul>
		<?php } //die;?>
      </li>
      <li> <a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal"><i class="fa fa-user-secret" aria-hidden="true"></i> BOOK A PROFESSIONAL </a> </li>
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> SHOP BY USAGE</a>
      
      <?php
		$categoryID		=	'4';
		$subCategory 	= 	Mage::getModel('catalog/category')->load($categoryID)->getChildrenCategories()->toArray();
		//echo '<pre>'; print_r($subCategory); die;
		if(count($subCategory) > 0) {?>
			<ul>
			  	<?php foreach($subCategory as $key) {?>
				<li><a href="<?php echo $siteUrl.$key['request_path'];?>"><?php echo $key['name'];?></a>
                <?php
                $childCategory 	= 	Mage::getModel('catalog/category')->load($key['entity_id'])->getChildrenCategories()->toArray();
				$countChildCategory	=	count($childCategory);
				if($countChildCategory > 0){
					?>
					<ul>
                    	<?php $j=1;
						foreach($childCategory as $key2) {
							if($j>4){?>
								<li><a href="<?php echo $siteUrl.$key['request_path'];?>">View All</a></li>
							<?php break;
							}
							?>
							<li><a href="<?php echo $siteUrl.$key2['request_path'];?>"><?php echo $key2['name'];?></a></li>
                        <?php $j++;} ?>
                    </ul>
				<?php }
				?>                
                </li>
				<?php } ?>
           	</ul>
        <?php } ?>     
      </li>
      <li><a href="<?php echo $siteUrl.'pokyshop-work-stories';?>"><i class="fa fa-file-text-o" aria-hidden="true"></i> OUR WORK STORIES</a></li>
    </ul>
  </div>
</div>
<!--E:VA	Menu-->
</div>
<div class="hidden-lg hidden-sm hidden-md">
<!--S:VA	Menu-->
<!--menu container-->
<div class="menu-container">
  <div class="menu"> 
    <ul class="clearfix">
      <li><a href="<?php echo $siteUrl.'products';?>"><i class="fa fa-cube" aria-hidden="true"></i> PRODUCTS</a>
      
		<?php
		$categoryID		=	'23';
		$subCategory 	= 	Mage::getModel('catalog/category')->load($categoryID)->getChildrenCategories()->toArray();
		//echo '<pre>'; print_r($subCategory); die;
		if(count($subCategory) > 0) {?>
			<ul>
			  	<?php foreach($subCategory as $key) {?>
				<li><a href="<?php echo $siteUrl.$key['request_path'];?>"><?php echo $key['name'];?></a>
                <?php
                $childCategory 	= 	Mage::getModel('catalog/category')->load($key['entity_id'])->getChildrenCategories()->toArray();
				$countChildCategory	=	count($childCategory);
				if($countChildCategory > 0){
					?>
					<ul>
                    	<?php $j=1;
						foreach($childCategory as $key2) {
							if($j>4){?>
								<li><a href="<?php echo $siteUrl.$key['request_path'];?>">View All</a></li>
							<?php break;
							}
							?>
							<li><a href="<?php echo $siteUrl.$key2['request_path'];?>"><?php echo $key2['name'];?></a></li>
                        <?php $j++;} ?>
                    </ul>
				<?php }
				?>                
                </li>
				<?php } ?>
			</ul>
		<?php } //die;?>
      </li>
      <li> <a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal"><i class="fa fa-user-secret" aria-hidden="true"></i> BOOK A PROFESSIONAL </a> </li>
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> SHOP BY USAGE</a>
      
      <?php
		$categoryID		=	'4';
		$subCategory 	= 	Mage::getModel('catalog/category')->load($categoryID)->getChildrenCategories()->toArray();
		//echo '<pre>'; print_r($subCategory); die;
		if(count($subCategory) > 0) {?>
			<ul>
			  	<?php foreach($subCategory as $key) {?>
				<li><a href="<?php echo $siteUrl.$key['request_path'];?>"><?php echo $key['name'];?></a>
                <?php
                $childCategory 	= 	Mage::getModel('catalog/category')->load($key['entity_id'])->getChildrenCategories()->toArray();
				$countChildCategory	=	count($childCategory);
				if($countChildCategory > 0){
					?>
					<ul>
                    	<?php $j=1;
						foreach($childCategory as $key2) {
							if($j>4){?>
								<li><a href="<?php echo $siteUrl.$key['request_path'];?>">View All</a></li>
							<?php break;
							}
							?>
							<li><a href="<?php echo $siteUrl.$key2['request_path'];?>"><?php echo $key2['name'];?></a></li>
                        <?php $j++;} ?>
                    </ul>
				<?php }
				?>                
                </li>
				<?php } ?>
           	</ul>
        <?php } ?>     
      </li>
      <li><a href="<?php echo $siteUrl.'pokyshop-work-stories';?>"><i class="fa fa-file-text-o" aria-hidden="true"></i> OUR WORK STORIES</a></li>
    </ul>
    <a class="logo" href="<?php echo Mage::getBaseUrl();?>">
      <img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));?>" alt="Pokyshop"/>
    </a>
  </div>
  <div class="header-top clearfix">
<ul class="col-md-6 list-inline social-top hidden-xs hidden-sm">
<li><a href="https://www.facebook.com/pages/pokyshopcom/335131776671161">
<i class="fa fa-facebook"></i>
</a>
</li>
<li><a href="https://twitter.com/pokyshop">
<i class="fa fa-twitter"></i>
</a>
</li>
<li><a href="https://plus.google.com/u/0/104184118365463258982">
<i class="fa fa-google-plus"></i>
</a>
</li>
<li><a href="https://www.pinterest.com/pokyshop/">
<i class="fa fa-pinterest-p"></i>
</a>
</li>
<li><a href="https://instagram.com/pokyshop/">
<i class="fa fa-instagram"></i>
</a>
</li>
<li><a href="https://www.linkedin.com/company/pokyshop-com">
<i class="fa fa-linkedin"></i>
</a>
</li>
</ul>
<ul id="gn-menu" class="gn-menu-main col-md-6">
   <?php /*?><li class="gn-trigger">
      <a class="gn-icon-menu"><i class="fa fa-navicon"></i> <span class="hidden-xs">Menu</span></a>
      <nav class="gn-menu-wrapper">
         <div class="gn-scroller">
            <ul class="gn-menu">
            <?php echo get_categories($categories);?>
            </ul>
         </div>
      </nav>
   </li><?php */?><!--
   --><li class="logo-menu hide"> 
    <a class="logo" href="<?php echo Mage::getBaseUrl();?>">
      <img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));?>" alt="Pokyshop"/>
    </a></li><!--
   --><li class="add-cart-btn">
   	<?php
   		$_cartQty = Mage_Checkout_Block_Cart_Sidebar::getSummaryCount();
   		if(empty($_cartQty)) {
        	$_cartQty = 0;
    	}
   	?>
   	<a href="#" onclick="jQuery('#header-cart').stop().slideToggle(500);" class="btn cart-btn text-black"> 
   		<i class="fa fa-shopping-cart"></i>
   		<span class="badge"><?php echo $_cartQty;?></span> 
   	</a>
    <?php /*?>
   	<a href="<?php echo $this->helper('checkout/cart')->getCartUrl(); ?>" data-target-element="#header-cart" class="skip-link skip-cart <?php if($_cartQty <= 0): ?> no-count<?php endif; ?>">
	    <span class="icon"></span>
	    <span class="label"><?php echo $this->__('Cart'); ?></span>
	    <span class="count badge"><?php echo $_cartQty; ?></span>
	</a> <?php */ ?>
   </li><!--
--><li class="search-header">
   <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mySearch">
  <i class="fa fa-search"></i>
</button>
   </li><!--
   --><!--<li class="hidden-sm hidden-lg hidden-md divider-cls"></li>--><!--
   --><li class="menu-listing menu-logout">
    <?php
    $sessionCustomer = Mage::getSingleton("customer/session");
    if(!$sessionCustomer->isLoggedIn()) {
      ?>
      <button class="btn no-bg" id="login_signup_popup_button" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i></button>
      <?php
    }
    else{
      ?>
      <a class="logout-link" href="<?php echo Mage::getUrl('customer/account/logout'); ?>">Logout</a>
      </li><!--
      --><li class="menu-listing">
      

      <a href="<?php echo Mage::getUrl('customer/account/'); ?>">
     <?php /*?> <?php 
        if (empty($this->_data['welcome'])) {
            if (Mage::app()->isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) {

                if(Mage::getSingleton('customer/session')->getCustomer()->getFirstName()){
                  $this->_data['welcome'] = $this->__('Welcome, %s!', Mage::getSingleton('customer/session')->getCustomer()->getName());
                }
                else{
                    $this->_data['welcome'] = $this->__('Welcome');
                }
                
            } else {
                $this->_data['welcome'] = Mage::getStoreConfig('design/header/welcome');
            }

        }
        echo $this->_data['welcome'];
        ?><?php */?>
      </a>
      <?php
    }
    ?>
   </li>
   <li class="menu-listing hidden-xs"> <a href="<?php echo Mage::getUrl('about-us'); ?>">About Pokyshop</a> </li><!--
   --><li class="menu-listing hidden-xs"> <a href="<?php echo Mage::getUrl();?>"><i class="fa fa-mobile"></i> +91 9929599580</a> </li>
</ul>
</div>
</div>
<!--E:VA	Menu-->
</div>
<!--S:VA	BOOK A PROFESSIONAL-->
<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('forms/book-professional.phtml')->toHtml();?>
<!--E:VA	BOOK A PROFESSIONAL-->

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		jQuery('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
		jQuery('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
		jQuery(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\">&nbsp;</a>");
		jQuery(".menu > ul > li").hover(function(e) {
			if (jQuery(window).width() > 943) {
				jQuery(this).children("ul").stop(true, false).fadeToggle(150);
				e.preventDefault();
			}
		});
		jQuery(".menu > ul > li").click(function() {
			if (jQuery(window).width() <= 943) {
				jQuery(this).children("ul").fadeToggle(150);
			}
		});
		jQuery(".menu-mobile").click(function(e) {
			jQuery(".menu > ul").toggleClass('show-on-mobile');
			e.preventDefault();
		});
	});
	jQuery(window).resize(function() {
		jQuery(".menu > ul > li").children("ul").hide();
		jQuery(".menu > ul").removeClass('show-on-mobile');
	});

    jQuery('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	jQuery('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	jQuery('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>
