<div class="clearfix"></div>
<!-- Footer section start -->
<div class="footer-make-india">
  <p>Pokyshop &copy; copyright <?php echo date('Y');?>. <a href="<?php echo Mage::getUrl('terms-agreement')?>">Terms &amp; Agreement</a></p>
</div>
<!-- Footer section end -->