<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <!-- Navigation button, visible on small resolution -->
      <button type="button" class="btn btn-navbar navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="https://pokyshop.com" class="navbar-brand page-scroll"> <img src="<?php echo $this->getSkinUrl('images/') ?>pokyshop-pro.png" alt="Pokyshop" />
      <!-- This is website logo -->
      </a> </div>
    <!-- Main navigation -->
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right" id="top-navigation">
        <li class="active"><a class="page-scroll" href="#home">Home</a></li>
        <li><a class="page-scroll" href="#work">HOW IT WORKS</a></li>
        <li><a class="page-scroll" href="#why">Why Us</a></li>
        <li><a class="page-scroll" href="#join">JOIN US AS QUALITY PRO</a></li>
        <li><a class="page-scroll" href="#sale">Sell With Us</a></li>
        <li><a class="page-scroll" href="#contact">Contact</a></li>
      </ul>
    </div>
    <!-- End main navigation -->
  </div>
</div>

