<div class="banner-diva">
  <div class="container">
    <div class="banner-inner">
      <h2>Rajasthan Diva: A Stepping Stone</h2>
      <p class="text-justify">Rajasthan Diva is a regional pageant for Miss Diva from the Miss India Organization (MIO) which started in 2013. Ten best girls from all over of Rajasthan are selected and trained by the top experts of fashion fraternity which helps Rajasthan beauties to represent Rajasthan on the National and then international platform. Synonymous with talent, prestige, achievement &amp; most importantly “Beauty &amp; Intellect”. </p>
      <p class="text-justify">The winners of Rajasthan Diva gets a direct entry for the Bombay Final auditions and if selected  The winner of the National Pageant Miss Diva then represents India at the Miss Universe, Miss International* pageant and Miss Supranational* pageant.</p>
      <div class="event-flow">
        <h3>Event Flow</h3>
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>Call for entry (20 Days for PR)</li>
              <li>City Auditions (3 Cities)</li>
              <li>Final Auditions Jaipur</li>
              <li>Revealing finalists</li>
              <li>Training &amp; Grooming -4 days program</li>
              <li>Client integrations</li>
              <li>Reality series shoot &amp; Telecast</li>
              <li>Rehearsals &amp; Pre Judging</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>Indoor event with Glamour quotient &amp; Style</li>
              <li>Celebrity entertainment acts &amp; renowned Jury Panel</li>
              <li>Event coverage in News Papers &amp; Channels like Zee Rajasthan</li>
              <li>External PR</li>
              <li>Sponsor branding</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>Post Pageant coverage / PR</li>
              <li>Winner endorsement/ appearance</li>
              <li>Grooming for National pageants</li>
              <li>Establishing winners as Regional  Celebrities</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section-process">
        <h3>Selection Process</h3>
        <div class="row">
          <div class="col-sm-4">
            <h4>Pre Auditions</h4>
            <ul class="list-unstyled">
              <li>Advertisements in Paper &amp; Social Media commence to generate awareness &amp; interest</li>
              <li>The talent team goes to respective cities to scout girls from, colleges etc.</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Auditions</h4>
            <ul class="list-unstyled">
              <li>The final audition in each city to happen at the Style Store</li>
              <li>Client Integrations, Tasks and other parameters for selection</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Selection &amp; Media</h4>
            <ul class="list-unstyled">
              <li>Some shortlisted girls fast tracked for the final audition to be  held in Jaipur at Style Store</li>
              <li>Extensive media coverage to amplify the event</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-pink calender">
  <div class="container">
    <div class="col-sm-8 col-xs-12">
      <h2>Calender</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Subject</th>
              <th>Tentative Dates</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Launching</td>
              <td>16-7-2015</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jodhpur Auditions</td>
              <td>19-7-2015</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Udaipur Auditions</td>
              <td>18-7-2015</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jaipur Auditions</td>
              <td>26-8-2015</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Ajmer Auditions</td>
              <td>25-7-2015</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Final Auditions (Jaipur)</td>
              <td>2-8-2015</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Workshop</td>
              <td>3-8-2015 to 8-8-2015</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Talent Round</td>
              <td>7-7-2015</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Pre Rounds (Skin, Hair, Catwalk, Fitness)</td>
              <td>4-7-2015</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Crowning of Pre Rounds (Skin, Hair, Catwalk, Fitness)</td>
              <td>8-7-2015</td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>Grand Finale</td>
              <td>9-7-2015</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="diva-event">
  <div class="container">
    <h2>Rajasthan Diva: Grand Finale Event</h2>
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">Tentative Date: 2nd Week of August / 9th August</li>
          <li class="list-group-item">High powered performances by Dance Troupe </li>
          <li class="list-group-item">An evening filled with glitz, glamour, style and fashion</li>
          <li class="list-group-item">Show Choreographed &amp; Styled by Asia’s Top Fashion Stylist</li>
          <li class="list-group-item">Celebrity judges</li>
          <li class="list-group-item">Crowning of the true Rajasthani Beauty</li>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/') ?>diva.jpg" alt="diva" class="img-responsive" /></div>
    </div>
  </div>
</div>
<div class="diva-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <figure><img src="<?php echo $this->getSkinUrl('images/') ?>diva2.jpg" alt="diva" class="img-responsive" /></figure>
        <div class="contact-detail">
          <h2>Contact Detail</h2>
          <ul class="list-unstyled">
            <li><span aria-hidden="true" class="glyphicon glyphicon-phone"></span> 9602179555</li>
            <li><span aria-hidden="true" class="glyphicon glyphicon-phone"></span> 9799998287</li>
            <li><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span> www.bestreel.com</li>
            <li><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span> www.missdiva.com</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
      	<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('homepage/diva_form.phtml')->toHtml(); ?>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>