
<div class="form-inner">
  <h2>Personal Information</h2>
  <form name="diva_form" id="diva_form" method="post" enctype="multipart/form-data" action="<?php echo Mage::getUrl().'diva/index/post'; ?>">
    <div class="form-group">
      <label>Name</label>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <input type="text" name="first_name" class="form-control required-entry" placeholder="First Name" required>
        </div>
        <div class="col-sm-4 col-xs-12">
          <input type="text" name="middle_name" class="form-control" placeholder="Middle Name">
        </div>
        <div class="col-sm-4 col-xs-12">
          <input type="text" name="last_name" class="form-control required-entry" placeholder="Last Name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <label>Date Of Birth</label>
        <div class="row">
          <div class="col-md-4">
            <select class="form-control validate-select" name="dob_date" id="dob_date" required>
              <option value="">Date</option>
              <?php for($i=1; $i<=31; $i++){?>
              	<option value=<?php echo $i;?>><?php echo $i;?></option>
              <?php } ?>
            </select>
          </div>
          <div class="col-md-4">
            <select class="form-control validate-select" name="dob_month" id="dob_month" required>
              <option value="">Month</option>
              <?php for($i=1; $i<=12; $i++){?>
              	<option value=<?php echo $i;?>><?php echo $i;?></option>
              <?php } ?>
            </select>
          </div>
          <div class="col-md-4">
            <select class="form-control validate-select" name="dob_year" id="dob_year" required>
              <option value="">Year</option>
              <?php for($i=2000; $i>=1980; $i--){?>
              	<option value=<?php echo $i;?>><?php echo $i;?></option>
              <?php } ?>
            </select>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 form-group">
        <label>Age</label>
        <select class="form-control" name="age" id="age" readonly>
          <option value="">Age</option>
          <?php for($i=40; $i>=15; $i--){?>
          	<option value=<?php echo $i;?>><?php echo $i;?></option>
          <?php } ?>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="address" class="form-control required-entry" placeholder="Current City" required>
        </div>
        <div class="col-sm-6">
          <input type="text" name="birth_city" class="form-control required-entry" placeholder="Birth City" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Physical Attributes</label>
      <div class="row">
        <label class="small-text col-sm-2">Height</label>
        <div class=" col-sm-2">
          <select class="form-control validate-select" name="height_feet" id="height_feet" required>
            <option value="">Feet</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        <div class=" col-sm-2">
          <select class="form-control validate-select" name="height_inches" id="height_inches" required>
            <option value="">Inches</option>
            <?php for($i=1; $i<=11; $i++){?>
          		<option value=<?php echo $i;?>><?php echo $i;?></option>
          	<?php } ?>
          </select>
        </div>
        <label class="small-text col-sm-2">Weight</label>
        <div class=" col-sm-2">
          <select class="form-control validate-select" name="weight" id="weight" required>
            <option value="">In kg</option>
            <?php for($i=30; $i<=80; $i++){?>
          		<option value=<?php echo $i;?>><?php echo $i;?></option>
          	<?php } ?>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Vital Statistics <span>(in inches)</span></label>
      <div class="row">
        <div class="col-xs-4">
          <input name="bust_size" id="bust_size" class="form-control required-entry" placeholder="Bust*" required type="text" pattern="[0-9]*" maxlength="3" min="1">
        </div>
        <div class="col-xs-4">
          <input name="waist_size" id="waist_size" class="form-control required-entry" placeholder="Waist*" required type="text" pattern="[0-9]*" maxlength="4" min="2">
        </div>
        <div class="col-xs-4">
          <input name="hips_size" id="hips_size" class="form-control required-entry" placeholder="Hips*" required type="text" pattern="[0-9]*" maxlength="4" min="2">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Contact Details</label>
      <div class="row">
        <div class="col-sm-6">
          <input name="mobile_number" id="mobile_number" class="form-control required-entry validate-mobile-no" placeholder="Your Mobile" required type="text" pattern="[0-9]*" maxlength="12" min="10">
        </div>
        <div class="col-sm-6">
          <input type="email" name="email" id="email" class="form-control required-entry validate-email" placeholder="Your Email" pattern="[^ @]*@[^ @]*" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Marital Status*</label>
      <div>
        <label class="radio-inline">
          <input type="radio" name="marital_status" class="validate-one-required-by-name" value="Married">
          Married </label>
        <label class="radio-inline">
          <input type="radio" name="marital_status" class="validate-one-required-by-name" value="Unmarried">
          Unmarried </label>
        <label class="radio-inline">
          <input type="radio" name="marital_status" class="validate-one-required-by-name"value="Divorced">
          Divorced </label>
        <label class="radio-inline">
          <input type="radio" name="marital_status" class="validate-one-required-by-name"value="Widow">
          Widow </label>
      </div>
    </div>
    <div class="form-group">
      <label>Passport Details*</label>
      <div>
        <label class="radio-inline">
          <input type="radio" name="passport" class="validate-one-required-by-name" value="Indian Passport">
          Indian Passport </label>
        <label class="radio-inline">
          <input type="radio" name="passport" class="validate-one-required-by-name" value="OCI">
          OCI </label>
        <label class="radio-inline">
          <input type="radio" name="passport" class="validate-one-required-by-name" value="NRI">
          NRI </label>
      </div>
    </div>
    <div class="diva-heading clearfix">
      <h4 class="text-center">Upload your photos*</h4>
      <p class="text-center">Format: gif, jpg and jpeg | Dimension: 450px*600px | Max Size: 2 mb</p>
      <div class="form-group row">
        <label class="col-sm-2">Close Up</label>
        <div class="form-group col-sm-6">
          <label>File input</label>
          <input type="file" name="close_up_img" id="close_up_img" class="form-control required-entry" accept="image/*" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Mid Shot</label>
        <div class="form-group col-sm-6">
          <label>File input</label>
          <input type="file" name="mid_shot_img" id="mid_shot_img" class="form-control required-entry" accept="image/gif, image/jpeg, image/jpg">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Full Length</label>
        <div class="form-group col-sm-6">
          <label>File input</label>
          <input type="file" name="full_img" id="full_img" class="form-control required-entry" accept="image/gif, image/jpeg, image/jpg">
        </div>
      </div>
      
      <input type="Submit" value="Submit">
      
    </div>
  </form>
</div>

<script type="text/javascript">
    var diva_form = new VarienForm('diva_form', true);

	/*Event.on('diva_form', 'click', function() {
		// fall back to plain hiding if cannot fade
		var hide = self.Effect && Effect.Fade || Element.hide;
		// this = form being watched
		this.select('.validation-advice').each(hide);
	});
	*/

$j('input:file').change(
	function(e) {
		var files = e.originalEvent.target.files;
		for (var i=0, len=files.length; i<len; i++){
			var n = files[i].name,
                s = files[i].size,
                t = files[i].type;
			var fe = n.split('.')[n.split('.').length - 1].toLowerCase();
			//alert(s);
			if(s > 2104421){
				alert(' "' + n + '" is bigger than the maximum filesize allowed : 2 mb. Please select another file.');
			}
			//alert(fe);
			if( fe != 'png' && fe != 'jpg' && fe != 'gif' && fe != 'jpeg' ) {
				alert(' "' + n + '" doesn\'t match the required format: gif, jpg and jpeg. Please select another file.');
			}
		}
});

	
$j("#dob_year").bind("blur", function() { 
	var dob	=	$j("#dob_date").val() +'/'+ $j("#dob_month").val() +'/'+ $j("#dob_year").val();
	//alert(dob);
	var age = 	getAge(dob);
	//alert(age);
	$j("#age").val(age);
});	

/**
 * Calculate age by birth date.
 *
 * @param int birthYear Year as YYYY.
 * @param int birthMonth Month as number from 1 to 12.
 * @param int birthDay Day as number from 1 to 31.
 * @return int
 */
function getAge(dateString) {
    var today = new Date();
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }
    return age;
}
</script>