<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php /*?><body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>><?php */?>
<body class="make-in-india" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
   		<?php echo $this->getChildHtml('header') ?>
        <div class="col1-layout">
            <div>
                <?php /* echo $this->getChildHtml('breadcrumbs') */ ?>
                <div class="col-main">
                    <?php echo $this->getChildHtml('global_messages') ?>
                    <?php echo $this->getChildHtml('content') ?>
                </div>
            </div>
        </div>
        <footer>
			<?php echo $this->getChildHtml('footer_before') ?>
            <?php echo $this->getChildHtml('footer') ?>
            <?php echo $this->getChildHtml('global_cookie_notice') ?>
            <?php echo $this->getChildHtml('before_body_end') ?>
    	</footer>
	</div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>