<?php
	$_helper 		= $this->helper('catalog/output');
	$theme 			= $this->helper('ultimo');
	$labelsHelper 	= $this->helper('ultimo/labels');
	$templateHelper = $this->helper('ultimo/template');
	
	//Default image size
	$imgWidth = $imgHeight = 330;
	//$_columnCount = $this->getColumnCount();
	
	//Aspect ratio settings
	if ($theme->getCfg('category/aspect_ratio'))
		$imgHeight = 0; //Height will be computed automatically (based on width) to keep the aspect ratio
	
	//Modify slider depending on number of slides
	$sliderClasses = '';
	//$_collectionSize = 4;
	/*if($_collectionSize > 0)
	{
		if($_collectionSize <= 5)
			$sliderClasses .= " count-$_collectionSize";
		else
			$sliderClasses .= " count-multi";
	}*/
	$sliderClasses .= " count-multi";
	//Create random value
	//list($usec, $sec) = explode(' ', microtime());
	//$randomSeed = ;
	//mt_srand( (float) $sec + ((float) $usec * 100000) );
	$r = '21';//mt_rand();
?>
<div class="grid12-4">
  <div class="itemslider-wrapper itemslider-wrapper-<?php echo $r; ?>">
    <div class="nav-wrapper gen-slider-arrows1 gen-slider-arrows1-pos-top-right"></div>
    <div class="itemslider itemslider-horizontal itemslider-x<?php if($sliderClasses) echo $sliderClasses; ?>">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cmz_block_homepage_small_slider')->toHtml();?>
      <!-- end: slides --> 
    </div>
    <!-- end: itemslider --> 
  </div>
  <!-- end: itemslider-wrapper --> 
</div>
<script type="text/javascript">
//<![CDATA[
	jQuery(function($) {
		$('.itemslider-wrapper-<?php echo $r; ?> .itemslider').flexslider({
			namespace: "",
			animation: "slide",
			easing: "easeInQuart",
			
			slideshowSpeed: 5000,
			animationLoop: true,
				
			<?php /*?><?php if($time = intval($theme->getCfg('product_slider/timeout'))): ?>
				slideshowSpeed: <?php echo $time; ?>,
				animationLoop: true,
			<?php else: ?>
				slideshow: false,
				animationLoop: false,
			<?php endif; ?><?php */?>
			
			<?php if($speed = intval($theme->getCfg('product_slider/speed'))): ?>
				animationSpeed: <?php echo $speed; ?>,
			<?php endif; ?>
			pauseOnHover: true,
			controlNav: false,
			controlsContainer: ".itemslider-wrapper-<?php echo $r; ?> .nav-wrapper",
			itemWidth: <?php echo $imgWidth;?>,
			move: 1<?php //echo intval($theme->getCfg('product_slider/move_items')); ?>
		});
	});
//]]>
</script>