<!-- Start home section -->

<div id="home"> 
  <!-- Start cSlider -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="<?php echo $this->getSkinUrl('images/') ?>pokyshop-get-customer.jpg" alt="pokyshop-get-customer" /></div>
      <div class="swiper-slide"><img src="<?php echo $this->getSkinUrl('images/') ?>pokyshop-get-extra-business.jpg" alt="pokyshop-get-extra-business" /></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"><i class="fa fa-angle-right fa-5x"></i></div>
    <div class="swiper-button-prev"><i class="fa fa-angle-left fa-5x"></i></div>
  </div>
</div>
<!-- End home section --> 
<!-- start Go back button section -->
<!--<div class="go-back-btn">
<a href="https://pokyshop.com">
<span>Go back to website</span>
<img src="https://pokyshop.com/skin/frontend/pokyshopnew/theme1/images/logo.png" alt="pokyshop logo">
</a></div>--> 
<!-- End Go back button section --> 

<!-- Work us section start -->
<div class="section primary-section" id="work">
  <div class="container">
    <div class="about-text">
      <div class="title">
	  <h1>HOW IT WORKS</h1>
        <p>Get the best homeowner&lsquo;s work you always desired </p>
      </div>
      <div class="work-section">
      <div class="work-block row">
      <div class="col-sm-9">
      <h3>REACH NEW CUSTOMERS</h3>
      <p>Thousands of qualified homeowners visit pokyshop to get work done by every day. We make sure to bring together the right people with right target.</p>
      </div>
      <div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/work/') ?>pokyshop-customer.png" alt="pokyshop-customer" class="img-responsive" /></div>
      </div>
      <hr />
      <div class="work-block row">
            <div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/work/') ?>pokyshop-right-lead.png" alt="pokyshop-right-lead" class="img-responsive" /></div>
      <div class="col-sm-9 text-right">
      <h3>GET THE RIGHT LEADS</h3>
      <p>Leads that meet your choices are delivered across any device-Email or Text Message or Calls.</p>
      </div>
      </div>
      <hr />
      <div class="work-block row">
      <div class="col-sm-9">
      <h3>WIN MORE BUSINESS</h3>
      <p>Communication tools make it easy to work with homeowners to win the job. Get the right leads to grow your business.</p>
      </div>
      <div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/work/') ?>pokyshop-business.png" alt="pokyshop-business" class="img-responsive" /></div>
      </div>
      </div>
          </div>
  </div>
</div>
<!-- Work us section end --> 
<!-- Why Us section start -->
<div class="section secondary-section" id="why">
  <div class="triangle"></div>
  <div class="container"> 
    <!-- Start title section -->
    <div class="title">
      <h1>Why Us?</h1>
      <!-- Section's title goes here -->
      <p>Let&lsquo;s get the business leads easier</p>
      <!--Simple description for section goes here. --> 
    </div>
    <p class="text-justify">
	<strong>3.1 lac qualified homeowners are searching for quality home professionals and products everyday on pokyshop.com</strong>
	</p>
<div class="why-block row">
<div class="col-sm-9">
<h3>Get leads on your terms</h3>
<p>With pokyshop you only pay for the leads you receive. And if you get any bad leads we&lsquo;ll credit your account hassle-free</p>
</div>
<div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/why-block/') ?>pokyshop-payment.png" alt="pokyshop-payment" class="img-responsive" /></div>
  </div>
  <hr />
  <div class="why-block row">
<div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/why-block/') ?>pokyshop-map.png" alt="pokyshop-map" class="img-responsive" /></div>
<div class="col-sm-9 text-right">
<h3>Choose exactly where you want jobs</h3>
<p>Select your targeted counties, cities, and ZIP codes so you can get the most relevant leads. As your business changes, you can refine your service area any time.</p>
</div>
  </div>
  <hr />
  <div class="why-block row">
<div class="col-sm-9">
<h3>Customize the kind of work you want</h3>
<p>Easy-to-use tools allow you to specify exactly which services you do (and more importantly don&lsquo;t do) so you don&lsquo;t waste time or money on untargeted leads</p>
</div>
<div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/why-block/') ?>pokyshop-customized-work.png" alt="pokyshop-customized-work" class="img-responsive" /></div>
  </div>
  <hr />
  <div class="why-block row">
<div class="col-sm-3 hidden-xs"><img src="<?php echo $this->getSkinUrl('images/why-block/') ?>pokyshop-customer-sort.png" alt="pokyshop-customer-sort" class="img-responsive" /></div>
<div class="col-sm-9 text-right">
<h3>Reach new, quality customers</h3>
<p>Pokyshop drives thousands of high quality leads to our network of professionals every day.<br />
Homeowners find Pokyshop through our extensive marketing campaigns and partnerships. Retail partners allow you to connect with shoppers that are ready to get projects done.
</p>
</div>
  </div>
  </div>
</div>
<!-- Why Us section end --> 
<!-- Join section start -->
<div id="join">
  <div class="section primary-section">
    <div class="triangle"></div>
    <div class="container">
      <div class="title">
        <h1>JOIN US AS QUALITY PRO</h1>
        <p>We&lsquo;re committed to working with the best Home Professionals</p>
      </div>
      <p class="text-justify">The Pokyshop Guarantee is our endorsement of your commitment to quality and trust. Customers want to know which professionals do amazing work and will delight them every step of the way. To give customers that added level of confidence, get backed by the Pokyshop Guarantee.</p>
      <h3>The Best Home Professionals are on Pokyshop.</h3>
      <p>Are you ready to get started ?</p>
      <div class="pokystore-form" id="pokystore-form">
        <h3 class="text-center">JOIN US NOW</h3>
        <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('inquiry/join_us.phtml')->toHtml();?> </div>
    </div>
  </div>
</div>
<!-- Join section end -->
<div class="section secondary-section">
  <div class="triangle"></div>
  <div class="container centered">
    <p class="large-text">ARE YOU A QUALITY HOME EXPERT ?</p>
    <a href="#" class="button">Join now</a> </div>
</div>
<!-- sale section start -->
<div id="sale" class="section primary-section">
  <div class="triangle"></div>
  <div class="container">
    <div class="title">
      <h1>SELL WITH US</h1>
      <p>Are you a Seller/Manufacturer of home building & construction materials and want to sell online?</p>
    </div>
    <div class="pokystore-form animated" id="pokyseller-form"> 
    <p>Pokyshop.com provides you a numerous of buyers every day Join us now by filling a simple form. Right here.</p>
    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('inquiry/sell_with_us.phtml')->toHtml();?> </div>
  </div>
</div>
<!-- sale section end --> 
<!-- Newsletter section start -->
<div class="section third-section">
  <div class="container newsletter">
    <div class="sub-section">
      <div class="title clearfix">
        <div class="pull-left">
          <h1>Newsletter</h1>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <p class="large-text">Want to be our instant seller right now</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml')->toHtml();?>
      </div>
    </div>
  </div>
</div>
<!-- Newsletter section end --> 
<!-- Contact section start -->
<div id="contact" class="contact">
  <div class="section secondary-section">
    <div class="container">
      <div class="title">
        <h1>Contact Us</h1>
        <p>Get In Touch</p>
      </div>
	  <h3>Are you a national or large regional company?</h3>
      <p>If you&lsquo;re interested in a high volume of leads, learn about the Enterprise Connect solution to integrate with your CRM or existing workflow. Contact Us by filling this form.</p>
      <div class="row">
      <div class="col-md-5 col-xs-12 contact-form">
          <div id="successSend" class="alert alert-success invisible"> <strong>Well done!</strong>Your message has been sent.</div>
          <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
          <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('inquiry/get_in_touch.phtml')->toHtml();?> </div>
        <div class="col-md-7 col-xs-12">
          <ul class="social">
            <li> <a href="https://www.facebook.com/pages/pokyshopcom/335131776671161"> <i class="fa fa-facebook"></i> </a> </li>
            <li> <a href="https://twitter.com/pokyshop"> <i class="fa fa-twitter"></i> </a> </li>
            <li> <a href="https://instagram.com/pokyshop/"> <i class="fa fa-linkedin"></i> </a> </li>
            <li> <a href="https://www.pinterest.com/pokyshop"> <i class="fa fa-pinterest"></i> </a> </li>
          </ul>
          <div class="mail-info"> Mail: <a href="mailto:sales@pokyshop.com">sales@pokyshop.com</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact section edn -->