<?php 
   $isActive = Mage::getStoreConfig('inquiry/product/is_active') ;
   if($isActive == 1):
   $productId   = Mage::registry('current_product')->getId();								
   $productName = Mage::registry('current_product')->getName();								
   $productSku  = Mage::registry('current_product')->getSku();		
   ?>
   
<div id="bulk-enquiry" class="modal fade bulk-enquiry-popup" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         
         <div class="modal-body">
            <div class="content">
               <div class="inquiry_area">
                  <div id="success"></div>
                  <div class="modal-header">
		            <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
		            <h4 id="bulk-enquiryLabel" class="modal-title">For bulk enquiry</h4>
		         </div>
                  <div class="inquiry margin-top-10">
                     <form method="post" class="form-horizontal" action="<?php echo $this->getUrl('productinquiry/form/submit'); ?>" id="inquiryForm">
                        <input type="hidden" value="<?php echo $productId; ?>" name="product_id" />
                        <input type="hidden" value="<?php echo $productName; ?>" name="product_name" />
                        <input type="hidden" value="<?php echo $productSku; ?>" name="product_sku" />
                        <div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Name'); ?></label>
                           <div class="col-sm-9">
                              <input type="text" name="user_name" id="user_name" class=" form-control required-entry validate-text" placeholder="Enter Your Name">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Email'); ?></label>
                           <div class="col-sm-9">
                              <input type="text" name="user_email" id="user_email" class=" form-control required-entry validate-email" placeholder="Enter Your Email">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Mobile'); ?></label>
                           <div class="col-sm-9">
                              <input type="tel" name="user_mob" id="" class=" form-control required-entry" placeholder="Enter Your Mobile Number">
                           </div>
                        </div>
						
                        <div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Location'); ?></label>
                           <div class="col-sm-9">
                              <select class="form-control">
							  <option>Select State</option>
							  <option>Rajasthan</option>
							  <option>Delhi</option>
							  </select>
                           </div>
                        </div>
						<div class="form-group row">
                           <label class="col-sm-3 control-label" ></label>
                           <div class="col-sm-9">
                              <select class="form-control">
							  <option>Select City</option>
							  <option>Ajmer</option>
							  <option>Jaipur</option>
							  </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Quantity'); ?></label>
                           <div class="col-sm-9">
                              <input type="text" name="user_qty" id="user_qty" class=" form-control required-entry validate-number" placeholder="Enter Your Quantity">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Description'); ?></label>
                           <div class="col-sm-9">
                              <textarea name="user_question" id="user_question" class=" form-control required-entry validate-text" placeholder="Enter Description"></textarea>
                           </div>
                        </div>
						<div class="form-group row">
                           <label class="col-sm-3 control-label" ><em>*</em><?php echo $this->__('Budget'); ?></label>
                           <div class="col-sm-9">
                              <select class="form-control">
							  <option>Select Budget</option>
							  <option>0-1000</option>
							  <option>1000-10000</option>
							  <option>10000-50000</option>
							  <option>>50000</option>
							  </select>
                           </div>
                        </div>
						<div class="form-group row">
                           <label class="col-sm-3 control-label" ></label>
                           <div class="col-sm-9">
                              <button type="submit" title="Submit" class="btn button-orange button--wayra"><span><span><?php echo $this->__('Submit') ;?></span></span></button>
                           </div>
                        </div>
                        <div id="loading" style="display:none;"><?php echo $this->__('Please Wait....'); ?></div>
                     </form>
                     
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   </div>
</div>
<script type="text/javascript">
   //<![CDATA[
   	var formId = 'inquiryForm';
   	var myForm = new VarienForm(formId, true);
       var postUrl = '<?php echo $this->getUrl("productinquiry/form/submit") ?>';
      
   	function doAjax() {
           if (myForm.validator.validate()) {
               Element.show('loading');
   			new Ajax.Updater(
                   { success:'formSuccess' }, postUrl, {
                       method:'post',
                       asynchronous:true,
                       evalScripts:false,
   					reset:true,
                       onComplete:function(request, json) {
   						var change = request.responseText.split('&&');
   						if(change[1] == 1){
   							$('success').update(change[0]);
   						}else{
   							$('success').update(request.responseText);
   							$(formId).reset();
   						}
   						Element.hide('loading');
                           Element.show('formSuccess');						
                       },
                       onLoading:function(request, json){
                           Element.show('formLoader');	
   					},
   					onSuccess:function(request, json){
                          
   					},
                       parameters: $(formId).serialize(true),
                   }
               );
           }
       }
       
       new Event.observe(formId, 'submit', function(e){
           e.stop();
           doAjax();
       });
   //]]>
</script>
<?php endif;?>