@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,500italic);
/*font-family: 'Expletus Sans', cursive;*/

.margin-top-20{margin-top:20px;}
.margin-top-40{margin-top:40px}
body{font-size:15px;}
/*header css start here*/
.navbar-default{padding:5px 0;}
nav.navbar > .container .navbar-brand{margin-left:0; padding:0; height:auto;}
.navbar-brand img{width:250px;}
.title-top{font-family: 'Expletus Sans', cursive; font-size:20px; font-weight:100; color:#F77C4C;}
.navbar-default .navbar-nav > li > a{padding:0; margin:0 0 0 21px; font-weight:600; font-size:14px; text-transform:uppercase;}
.navbar-right{margin-top:41px; margin-right:108px;}
nav .container{position:relative;}
.s-btn{position:absolute; right:26px; top:61px;}
.modal-dialog{width:400px;}
.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 999;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}
.goToTop .navbar-brand img{width:150px;}
.goToTop .title-top{display:none;}
.goToTop .navbar-right{margin-top:19px;}
.goToTop .s-btn{top:11px;}

/*header css end here*/

.well{background:#f5f5f5}
.well h3{margin-top:0}
.well .form-horizontal .control-label{text-align:left; font-weight:normal;}
.list-unstyle{list-style:none; margin-top:3px; padding:0}
.list-unstyle li{list-style:none;}
h3{color:#F77C4C}
.list-sec .glyphicon{font-size:10px;}
.list-sec li{padding:3px 0;}

footer .list-group li{list-style:none;}
.footer-top{background:url(../images/footer-bg.png) repeat-x center center; width:100%; height:132px;}
.footer-inner{background:#E7E7E7;}
footer{font-size:13px;}
.footer-info li i{width:8px; height:26px; padding-top:2px; float:left; margin-right:3px;}
.footer-info li, .footer-address li{padding:4px 0;}
.footer-address li i{width:25px; height:26px; padding-top:2px; float:left; margin-right:3px;}
.footer-address li:first-child i{font-size:31px;}
.footer-address li:last-child i{font-size:21px;}
footer .list-group-item{background:#f3f3f3;}
footer a.list-group-item:focus, footer a.list-group-item:hover{background:#cecece; color:#000;}
.copyright-sec{background:#c9c9c9; width:100%; color:#333; font-size:13px; padding:6px 0}
footer .navbar-toggle{background:#ccc; border:1px solid #bbb;}
footer .navbar-toggle .icon-bar{background:#FFF}
footer .navbar-collapse{padding-left:0; padding-right:0;}
footer a{color:#2A6496;}
textarea{resize:none;}
.icons-mii img{display:block; text-align:center; width:279px; margin:28px auto;}
.icons-mii h3{ margin-bottom:0;}
.scaffold-form .input-group {
	width: 100%;
}
.validation-advice , .validation.failed {color: red;}
.panel{
	min-height: 100%;
	/*margin-left: -102%;*/
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.min-tab.panel:target{
	margin-left: 0%;
	background-color: #eee;
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color:#74b3ea;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #517da3;
	opacity: 0;
}

.ch-img-1 { 
	background-image: url(../images/pokyshop-decor-make-in-india.png);
}

.ch-img-2 { 
	background-image: url(../images/pokyshop-cloth-make-in-india.png);
}

.ch-img-3 { 
	background-image: url(../images/pokyshop-craft-make-in-india.png);
}

.ch-info h3 {
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 39% 15px;
	line-height:30px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}


@media (max-width:599px){
.modal-dialog{width:93%;}
.navbar-right{margin-top:6px; margin-right:-15px;}
.navbar-default .navbar-nav > li > a{padding:6px 0px; margin:0; text-align:center; border-bottom:1px dashed #ccc;}
.navbar-default .navbar-toggle{margin-top:27px;}
.navbar-brand img{width:200px;}
.navbar-default{padding-bottom:10px;}
form button.btn{display:inline-block;}
button.btn{text-align:center; display:block; margin:0 auto;}
.box{width:100%;}
.ch-grid li{margin:20px 0; width:269px; height:269px; display:block;}
}
@media (min-width:599px) and (max-width:980px){
.navbar-default .navbar-nav > li > a{font-weight:normal; text-transform:capitalize; margin:0 0 0 21px}
.navbar-brand img{width:190px;}
.pull-right img{width:100%;}
.margin-top-40{margin-top:50%;}
}

/* Global Messages*/
.success { color:#3d6611; font-weight:bold; }
.error { color:#ee001c; font-weight:bold; }
.notice { color:#ccc; }

.messages,
.messages ul { list-style:none !important; margin:0; padding:0; }
.messages { overflow:hidden; margin:0 0 10px; }
.messages li { margin:0 0 1%; }
.messages li li { margin:0; }
.messages a { text-decoration:underline; }
.catalog-category-view .messages { margin-top:15px; }

.error-msg,
.success-msg,
.note-msg,
.notice-msg { 
	background-position:25px center !important;
	background-repeat:no-repeat !important;
	padding:25px 25px 25px 80px !important;
	font-size:12px !important; 
}
.error-msg {
	border-color:#c02230;
	background-color:#F5DAD3;
	background-image:url(../images/i_msg-error.png);
	color:#c02230;
}
.success-msg {
	border-color:#296a23;
	background-color:#e9ffca;
	background-image:url(../images/i_msg-success.png);
	color:#296a23;
}
.note-msg,
.notice-msg {
	border-color:#7c622a;
	background-color:#FDEDA4;
	background-image:url(../images/i_msg-note.png);
	color:#7c622a;
}