<div class="footer-top"></div>
<div class="footer-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>About Pokyshop</h3>
        <div class="navbar-collapse collapse" id="footer1">
          <p class="text-justify"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cmz_block_footer_about_us')->toHtml();?></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>Why Us</h3>
        <div class="navbar-collapse collapse" id="footer2">
          <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cmz_block_footer_why_us')->toHtml();?>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-4">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer3"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>Join Us</h3>
        <div class="navbar-collapse collapse" id="footer3">
          <ul class="list-group">
            <li><a href="https://twitter.com/pokyshop" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/pages/pokyshopcom/335131776671161" class="list-group-item"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://plus.google.com/104184118365463258982" class="list-group-item"><i class="fa fa-google-plus"></i> Google +</a></li>
            <li><a href="https://www.pinterest.com/pokyshop" class="list-group-item"><i class="fa fa-pinterest-p"></i> Pinterest</a></li>
			<li><a href="https://instagram.com/pokyshop/" class="list-group-item"><i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-4">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer4"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <h3>Company Info</h3>
        <div class="navbar-collapse collapse" id="footer4">
          <ul class="list-unstyled footer-address">
            <li class="clearfix"><i class="fa fa-mobile-phone"></i> +91-9983057200<br />
              +91-9929599580</li>
            <li class="clearfix"><i class="fa fa-envelope-o"></i><a href="mailto:info@pokyshop.com">info@pokyshop.com</a><br />
              <a href="mailto:sales@pokyshop.com">sales@pokyshop.com</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="copyright-sec text-center">&copy <?php echo date('Y');?> pokyshop.com. All Rights Reserved. </div>
<?php //echo $this->getChildHtml() echo $this->getCopyright() ?>
