<nav class="navbar navbar-default">
	<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
    <a class="navbar-brand" href="<?php echo $this->getUrl('') ?>"> <img src="<?php echo $this->getSkinUrl('images/') ?>logo-make-in-india.png" alt="<?php echo $this->getLogoAlt() ?>" /></a> </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<div class="text-right title-top hidden-xs">Let's redefine entrepreneurship <strong>Make In India</strong></div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="<?php echo $this->getUrl('') ?>">Home</a></li>
        <li class="min-links" ref="why-us"><a href="javascript:void(0)">Why Us</a></li>
        <li class="min-links" ref="store"><a href="javascript:void(0)">Open A Store</a></li>
        <li class="min-links" ref="contacts"><a href="javascript:void(0)">Contact Us</a></li>
        <li class="min-links" ref="sell_with_us"><a href="javascript:void(0)">Sell with Us</a></li>
    </ul>
	<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('cmz_block_header_menu_make_in_india')->toHtml();?>
    <?php /*?><!-- Button trigger modal -->
      <button type="button" class="btn btn-primary s-btn hidden-xs" data-toggle="modal" data-target="#myModal"> Seller Form</button>
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Seller Form</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <div class="input-group margin-bottom-sm"> <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="First Name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group margin-bottom-sm"> <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group margin-bottom-sm"> <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" type="email" placeholder="Email address">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group margin-bottom-sm"> <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="Phone Number">
                  </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal -->
      <button type="button" class="btn btn-primary hidden-lg hidden-sm hidden-md" data-toggle="modal" data-target="#myModal"> Seller Form</button><?php */?>
  </div>
</div>
</nav>

<?php /*?><script type="text/javascript">
$j('#myModal').on('shown.bs.modal', function () {
$j('#myInput').focus()
})
</script>
<script type="text/javascript">
$j(document).ready(function(){
    $j(window).bind('scroll', function() {
        var navHeight = $("#box1").height();
        ($j(window).scrollTop() > navHeight) ? $j('nav').addClass('goToTop') : $j('nav').removeClass('goToTop');
    });
});
</script><?php */?>

<div class="text-right title-top hidden-lg hidden-md hidden-sm text-center">Let's redefine entrepreneurship <strong>Make In India</strong></div>

<?php //echo $this->getChildHtml('store_language') ?>
<?php //echo $this->getChildHtml('currency_switcher') ?>
<?php //echo $this->getChildHtml('welcome') ?>
<?php //echo $this->getAdditionalHtml() ?>
<?php /*?><a class="logo" href="<?php echo $this->getUrl('') ?>"> <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" /> <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" /> </a><?php */?>
<?php /*?><div class="skip-links"> <a href="#header-nav" class="skip-link skip-nav"> <span class="icon"></span> <span class="label"><?php echo $this->__('Menu'); ?></span> </a> <a href="#header-search" class="skip-link skip-search"> <span class="icon"></span> <span class="label"><?php echo $this->__('Search'); ?></span> </a>
      <div class="account-cart-wrapper"> <a href="<?php echo $this->helper('customer')->getAccountUrl(); ?>" data-target-element="#header-account" class="skip-link skip-account"> <span class="icon"></span> <span class="label"><?php echo $this->__('Account'); ?></span> </a> 
        <div class="header-minicart"> <?php echo $this->getChildHtml('minicart_head'); ?> </div>
      </div>
    </div><?php */?>
<?php /*?><!-- Navigation -->
    <div id="header-nav" class="skip-content"> <?php echo $this->getChildHtml('topMenu') ?> </div>
    <!-- Search -->
    <div id="header-search" class="skip-content"> <?php echo $this->getChildHtml('topSearch') ?> </div>
    <!-- Account -->
    <div id="header-account" class="skip-content"> <?php echo $this->getChildHtml('topLinks') ?> </div><?php */?>
<?php //echo $this->getChildHtml('topContainer'); ?>
