<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>

<script type="text/javascript">
$j('#myModal').on('shown.bs.modal', function () {
$j('#myInput').focus()
})
</script>
<script type="text/javascript">
$j(document).ready(function(){
    $j(window).bind('scroll', function() {
        var navHeight = $j("#box1").height();
        ($j(window).scrollTop() > navHeight) ? $j('nav').addClass('goToTop') : $j('nav').removeClass('goToTop');
    });
});
</script>