<div class="clearer">
    <div class="inchoo-socialconnect-google">
        <div class="inchoo-socialconnect-google-inner">
            <a href="<?php echo $this->escapeUrl($this->_getButtonUrl()); ?>"><?php echo $this->_getButtonText(); ?></a>
        </div>
        <?php /*?><div class="inchoo-socialconnect-google-right"></div><?php */?>
    </div>
</div>
