@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.4.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:robotolight;src:url(../fonts/Roboto-Light-webfont.eot);src:url(../fonts/Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/Roboto-Light-webfont.woff) format('woff'),url(../fonts/Roboto-Light-webfont.ttf) format('truetype'),url(../fonts/Roboto-Light-webfont.svg#robotothin) format('svg');font-weight:400;font-style:normal}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.block-wishlist .product-details,.btn-social,.product-cart-name a,.recent-viewed ol .product-details{white-space:nowrap;text-overflow:ellipsis}

.gn-icon::before,body{-webkit-font-smoothing:antialiased}a,body{color:#181a1c}

.breadcrumbs li,.product-cart{display:inline-block}

.ads-icon .fa,.button-orange,.hvr-outline-out,header .list-inline>li{vertical-align:middle}

.ads-listing a:hover,.footer-links li a:hover,.gn-menu-main a{text-decoration:none}
body{font-family: 'Roboto', sans-serif;-moz-font-smoothing:antialiased;font-smoothing:antialiased;overflow-x:hidden}

.fixed{position:fixed;top:0}

.sticky{transition:all 5s linear 0s;width:100%;z-index:9}

.no-margin{margin:0!important}

.margin-top-5{margin-top:5px!important}

.margin-top-10{margin-top:10px!important}

.margin-top-20{margin-top:20px!important}

.margin-top-30{margin-top:30px!important}

.margin-bottom-5{margin-bottom:5px!important}

.margin-bottom-10{margin-bottom:10px!important}

.margin-bottom-20{margin-bottom:20px!important}

.margin-bottom-30{margin-bottom:30px!important}

.no-padding{padding:0!important}

.padding10{padding:10px}

.padding-top-5{padding-top:5px!important}

.padding-top-10{padding-top:10px!important}

.padding-top-20{padding-top:20px!important}

.padding-top-30{padding-top:30px!important}

.padding-bottom-10{padding-bottom:10px!important}

.padding-bottom-20{padding-bottom:20px!important}

.padding-bottom-30{padding-bottom:30px!important}

.border{border:1px solid #ccc}

.border-top{border-top:1px solid #ccc}

.border-bottom{border-bottom:1px solid #ccc}

.border-right{border-right:1px solid #ccc}

.border-light{border:1px solid #eee}

.border-top-light{border-top:1px solid #eee}

.border-bottom-light{border-bottom:1px solid #eee}

.no-bg{background:0 0!important}input.button--wayra:hover{background:#E8784C}

.button--wayra::before{background:#E8784C;content:"";height:100%;left:0;position:absolute;top:0;transform:rotate3d(0,0,1,-45deg) translate3d(0,-3em,0);transform-origin:0 100% 0;transition:transform .3s ease 0s,opacity .3s ease 0s,background-color .3s ease 0s;width:150%;z-index:-1}

.btn-social,.button-orange{position:relative;overflow:hidden}

.button--wayra:hover::before,.button-orange{transition-timing-function:cubic-bezier(.2,1,.3,1)}

.button--wayra:hover{border-color:#E8784C;color:#fff}

.button--wayra:hover::before{background-color:#E8784C;opacity:1;transform:rotate3d(0,0,1,0deg)}

.button-orange{background:rgba(0,0,0,0);z-index:1;transition-delay:0s,0s;transition-duration:.3s,.3s;transition-property:border-color,color;border:1px solid #37474f;color:#37474f}

.btn-facebook{background-color:#3b5998;border-color:rgba(0,0,0,.2);color:#fff}

.btn-social{padding-left:44px;text-align:left;line-height:16px}

.btn-social>:first-child{border-right:1px solid rgba(0,0,0,.2);bottom:0;font-size:15px;left:0;line-height:31px;position:absolute;text-align:center;top:0;width:32px}

.breadcrumb li,.breadcrumbs li,header .btn{font-size:12px}

.breadcrumbs strong{color:#777;}

.btn-facebook.active,.btn-facebook:active,.btn-facebook:focus,.btn-facebook:hover,.open>.dropdown-toggle.btn-facebook{background-color:#2d4373;border-color:rgba(0,0,0,.2);color:#fff}

.btn-google{background-color:#dd4b39;border-color:rgba(0,0,0,.2);color:#fff}

.btn-google.active,.btn-google:active,.btn-google:focus,.btn-google:hover,.open>.dropdown-toggle.btn-google{background-color:#c23321;border-color:rgba(0,0,0,.2);color:#fff}

.text-orange{color:#E8784C!important}

.breadcrumb li a,.breadcrumbs li a,.text-black{color:#181a1c;padding:10px}

.breadcrumbs li:last-child{padding:10px}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{border-top:4px solid #E8784C}

.nav-tabs>li>a{color:#181a1c}textarea{resize:none}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus,a:focus{outline:0;box-shadow:none}

.nav>li>a:focus,.nav>li>a:hover{background:0 0;border-color:transparent}p{line-height:24px;}

.breadcrumb .breadcrumb{margin:0;padding:2px 15px}

.breadcrumb li{padding:10px}

.input-text-left{margin-left:-6px;padding:15px 0 0}

.input-text-right{margin-right:-6px;padding:15px 0 0 15px}

.img-sprite{background-image:url(../images/img-sprite.png);background-repeat:no-repeat}

.page-title h1{margin-top:0}

.logo img{width:140px}

.list-inline{margin-top:16px}header .add-cart{padding-right:15px}

.add-cart-btn .badge{background:#f3865b;font-size:11px;height:19px;line-height:21px;padding:0;position:absolute;right:23px;text-align:center;top:5px;width:19px}

.cart-header{background:#f6f4f2;border:1px solid #ccc;margin-top:59px;margin-bottom:-52px}

.cart-close-icon{position:absolute;right:0;top:9px}

.cart-close-icon a{color:#777;font-size:29px}header .add-cart .fa{font-size:22px}

.product-cart-hide{height:0;overflow:hidden;transition:height .5s linear 0s}

.product-cart-display{height:225px!important;overflow:visible;transition:height .5s linear 0s}

.product-cart-inner{width:100%;max-height:221px;overflow:auto}

.product-cart{margin-right:5px;width:138px}

.product-cart-name a{display:block;width:100%;overflow:hidden;font-size:15px;font-weight:500;color:#181a1c}

.product-cart-price{font-size:12px}

.product-remove{position:absolute;top:0;right:0}

.add-cart-btn,.hvr-outline-out,.product-cart{position:relative}

.product-remove>a{background:rgba(0,0,0,.7);border-radius:0 0 0 45px;color:rgba(255,255,255,.8);display:block;height:24px;padding:3px 10px;width:30px}

.product-cart-image{height:100px;width:100%}

.product-cart-image a{display:block;height:100%;text-align:center;background:#fff}

.product-cart-image img{height:100%;display:inline-block;background:#fff}

.add-cart-btn .cart-btn{display:inline-block;font-size:23px;margin-right:5px;padding-top:8px}

.hvr-outline-out{display:inline-block;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;width:90px;height:90px}

.hvr-outline-out:before{content:'';position:absolute;border:3px solid #33AFD4;top:0;right:0;left:0;-webkit-transition-duration:.3s;border-radius:50%;transition-duration:.3s;-webkit-transition-property:top,right,bottom,left;transition-property:top,right,bottom,left;height:40px;width:40px;margin:auto}

.hvr-outline-out:active:before,.hvr-outline-out:focus:before,.hvr-outline-out:hover:before{top:-3px;height:46px;width:46px;border-color:#E8784C;box-shadow:2px 2px 2px #ccc inset}

.market-place{background-position:3px 9px;background-size:52px auto;display:block;height:28px;margin:0 auto 5px;width:26px}

.hvr-outline-out:hover .market-place{background-position:-28px 9px}

.ads-listing li a{display:block;text-align:center;color:#181a1c}

.ads-listing li{width:100px}

.ads-icon,.ads-icon .fa{width:40px;height:40px;text-align:center}

.ads-listing{margin:8px auto 0;text-align:center}

.ads-icon{border-radius:50%;margin:0 auto 7px}

.ads-icon .fa{display:table-cell;font-size:18px}

.ads-listing a span{display:block}

.ads-listing a:hover span{background:#fff;color:#e8784c}

.header{position:fixed;top:0;left:0;width:100%;background:rgba(255,255,255,.9);z-index:1000;height:100px;overflow:hidden;-webkit-transition:height .3s;-moz-transition:height .3s;transition:height .3s}

.header.shrink{height:60px}

.header.shrink .ads-listing{margin-top:0}

.header.shrink .margin-top-10{margin-top:5px!important;margin-bottom:0!important}

.header.shrink .ads-icon .fa{width:30px;height:30px;font-size:13px}

.header.shrink .ads-icon{height:30px;width:30px}

.header.shrink .market-place{background-position:6px 8px;background-size:35px auto}

.header.shrink .logo img{width:134px}

.header.shrink .list-inline{margin-top:0}

.header.shrink .hide-sticky{display:none!important}

.header.shrink .ads-listing a span{font-size:12px}

.header.shrink .show-sticky{display:inline-block!important}

.header.shrink .hvr-outline-out::before{width:32px;height:32px}

.header.shrink .hvr-outline-out:active::before,.header.shrink .hvr-outline-out:focus::before,.header.shrink .hvr-outline-out:hover::before{width:37px;height:37px}

.header.shrink .hvr-outline-out:hover .market-place{background-position:-15px 8px}
#loginModal .modal-dialog{margin:71px auto}
.social-follow{padding:7px 0 34px}

.social-follow li{border:1px solid #999;height:45px;margin:0 6px;text-align:center;width:45px}

.social-follow a{padding:10px 0;display:block;color:#181a1c;text-align:center}

.social-follow a .fa-3x{font-size:22px}

.newsletter{background-image:url(../images/newsletter-bg.jpg);background-size:cover;background-attachment:fixed;padding:78px 0;clear:#fff}

.newsletter h3{font-size:41px;text-transform:uppercase}

.newsletter h4{font-size:20px;margin-top:12px}

.newsletter .signup-form{margin:40px auto 0;max-width:800px}

.newsletter .signup-form .form-control{background:0 0;border:1px solid #fff}

.footer-section .newsletter .button-orange{border:1px solid #fff}

.newsletter::-webkit-input-placeholder{color:#fff}

.newsletter:-moz-placeholder{color:#fff}

.newsletter::-moz-placeholder{color:#fff}

.newsletter:-ms-input-placeholder{color:#fff}

.newsletter-offer{position:relative}#advice-validate-email-esns_email{position:absolute;bottom:-21px}

.footer-section{background-color:#383434;color:#fff;margin-top:40px}

.footer-section .color-2{background:#fff;color:#333}

.footer-section h2{font-size:18px;}

.footer-section .contact .list-unstyled a,.footer-section .explore .list-unstyled a{display:inline-block;line-height:20px;border-bottom:none;padding:0;margin:0;font-size:12px;color:#fff;opacity:.7}

.footer-section .contact .list-unstyled li,.footer-section .explore .list-unstyled li,.footer-section .list-unstyled.footer-links li{margin:8px 0}

.footer-section .contact .list-unstyled a:hover,.footer-section .explore .list-unstyled a:hover{opacity:1}

.footer a,.footer-section .contact .list-unstyled .all-help-topics a{opacity:.7}

.signup-form .form-control{float:left;width:80%;border-radius:0;border:1px solid rgba(0,0,0,.4);background:rgba(0,0,0,.4)}

.signup-form .btn{float:right;width:18%}

.seprater,.swiper-container-no-flexbox .swiper-slide{float:left}

.footer-links li a{border-bottom:1px solid rgba(255,255,255,.2);color:#fff;display:block;font-size:12px;padding:6px 0;opacity:.7}

.footer a{color:#fff}

.footer-links li a i,.footer-links li a:hover{opacity:1}

.sell-footer{padding-top:10px}

.sell-footer .col-sm-7{padding-left:0}

.sell-footer p{font-size:12px;line-height:18px;opacity:.7}

.sell-footer p:hover{opacity:1}

.footer-section .button-orange{border-color:rgba(0,0,0,.4);color:rgba(255,255,255,.9)}

.footer-section .button-orange:hover{border-color:#000}

.newsletter h3{margin-top:0}

.copyright{background:rgba(0,0,0,.2)}

.sell-footer img{box-shadow:0 0 5px rgba(255,255,255,.2);padding:5px}#loginModal .modal-header{border:none;min-height:1px;padding:0}#loginModal .form-control,.add-cart-btn .btn{border-radius:0}#loginModal .modal-header .close{margin-top:0;position:absolute;right:17px;top:15px;z-index:99;opacity:.7}#loginModal h3{font-size:20px;}#loginModal .btn{min-width:100px}#loginModal label{font-size:13px}#loginModal .form-group{margin-bottom:10px}#loginModal .forgotpass{display:inline-block;margin-top:5px;color:#181a1c}#loginModal h4{font-size:12px;margin-bottom:5px}#loginModal label span{color:red;font-weight:700}

.seprater::before{background:#fff;content:"OR";font-family:Lato,"Trebuchet MS",Helvetica,sans-serif;font-weight:400;left:-13px;width:24px;z-index:99;height:22px;padding:2px 0;text-align:center;top:50%}

.registerfom input[type=checkbox]{margin-top:0}

.seprater{border-left:1px solid #d0d0d0;bottom:15px;height:auto;left:50%;top:15px;width:1px}

.footer-section .border-top{border-color:#000}

.copyright ul{margin:0;padding:8px 0}

.copyright li,.copyright li a{font-size:12px;color:#fff;opacity:.7}

.copyright li a:hover,.copyright li:hover,.tooltip{opacity:1}

.tooltip{display:inline;position:relative;z-index:999}

.social-follow .tooltip-content-social{position:absolute;z-index:9999;width:80px;height:80px;padding-top:25px;left:50%;margin-left:-40px;bottom:100%;border-radius:50%;text-align:center;background:#E8784C;color:#fff;opacity:0;margin-bottom:20px;cursor:default;pointer-events:none}

.social-follow .tooltip-content-social i{opacity:0}

.social-follow .tooltip-effect-1 .tooltip-content-social{-webkit-transform:translate3d(0,10px,0) rotate3d(1,1,1,45deg);transform:translate3d(0,10px,0) rotate3d(1,1,1,45deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition:opacity .3s,-webkit-transform .3s;transition:opacity .3s,transform .3s}

.social-follow .tooltip-effect-1 .tooltip-content-social i{-webkit-transform:scale3d(0,0,1);transform:scale3d(0,0,1);-webkit-transition:opacity .3s,-webkit-transform .3s;transition:opacity .3s,transform .3s}

.social-follow .tooltip:hover .tooltip-content-social,.social-follow .tooltip:hover .tooltip-content-social i{opacity:1;pointer-events:auto;-webkit-transform:translate3d(0,0,0) scale3d(1,1,1);transform:translate3d(0,0,0) scale3d(1,1,1)}

.tooltip-effect-1:hover .tooltip-content-social i{-webkit-transform:rotate3d(1,1,1,0);transform:rotate3d(1,1,1,0)}

.social-follow .tooltip-content-social::after{content:'';position:absolute;top:100%;left:50%;margin:-7px 0 0 -15px;width:30px;height:20px;background:url(../images/arrow.png) center center no-repeat;background-size:100%}

.swiper-slide,.swiper-wrapper{width:100%;height:100%;position:relative}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}

.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}

.swiper-wrapper{z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}

.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}

.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}

.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}

.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0}

.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}

.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}

.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}

.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;margin-top:-22px;z-index:10;cursor:pointer}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:0;cursor:auto;pointer-events:none}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:20px;right:auto}

.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:20px;left:auto}

.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}

.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}

.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}

.swiper-pagination.swiper-pagination-hidden{opacity:0}

.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}

.swiper-pagination-white .swiper-pagination-bullet,.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}

.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}

.swiper-pagination-bullet-active{opacity:1;background:#fff}

.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}

.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}

.swiper-container-horizontal>.swiper-pagination{bottom:10px;left:0;width:100%}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 5px}

.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}

.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}

.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}

.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}

.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}

.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}

.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}

.swiper-container-fade .swiper-slide,.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}

.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}

.swiper-container-cube{overflow:visible}

.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%;z-index:1}

.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}

.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}

.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}

.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}

.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}

.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}

.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}

.swiper-scrollbar-cursor-drag{cursor:move}

.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}

.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}

.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}

.swiper-slide img{width:100%}*,::before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}@font-face{font-weight:400;font-style:normal;font-family:ecoicons;src:url(../fonts/ecoicons/ecoicons.eot);src:url(../fonts/ecoicons/ecoicons.eot?#iefix) format("embedded-opentype"),url(../fonts/ecoicons/ecoicons.woff) format("woff"),url(../fonts/ecoicons/ecoicons.ttf) format("truetype"),url(../fonts/ecoicons/ecoicons.svg#ecoicons) format("svg")}
.header-top{background:#f0f0f0;}
.gn-menu-main,.gn-menu-main ul{margin:0;padding:0;color:#5f6f81;list-style:none;text-transform:none;line-height:20px; height:40px;}
.gn-menu-main .fa.fa-search {
    display: block;
    font-size: 15px;
    line-height: 22px;
}
.header-top .social-top{margin:0}
.header-top .social-top li{padding-right:0}
.social-top li a{display:block;width:25px; height:40px; line-height:40px; text-align:center}
.gn-menu-main a{display:block;height:100%;cursor:pointer}

.no-touch .gn-menu-main .gn-trigger li:hover{background:#444;color:#fff}

.gn-menu-main .gn-submenu .gn-submenu{background:#f2f2f2}

.gn-menu-main li.add-cart-btn a:hover .badge{background:#333}

.no-touch .gn-menu-main li:hover button{color:#fff}

.no-touch .gn-menu-main a.logo:hover{background:#fff}

.gn-menu-main>li{display:block;float:right;height:100%;text-align:center}

.gn-menu-main li.gn-trigger{position:relative;width:90px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;float:left}

.gn-menu-main li.gn-trigger .gn-icon-menu{background:#333;color:#fff;padding:0}

.gn-menu-main>li>a,.gn-menu-main>li>button{padding:0 10px;color:#181a1c; line-height:38px;}

.gn-menu-main>li.menu-logout>button{color:#181a1c!important}

.gn-menu-main:after{display:table;clear:both;content:""}

.gn-menu-wrapper{position:fixed;top:59px;bottom:0;left:0;overflow:hidden;width:60px;-webkit-transform:translateX(-60px);-moz-transform:translateX(-60px);transform:translateX(-60px);-webkit-transition:-webkit-transform .3s,width .3s;-moz-transition:-moz-transform .3s,width .3s;transition:transform .3s,width .3s}

.gn-scroller,.gn-submenu,.seprater,.seprater::before{position:absolute}

.gn-scroller{width:213px;height:100%}

.gn-scroller .gn-menu{background:#333;height:100%}

.gn-scroller .gn-menu a{color:#fff;display:inline-block;font-size:13px}

.gn-scroller .gn-menu img{display:inline-block;margin-left:13px;margin-right:17px;width:30px!important}

.gn-menu{border-bottom:1px solid #c6d0da;text-align:left;font-size:18px}

.gn-menu li li,.gn-menu li:not(:first-child){box-shadow:0 1px rgba(0,0,0,.2) inset}

.gn-submenu li{overflow:hidden;height:0;-webkit-transition:height .3s;-moz-transition:height .3s;transition:height .3s}

.gn-submenu{height:100%;left:213px;width:0;background:#fff;top:0}

.gn-scroller .gn-menu li:hover .gn-submenu{width:184px;border-right:1px solid #ccc}

.gn-scroller .gn-menu li:hover .gn-submenu .gn-submenu{display:none;left:184px}

.gn-scroller .gn-menu li .gn-submenu li:hover .gn-submenu{display:block}

.gn-scroller .gn-menu .gn-submenu li a{color:#181a1c;padding-left:10px;display:block}

.gn-scroller .gn-menu .gn-submenu li:hover{background:#eee}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder{color:transparent}

.gn-icon::before{display:inline-block;width:60px;text-align:center;text-transform:none;font-weight:400;font-style:normal;font-variant:normal;font-family:ecoicons;line-height:1;speak:none}

.gn-icon span{width:0;height:0;display:block;overflow:hidden}

.gn-menu-wrapper.gn-open-all,.gn-menu-wrapper.gn-open-part{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0)}

.gn-menu-wrapper.gn-open-all{width:580px}

.gn-menu-wrapper.gn-open-all .gn-submenu li{height:60px;line-height:60px}

.no-display{display:none!important}

.validation-advice,p.required{margin:5px 0 0;color:#df280a;font-size:13px}

.inner-page-content ol{list-style:decimal}

.inner-page-content ul{list-style:circle}

.inner-page-content p{color:#555}

.std .inner-page-content li{color:#555;line-height:18px;padding:3px 0; line-height: 24px;}

.search-form li{color:#555;font-size:12px;margin-top:10px}

.search-form li label{font-size:14px;color:#181a1c}

.search-form li select{max-width:300px}#contactForm em,.search-form em{color:red;font-size:11px;font-style:normal;vertical-align:top}

.sitemap-top a{color:#181a1c}main.cd-main-content{margin-top:52px}

.breadcrumb,.breadcrumbs ul{margin:0;padding:0}

.messages,.messages ul{padding:0}

.error-msg,.success-msg{display:inline-block;padding:4px 10px;background-repeat:repeat-x;box-shadow:0 1px 0 rgba(255,255,255,.25) inset,0 1px 2px rgba(0,0,0,.05);text-shadow:0 1px 0 rgba(255,255,255,.2)}

.error-msg{background-image:-webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);background-image:-o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));background-image:linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);border-color:#dca7a7;background-color:#f2dede;border-radius:4px;margin-bottom:20px;color:#a94442}

.success-msg{background-image:linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);border-color:#b2dba1;background-color:#dff0d8;color:#3c763d}

.error-msg li,.success-msg li{margin:0!important}

.wrapper .modal{z-index:9999}

.wrapper .modal-backdrop{z-index:1030}

.wrapper .modal-dialog{z-index:9999}

.payment-section{background:#f2f2f2;padding:40px;text-align:center}

.payment-section li{vertical-align:middle;margin:0 9px;color:#555}

.payment-img{background-image:url(../images/payments.png);background-repeat:no-repeat;background-size:952px;height:38px}

.safepayent{width:90px;background-position:0 0}

.visapayment{width:53px;background-position:-111px 0}

.mastercardpayment{width:51px;background-position:-186px 0}

.verifiedpayment{width:57px;background-position:-262px 0}

.paytmpayment{width:63px;background-position:-352px 0}

.payupayment{width:61px;background-position:-441px -3px}

.amazonpayment{width:114px;background-position:-532px 0}

.netbanking{width:125px;background-position:-668px 0}

.cod{width:145px;background-position:-812px 0}#multiship-addresses-table h3{font-size:16px}label.required em{color:red;font-style:normal;padding-right:2px}

.block-wishlist ol,.recent-viewed ol{padding:0}

.recent-viewed ol .item{border:1px solid #ccc;margin-bottom:7px;white-space:nowrap;overflow:hidden}

.block-wishlist .product-deails,.recent-viewed ol .product-details{padding-left:5px;font-size:11px}

.my-order-section,.recent-viewed,.sidebar .block-wishlist{background:#fbfbfb;box-shadow:0 0 14px #ccc inset;padding:14px;margin-bottom:30px}

.recent-viewed .block-title{margin-bottom:10px}

.myorder-btn .order-btn{min-width:127px}

.my-order-section .product-name .btn{white-space:normal}

.my-order-section .checkbox .product-name{margin-left:27px}

.my-order-section .checkbox input[type=checkbox]{margin-left:0;position:absolute;display:inline-block}

.box-reviews{border:1px solid #ccc;box-shadow:0 0 16px #ccc inset;margin-top:20px;padding:20px}

.box-reviews h2{font-size:18px;font-weight:700;margin:0 0 26px}

.box-reviews ol{margin-top:20px;padding:0}

.box-reviews h3.product-name{font-size:14px;margin:0}

.box-reviews .box-head a{text-decoration:underline;color:#777;font-size:12px}

.block-wishlist .product-details,.block-wishlist ol a,.box-reviews .details,.box-reviews number,.my-order-section .checkbox .product-name,.recent-viewed ol .product-details,.recent-viewed ol a,label.required em{display:inline-block}

.page-header{margin:0;padding:0}

.search-header .btn{border-radius:0;color:#fff;font-size:20px;height:100%;padding:0 21px;vertical-align:top}

.search-popup .modal-dialog{border-radius:0;margin:0;top:0;width:100%;height:100%}

.search-popup .modal-content{background:rgba(255,255,255,.7);border:none;border-radius:0;text-shadow:none;height:100%}

.search-popup .modal-body{bottom:0;margin:auto;position:absolute;top:0;width:100%;height:156px;overflow:inherit}

.search-popup .modal-backdrop{background:#fff}

.search-popup label{text-align:center;color:#333;font-size:40px;display:block}

.search-popup .modal-header .close{box-shadow:none;font-size:48px;opacity:1;position:absolute;right:70px;top:50px}

.search-popup input{width:100%;background:0 0;border:1px solid #333;box-shadow:none;padding:10px;text-align:center;color:#333;font-size:24px;margin-top:20px}

.search-popup .modal-header{border-bottom:none}#search_mini_form #search_autocomplete{margin-right:17px;border:1px solid #ccc}#search_mini_form ul{padding:0}#search_mini_form li{padding:7px 9px;border-bottom:1px solid #ccc;font-size:16px}

.home-wrapper h1:after,.home-wrapper h1:before{width:111px;height:1px;background:#777;margin-bottom:7px;display:inline-block;content:""}

.home-wrapper h1{font-size:24px;text-align:center;position:relative;text-transform:uppercase;margin-top:50px}

.loader,.loader-section{position:absolute;left:0;bottom:0;top:0;right:0}

.home-wrapper h1:before{margin-right:8px}

.home-wrapper h1:after{margin-left:8px}

.footer .social-follow a{color:#000;opacity:1}

.main-container{min-height:280px;margin-top:70px}

.loader-section{background:rgba(255,255,255,.5);width:100%;height:100%;z-index:1000}

.loader{text-align:center;margin:auto;width:80px;height:10px}

.loader span{display:inline-block;vertical-align:middle;width:10px;height:10px;margin:50px auto;border-radius:50px;-webkit-animation:loader .9s infinite alternate;-moz-animation:loader .9s infinite alternate;background:#e8784c}

.loader span:nth-of-type(2){-webkit-animation-delay:.3s;-moz-animation-delay:.3s}

.loader span:nth-of-type(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s}@-webkit-keyframes loader{0%{width:10px;height:10px;opacity:.9;-webkit-transform:translateY(0)}100%{width:24px;height:24px;opacity:.1;-webkit-transform:translateY(-21px)}}@-moz-keyframes loader{0%{width:10px;height:10px;opacity:.9;-moz-transform:translateY(0)}100%{width:24px;height:24px;opacity:.1;-moz-transform:translateY(-21px)}}

.newsletter-popup{position:fixed;z-index:9999;background:rgba(0,0,0,.3);width:100%;height:100%;font-family:Arial,Helvetica,sans-serif}

.newsletter-popup-inner{width:400px;height:398px;background:#fff;border:4px solid #000;padding:30px;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0}

.newsletter-popup-inner hr{border-color:#333}

.newsletter-close{top:0;position:absolute;right:0;background:#000;color:#fff;width:40px;height:40px}

.newsletter-close a{display:block;color:#fff;line-height:40px;font-size:22px;font-weight:lighter}

.newsletter-popup h1{font-size:53px;margin:0;text-transform:uppercase}

.newsletter-popup input[type=email]{border-color:#000;border-radius:0;float:left;width:80%}

.newsletter-popup input[type=submit]{float:left;height:34px;width:20%;background:#000;color:#fff;border-radius:0;border:1px solid #000}

.newsletter-footer{font-size:10px;}

.newsletter-footer a{color:#000;font-weight:700}@media only screen and (min-width:1024px){.cd-dropdown-trigger{font-size:1.5rem}

.cd-dropdown-trigger.dropdown-is-active{background-color:#181a1c}

.no-touch .cd-dropdown-trigger.dropdown-is-active:hover{background-color:#47975f}

.cd-dropdown-trigger.dropdown-is-active::after,.cd-dropdown-trigger.dropdown-is-active::before{width:14px}

.cd-dropdown-trigger.dropdown-is-active::before{-webkit-transform:translateX(5px) rotate(-45deg);-moz-transform:translateX(5px) rotate(-45deg);-ms-transform:translateX(5px) rotate(-45deg);-o-transform:translateX(5px) rotate(-45deg);transform:translateX(5px) rotate(-45deg)}

.cd-dropdown-trigger.dropdown-is-active::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}

.cd-dropdown h2,.cd-dropdown-content a,.cd-dropdown-content ul a{height:50px;line-height:50px}

.cd-dropdown{position:absolute;top:calc(100% - 2px);height:auto;width:auto;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);background-color:#fff;color:#181a1c;opacity:0;-webkit-transform:translateY(30px);-moz-transform:translateY(30px);-ms-transform:translateY(30px);-o-transform:translateY(30px);transform:translateY(30px);-webkit-transition:opacity .3s 0s,visibility 0s .3s,-webkit-transform .3s 0s;-moz-transition:opacity .3s 0s,visibility 0s .3s,-moz-transform .3s 0s;transition:opacity .3s 0s,visibility 0s .3s,transform .3s 0s}

.open-to-left .cd-dropdown{right:0;left:auto}

.cd-dropdown .cd-close,.cd-dropdown h2{display:none}

.cd-dropdown.dropdown-is-active{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);-webkit-transition:opacity .3s 0s,visibility .3s 0s,-webkit-transform .3s 0s;-moz-transition:opacity .3s 0s,visibility .3s 0s,-moz-transform .3s 0s;transition:opacity .3s 0s,visibility .3s 0s,transform .3s 0s}

.cd-dropdown-content,.cd-dropdown-content ul{padding-top:0;overflow:visible}

.cd-dropdown-content a,.cd-dropdown-content ul a{color:#181a1c;height:50px;line-height:50px;font-size:14px;border-color:#ebebeb}

.cd-dropdown-content .cd-divider,.cd-dropdown-content ul .cd-divider{background-color:transparent;color:#b3b3b3;border-top:1px solid #ebebeb}

.cd-dropdown-content .cd-divider+li>a,.cd-dropdown-content ul .cd-divider+li>a{border-top-width:1px}

.cd-dropdown-content ul.is-hidden>.cd-divider,.cd-dropdown-content ul.is-hidden>li>a,.cd-dropdown-content ul.move-out>.cd-divider,.cd-dropdown-content ul.move-out>li>a,.cd-dropdown-content.is-hidden>.cd-divider,.cd-dropdown-content.is-hidden>li>a,.cd-dropdown-content.move-out>.cd-divider,.cd-dropdown-content.move-out>li>a{opacity:1}

.cd-dropdown-content{position:static;height:auto;width:280px}

.cd-dropdown-content>li:last-of-type a{border-bottom:none}

.cd-dropdown-content.move-out>.cd-divider,.cd-dropdown-content.move-out>li>a{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);opacity:1}

.cd-dropdown-content .cd-dropdown-icons,.cd-dropdown-content .cd-secondary-dropdown{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);left:100%;height:auto;background-color:#fff}

.cd-dropdown-content .cd-dropdown-icons::after,.cd-dropdown-content .cd-secondary-dropdown::after{clear:both;content:"";display:table}

.cd-dropdown-content .cd-dropdown-icons>.go-back,.cd-dropdown-content .cd-secondary-dropdown>.go-back,.cd-dropdown-content .cd-secondary-dropdown>li>a::after,.cd-dropdown-content .cd-secondary-dropdown>li>a::before,.cd-dropdown-content .cd-secondary-dropdown>li>ul>.go-back,.go-back{display:none}

.open-to-left .cd-dropdown-content .cd-dropdown-icons,.open-to-left .cd-dropdown-content .cd-secondary-dropdown{left:auto;right:100%}

.cd-dropdown-content .cd-dropdown-icons.is-hidden,.cd-dropdown-content .cd-secondary-dropdown.is-hidden{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}

.cd-dropdown-content .cd-dropdown-icons.fade-in,.cd-dropdown-content .cd-secondary-dropdown.fade-in{-webkit-animation:cd-fade-in .2s;-moz-animation:cd-fade-in .2s;animation:cd-fade-in .2s}

.cd-dropdown-content .cd-dropdown-icons.fade-out,.cd-dropdown-content .cd-secondary-dropdown.fade-out{-webkit-animation:cd-fade-out .2s;-moz-animation:cd-fade-out .2s;animation:cd-fade-out .2s}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item,.cd-dropdown-content .cd-dropdown-icons a,.cd-dropdown-content .cd-secondary-dropdown .cd-dropdown-item,.cd-dropdown-content .cd-secondary-dropdown a{border:none}

.cd-dropdown-content .cd-secondary-dropdown>li{width:50%;float:left}

.cd-dropdown-content .cd-secondary-dropdown{overflow:hidden;width:550px;padding-bottom:65px}

.cd-dropdown-content .cd-secondary-dropdown::before{position:absolute;content:'';top:290px;left:15px;height:1px;width:520px;background-color:#ebebeb}

.cd-dropdown-content .cd-secondary-dropdown>li>a{color:#181a1c;font-size:1.6rem;margin-bottom:10px;line-height:30px;height:30px;pointer-events:none}

.cd-dropdown-content .cd-secondary-dropdown.move-out>li>a{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}

.cd-dropdown-content .cd-secondary-dropdown>li{margin:20px 0;border-right-width:1px;border-color:#ebebeb;border-style:solid;padding:0 30px;height:250px}

.cd-dropdown-content .cd-secondary-dropdown>li:nth-of-type(2n){border-right-width:0}

.cd-dropdown-content .cd-secondary-dropdown>li>ul{-webkit-transform:translate(0);-moz-transform:translate(0);-ms-transform:translate(0);-o-transform:translate(0);transform:translate(0);position:relative;height:auto}

.cd-dropdown-content .cd-secondary-dropdown a{line-height:25px;height:25px;font-size:1.3rem;padding-left:0}

.no-touch .cd-dropdown-content .cd-secondary-dropdown a:hover{color:#181a1c}

.cd-dropdown-content .cd-secondary-dropdown ul{padding-bottom:25px;overflow:hidden;height:auto}

.cd-dropdown-content .cd-secondary-dropdown .go-back a{padding-left:20px;color:transparent}

.no-touch .cd-dropdown-content .cd-secondary-dropdown .go-back a:hover{color:transparent}

.cd-dropdown-content .cd-secondary-dropdown .go-back a::after,.cd-dropdown-content .cd-secondary-dropdown .go-back a::before{left:0}

.cd-dropdown-content>.has-children>ul{visibility:hidden}

.cd-dropdown-content>.has-children>.cd-secondary-dropdown.is-active>li>ul,.cd-dropdown-content>.has-children>ul.is-active{visibility:visible}

.cd-dropdown-content>.has-children>a.is-active::after,.cd-dropdown-content>.has-children>a.is-active::before{background:#181a1c}

.open-to-left .cd-dropdown-content>.has-children>a.is-active{box-shadow:inset -2px 0 0 #181a1c}

.go-back a::after,.go-back a::before,.has-children>a::after,.has-children>a::before{background:#b3b3b3}

.open-to-left .cd-dropdown-content>.has-children>a{padding-left:40px;padding-right:20px}

.open-to-left .cd-dropdown-content>.has-children>a::after,.open-to-left .cd-dropdown-content>.has-children>a::before{right:auto;left:20px;-webkit-transform-origin:1px 50%;-moz-transform-origin:1px 50%;-ms-transform-origin:1px 50%;-o-transform-origin:1px 50%;transform-origin:1px 50%}}@media only screen and (max-width:1023px){.cd-dropdown-wrapper{left:1%;right:1%;width:98%;margin:0 0 6px}}@media only screen and (min-width:1023px){.cd-dropdown-trigger{display:none}

.cd-dropdown{opacity:1;transform:translateY(0);transition:opacity .3s ease 0s,visibility .3s ease 0s,transform .3s ease 0s;visibility:visible;list-style:none;z-index:9}

.cd-dropdown,.cd-dropdown-wrapper{position:static;width:100%}

.cd-dropdown-content{width:100%;margin:0;padding:0;border-bottom:1px solid #ccc;height:51px}

.cd-dropdown-content ul{margin:0;padding:0;list-style:none;text-align:left}

.has-children>a::after,.has-children>a::before{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #666;background:0 0;transform:rotate(0)}

.cd-dropdown-content>.has-children>a.is-active{box-shadow:none}

.cd-dropdown-content>.has-children>a.is-active::after,.cd-dropdown-content>.has-children>a.is-active::before{background:0 0}

.cd-dropdown-content .cd-dropdown-icons,.cd-dropdown-content .cd-secondary-dropdown{left:0;top:51px}

.cd-dropdown-content li{display:inline-block;border:none}

.cd-dropdown-content .cd-secondary-dropdown{width:100%}

.cd-dropdown-content .cd-dropdown-icons>li,.cd-dropdown-content .cd-secondary-dropdown>li{width:25%}

.cd-dropdown-wrapper{margin:0;text-align:center}

.cd-dropdown-content .cd-secondary-dropdown>li{margin:0;border:none;height:auto}

.cd-dropdown-content li li{display:block}

.cd-dropdown-content>.has-children>ul.is-active{padding-top:20px}

.cd-dropdown-content a{border:none;margin:0 20px}

.cd-dropdown-content a.is-active,.cd-dropdown-content a:hover{background:rgba(0,0,0,.5);color:#fff;text-decoration:none}

.has-children>a.is-active::after,.has-children>a.is-active::before{border-top:5px solid #fff}

.cd-dropdown-content ul a{margin:0}

.cd-dropdown-content .cd-secondary-dropdown.five-category>li{width:20%}

.cd-dropdown-content .cd-secondary-dropdown.three-category>li{width:33.33%}}@media only screen and (min-width:768px){.cd-dropdown .cd-close{top:5px}

.cd-dropdown-content a,.cd-dropdown-content ul a{font-size:1.8rem}

.cd-dropdown h2,.cd-dropdown-content a,.cd-dropdown-content ul a{height:50px;line-height:50px}}@media only screen and (max-width:766px){.cd-main-header{position:absolute;top:0;right:20px}header .btn{font-size:11px;margin:0 1px;padding:7px 2px}

.add-cart-btn .cart-btn{padding:6px 7px 0 0}header .list-inline{margin:15px 0 0;padding:0}

.ads-listing,.ads-listing li{width:auto;font-size:12px}

.sell-footer .col-sm-7{padding-left:15px;margin-top:15px}

.footer-section .col-md-4.row{margin:0}

.social-follow li{margin-top:5px}

.signup-form .btn,.signup-form .form-control{width:100%;margin-top:5px}

.newsletter{margin-top:20px}

.header{position:static;overflow:visible;height:auto}

.cart-header{margin-top:0;margin-bottom:0}

.add-cart-btn{margin-left:70px}

.cd-dropdown-wrapper{padding-top:0}

.cd-dropdown-content,.cd-dropdown-content ul{padding-top:60px}}@media only screen and (min-width:767px) and (max-width:1024px){.cd-header-buttons{right:19px;top:-67px}header .list-inline.text-right{text-align:left}

.gn-menu-main>li>a,.gn-menu-main>li>button.btn{padding:0 23px;text-transform:capitalize;letter-spacing:0;font-size:11px}

.gn-menu-main .gn-menu a{font-size:12px}}
@media screen and (max-width:767px){
.gn-menu-main li.search-header,.gn-menu-main>li:last-child{border:none}

.gn-submenu{position:static}

.gn-menu-wrapper.gn-open-all .gn-scroller,.gn-scroller .gn-menu li:hover .gn-submenu{width:100%}

.gn-menu-main li.gn-trigger{width:50px;float:left;line-height:40px}

.gn-menu-main li.search-header .btn{height: 42px;
    padding: 0 13px;
    background: transparent;
    border: none;
    color: #555;
    box-shadow: none;}

.gn-menu-main li.gn-trigger .gn-icon-menu{height:40px}

.gn-menu-main>li.menu-listing{float: left;
    height: auto;
    line-height: 13px;
    position: static;
    width: 39px;
    margin-right: 0;
    line-height: 54px;
}

.gn-menu-main>li.divider-cls{display:block;height:5px}

.gn-menu-main>li,.gn-menu-main>li:nth-child(2){ margin-right:16px;}

.gn-menu-main>li.logo-menu,.gn-menu-main>li.search-header{    margin: 0 2px;
    background: transparent;
    width: 43px;
    float: right;
}

.gn-menu-main>li.add-cart-btn{margin-left:0;width:42px; float:right; position:static;float:right; margin-right:0}

.gn-menu-main>li>a,.gn-menu-main>li>button{letter-spacing:0;text-transform:capitalize;padding:0 12px;font-size:12px}

.gn-menu-main a,.gn-menu-main>li{height:auto}

.gn-menu-main{height:83px;text-align:center}

.gn-menu-wrapper{z-index:999}

.gn-scroller .gn-menu li{height:60px;transition:all linear .5s;line-height:60px;background:inherit}

.gn-scroller .gn-menu li:hover{height:auto}

.social-follow li{margin-bottom: 9px;
    height: 30px;
    width: 30px; padding:0}
	.footer .social-follow a {
    line-height: 30px;
    padding: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.social-follow a .fa-3x {
    font-size: 17px;
}

.logo img{width:114px;vertical-align:middle;margin-top:1px}

.gn-menu-main,.gn-menu-main ul{line-height:1px}main.cd-main-content{margin-top:52px}

.cartbox.cart-header{margin-top:82px;padding-bottom:20px}}@media screen and (max-width:422px){.gn-menu-wrapper.gn-open-all{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);width:100%}

.gn-menu-wrapper.gn-open-all .gn-scroller{width:130%}}@media (max-width:677px){.payment-section{padding:0}

.payment-section li{display:inline-block;text-align:center;margin:8px 5px;height:32px}

.sell-footer img,.tooltip-content-social{display:none}

.payment-section .list-inline{margin:0}

.footer-section h2{font-size:16px}

.sell-footer{margin-top:0!important;padding-top:0}

.sell-footer .col-sm-7{margin-top:0}

.newsletter{margin-top:1px;padding:43px 0}

.newsletter h3{font-size:22px}

.newsletter h4{font-size:13px}

.copyright-copy{margin-bottom:10px}

.search-popup label{font-size:20px}

.search-popup input{margin-top:5px;font-size:14px}

.search-popup .modal-header .close{right:19px}

.icon_sec{margin-top:0}

.home-wrapper h1{text-transform:none}

.home-wrapper h1::after,.home-wrapper h1::before{display:none}

.gn-menu-main{position:static}

.newsletter-popup-inner{padding:24px;height:374px;width:280px}

.newsletter-popup h1{font-size:30px}

.newsletter-popup h4{font-size:15px}

.newsletter-offer{font-size:12px}

.newsletter-popup input[type=email],.newsletter-popup input[type=submit]{float:none;width:100%}

.gn-menu-wrapper.gn-open-all{width:85%;top:41px}

.gn-scroller{position:absolute;overflow-y:scroll}

.gn-menu-wrapper.gn-open-all .gn-scroller{width:100%}

.main-container{margin-top:18px}

.page-title h1{font-size:22px}

.sidebar.pull-left{margin:0 15px}

.gs-login li{display:block;text-align:left;margin:5px 0}

.gs-login a i{width:22px;margin-right:12px}#search_mini_form #search_autocomplete{height:214px;overflow:scroll}}

.menu-container {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
}

.menu {
    width: 100%;
}

.menu a.logo {
    display: inline-block;
    padding: 17px 24px;
    width: 19%;
    float: left;
}

.menu img {
    max-width: 100%;
}

.menu-mobile {
  display: none;
  padding: 20px;
}

.menu-mobile:after {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.menu-dropdown-icon:before {
  content: "\f107";
  font-family: FontAwesome;
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  color: #333;
}

.menu > ul {
  margin: 0 auto;
  width: 71%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
      clear: right;
}

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}

.menu > ul:after {
  clear: both;
}

.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li a {
  text-decoration: none;
  padding: 2.7em 3em;
  display: block;
}

.menu > ul > li:hover {
  background: #f0f0f0;
}

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li {
  margin: 0 0 16px 0;
    padding-bottom: 0;
    list-style: none;
    width: 24%;
    background: none;
    float: none;
    display: inline-block;
    vertical-align: top;
}
.menu > ul > li.gridmenu5 > ul > li{width:19%}
.menu > ul > li > ul > li  > li {
	margin-bottom:0;
}
.menu > ul > li > ul > li a {
  color: #f3865b;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
    line-height: 23px;
}

.menu > ul > li > ul > li a:hover{
	color:#03a9f4;
}

.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
  font-size: 14px;
  color: #222;
  border: none;
    line-height: 9px;
}

.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

.menu .fa{color:#777}
#myModal .modal-header .close{font-size:40px; opacity:1; line-height:24px;}
.std .inner-page-content ol{padding-left: 17px;}
.otp-section .btn{float: left; font-size: 12px; min-width: 30px; border: 1px solid rgb(204, 204, 204)}
.otp-section .otp-enter{float: left; width: 78px; margin: 0px 4px; height: 29px; text-align: center;}
.otp-section .resend-otp{float: left; font-size: 12px; text-decoration: underline; margin-top: 15px;}

/* â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“
Mobile style's
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
@media only screen and (max-width: 959px) {
  .menu-container {
    width: 100%;
  }

.menu-container .menu{
	display:inline-block;
   }

.menu-mobile {
    display: block;    
    float: right;    
    padding: 20px 20px 0;
  }

.menu-dropdown-icon:before {
    display: block;
  }

.menu > ul {
    display: none;
    width:100%;
  }

.menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }

.menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }

.menu > ul > li > ul {
    position: relative;    
    padding: 0 40px;
  }

.menu > ul > li > ul.normal-sub {
    width: 100%;
  }

.menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }

.menu > ul > li > ul > li:first-child {
    margin: 0;
  }

.menu > ul > li > ul > li > ul {
    position: relative;
  }

.menu > ul > li > ul > li > ul > li {
    float: none;
  }

.menu .show-on-mobile {
display: block;
    max-height: 350px;
    overflow: scroll;
    position: absolute;
    z-index: 9999;
    background: #fff;
    top: 53px;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #555;
    width: 100%;  }
  .show-on-mobile ul li img{display:none}

.menu a.logo{width:160px; padding:4px 12px}
.gn-menu-main{height:40px}
.menu-logout .fa {font-size:20px}
}
@media only screen and (min-width:960px) and (max-width: 1300px) {
.menu > ul > li a{font-size:13px; padding:2.7em 1em}
}
@media only screen and (max-width: 767px) {
.container.icon_sec, .gift-section, .swiper-container .swiper-pagination-bullet{display:none}
.new-collection h1{margin-top:0; font-size:15px; text-transform:capitalize}
.secure-shopping .s-text{    line-height: 32px;
    float: left;
    font-size: 14px;
    margin-left: 6px;
}
.secure-shopping i{ height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 12px;
    margin: 0;
}
.secure-shopping .s-icon{    height: 30px;
    width: 30px;
    float: left;
    margin: 3px 0 5px 8px;
    padding: 0;
    border: none;
}
.payment-section li:first-child{line-height:36px}
.menu a.logo {
    float: left;
    width: 111px;
}
.menu-mobile {
    float: left;
    width: 49px;
    padding:8px 13px;
}
.header-top {
    background: transparent;
    float: left;
    width: 144px;
}
.gn-menu-main .fa.fa-search {
    font-size: 17px;
    line-height: 51px;
    color: #333;
    text-shadow: none;
}
.menu-container .menu{width:160px; float:left}
.sociallog .btn-google, #loginModal h4, .gn-menu-main>li::nth-child(6){display:none}
.logout-link{line-height:49px}
.payment-section li.netbanking, .payment-section li.cod{display:none}
.payment-section li{margin:8px 0px; padding:0}
.payment-img{background-size:644px}
.payment-section li:first-child{line-height:24px; margin-right:3px}
.safepayent{width:60px}
.visapayment{background-position: -74px 0;
    width: 38px;
}
.mastercardpayment{    background-position: -126px 0;
    width: 37px;}
.verifiedpayment{
background-position: -178px 0;
    width: 36px;
	}
	.payupayment{background-position: -298px 0;
    width: 40px;}
	.btn-google, #loginModal h4{display:none;}
	#loginModal .modal-dialog{margin:3px}
	.btn-social{margin-top:7px}
	#loginModal h3 {
    font-size: 17px;
    margin-top: 8px;
}
.menu > ul > li > ul > li{display: block;}
}