.main-slider .swiper-container{width:100%;height:100%;}.main-slider .swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}.main-slider .swiper-container .swiper-slide a{display:block;width:100%}.main-slider .swiper-slide img{width:100%}.swiper-parallax-container{width:100%;height:100%;background:#fff;position:relative;margin:80px 0 0;overflow:hidden}.swiper-parallax-container .swiper-slide{font-size:18px;color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;padding:40px 60px}.parallax-bg{position:absolute;left:0;top:0;width:130%;height:100%;-webkit-background-size:cover;background-size:cover;background-position:center}.swiper-parallax-container .swiper-slide .subtitle{font-size:21px;padding:70px 0}.collection-sec{margin-top:23px}.home-wrapper .about-section{font-size:14px;line-height:24px}.about-section input[type=checkbox]{display:none}.read-more-target{opacity:0;max-height:0;font-size:0;transition:.25s ease;height:0;overflow:hidden;display:inline-block}.read-more-state:checked~.read-more-wrap .read-more-target{font-size:inherit;height:auto;max-height:999em;opacity:1;overflow:visible}.icon,.icon1,.icon2,.icon3,.icon4,.icon5,.icon6{overflow:hidden}.read-more-state~.read-more-trigger:before{content:'Read more'}.read-more-state:checked~.read-more-trigger:before{content:''}.read-more-trigger{cursor:pointer;display:inline-block;color:#181a1c;font-size:13px;text-decoration:underline}.collection-sec .sec-1 img{height:287px}.collection-sec .sec-2,.collection-sec .sec-3{width:620px}.collection-sec .sec-6 img{height:340px}.wooden-collection{margin-top:10px}.wooden-collection .col-sm-4{padding:0;width:32.33%}.wooden-collection .col-sm-4:nth-child(2){margin:0 1.5%}.secure-shopping{background-color:#fbfbfb;box-shadow:0 0 5px #ccc;margin:60px auto 40px;max-width:800px;padding:20px 20px 50px}.secure-shopping .s-icon{border-radius:50%;color:#fff;height:86px;margin:18px auto 16px;padding:0;text-align:center;width:86px;border:4px solid transparent;transition:all .5s ease 0s}.secure-shopping i{background:#444;border-radius:50%;display:block;height:78px;margin:0 auto;line-height:78px;width:78px;font-size:48px}.secure-shopping .col-sm-4:hover .s-icon{border-color:#e8784c}.secure-shopping .col-sm-4:hover i{background:#fff;color:#e8784c}.secure-shopping .s-text{font-size:18px}.box-icon p{display:none}.icon1{background:#d81818}.icon2{background:#e3c800}.icon3{background:#d80073}.icon4{background:#76608a}.icon5{background:#00aba9}.icon6{background:#fa6800}.icon7{background:#60a917}.icon8{background:#647687}.icon{width:100%;cursor:pointer;position:relative;min-height:250px;}.icon_sec .col-md-3,.icon_sec .col-sm-2{padding:0}.box-icon{width:100px;margin:33px auto}.icon{transition-duration:.4s}.icon:hover .padding30{margin-left:-686px}.icon:hover .text{display:block;top:10px;width:100%}.text p{font-size:14px;color:#efefef;line-height:26px}.icon2 .text p,.text a{color:#fff}.text a{font-size:17px;text-decoration:underline}.box-icon img{display:block}.icon_sec{max-width:950px;margin-top:0}.padding30{transition-duration:.9s;-moz-transition-duration:.9s;-webkit-transition-duration:.9s;z-index:5;position:relative;margin:31% 0}.mid-text h2{font-size:22px;color:#fff;}.mid-text a:hover{text-decoration:none}

.happy-customer {
    background-attachment: fixed;
    background-image:url(../images/happy-customer.jpg);
    background-size: cover;
    padding: 78px 0;
	margin-top:32px;
}
.customer-text{
    color: #222;
    font-size: 17px;
    margin-top: 8px;
    text-transform: uppercase;
}
.customer-num{
    float: left;
    font-size: 33px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 9px;
}
.customer-box{text-align: left; padding: 0px 0px 0px 54px;}
.client-section{margin-top:30px}
.customer-icon{float: left; font-size: 50px; margin-right: 5px;}
.client-section .col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
	padding:15px;
}
.clear-left
{
    clear: left;
}
.client-section .controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.client-section h5{font-size:18px; text-align:center; line-height:24px; min-height:48px;}

@media only screen and (max-width:766px){.secure-shopping .s-text{text-transform:none}.collection-sec .sec-2,.collection-sec .sec-3{margin:7px 0 0;width:100%}.collection-sec .sec-1 img{height:auto;width:100%}.wooden-collection .col-sm-4:nth-child(2){margin:0}.wooden-collection .col-sm-4{width:100%;margin:3px 0}.home-wrapper h1{font-size:16px}.secure-shopping{padding:13px 0 0 0}.box-icon p{display:block;color:#fff}
.client-section h3{font-size:15px}
.client-section .fa{    padding: 4px;
    margin: 0;}
    .customer-box{padding: 0; text-align: center; margin-bottom: 10px;}
    .customer-num-count {
    width: 111px;
    margin: 0 auto;
}
.customer-num{font-size:16px; margin:25px 0 0 0}
.customer-text{font-size:14px; text-align: center;}
.happy-customer .col-xs-12{margin-bottom:40px}
.happy-customer{padding:40px 0 0 0}
}