.gc-icon.gc-icon-download {
    display: none!important
}

.rupee {
    font-size: 20px
}

.wl-access-aid {
    height: 1px;
    left: -500em;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999em;
    top: 0;
    width: 1px
}

.select-size .list-inline a {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    border: 1px solid #ccc;
    padding: 2px 0;
    color: #181a1c;
    margin-right: 4px
}

.select-size .list-inline a:hover {
    text-decoration: none;
    background: #E8784C;
    color: #fff;
    border-color: #E8784C
}

.select-size .list-inline li {
    padding: 0
}

.product-option {
    margin: 75px 0 0 26px
}

.related-product {
    display: table;
    padding-left: 0
}

.related-product .list-group i {
    border: 1px solid #e8784c;
    border-radius: 50%;
    color: #e8784c;
    display: block;
    font-size: 17px;
    height: 30px;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    width: 30px
}

.related-product .list-group li {
    position: relative;
    margin-bottom: -1px;
    padding: 10px 6px;
    min-height: 50px
}

.related-product .list-group span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 34px;
    position: relative
}

.related-product .list-inline {
    margin: 0
}

.related-product .list-inline li {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
    color: #181a1c
}

.related-product a {
    display: block;
    height: 80px;
    text-align: center;
    border: none
}

.related-product a img {
    display: inline-block
}

.related-product li:first-child {
    font-size: 16px
}

.single-product-detail h3 {
    font-weight: bold;
	font-size:20px;
}

.single-product-detail p {
    line-height: 20px;
    color: #181a1c
}

.single-product-detail .btn-default {
    background: 0 0;
    border-radius: 0
}

.single-product-detail .btn-default:hover {
    background: #E8784C;
    color: #fff;
    border-color: #E8784C
}

.related-product-name {
    width: 80%;
    display: block;
    margin: 6px auto 3px
}

.related-product li .price {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
    margin-bottom: 15px;
    font-weight: 400
}

.product-page-tabs .tabs {
    width: 280px;
    padding: 0;
    float: none;
    list-style: none;
    text-align: left;
    z-index: 9;
    border-bottom: 1px solid #ccc;
    position: relative
}

.product-page-tabs .tabs li {
    float: left;
    display: block
}

.product-page-tabs .tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px
}

.product-page-tabs .tabs .tab-label {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 3px solid transparent;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
    padding: 8px;
    min-width: 10px;
    text-align: center;
    position: relative;
    top: 4px;
    transition: all .2s ease-in-out 0s
}

.product-page-tabs .tabs .tab-label:hover {
    background: #e16666;
    color: #fff
}

.product-page-tabs .tabs .tab-content {
    display: none;
    font-size: 13px;
    left: 0;
    line-height: 25px;
    overflow: hidden;
    position: absolute;
    top: 53px;
    width: 100%;
    z-index: 2
}

.product-page-tabs .tabs [id^=tab]:checked+.tab-label {
    border-bottom: 3px solid #fff;
    border-color: #e16666 #ccc #fff;
    margin-bottom: -12px
}

.product-page-tabs .tabs [id^=tab]:checked~[id^=tab-content] {
    display: block
}

.product-view .product-shop {
    float: none;
    width: 100%
}

.product-view .product-shop .product-name .h1 {
    color: #e8784c;
    display: block;
    font-size: 24px
}

.product-view .product-shop .rating-links a,
.single-product-detail .add-to-links a {
    color: #a0a0a0
}

.product-view .product-shop .price-box .full-product-price .price,
.product-view .product-shop .price-box .regular-price .price,
.product-view .product-shop .price-box .special-price .price {
    color: #181a1c
}

.product-view .short-description p {
    margin-bottom: 3px
}

.product-view .add-to-cart-wrapper,
.product-view .block-related {
    float: left
}

.product-view .button:hover {
    background: rgba(0, 0, 0, 0)
}

.single-product-detail input,
.single-product-detail textarea {
    max-width: 365px;
    width: 290px;
    display: inline-block
}

.single-product-detail .tab-content label {
    width: 110px;
    vertical-align: top
}

.single-product-detail .qty-wrapper input {
    width: 36px;
    display: inline-block;
    margin: 0
}

.add-to-box .add-to-cart .qty-wrapper {
    max-width: 97px
}

.add-to-box .add-to-cart .add-to-cart-buttons {
    max-width: 128px
}

.single-product-detail .add-to-cart-wrapper {
    float: none;
    width: 100%
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, .2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity .5s;
    visibility: hidden;
    opacity: 0
}

.overlay:target {
    visibility: visible;
    opacity: 1
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 999
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all .2s;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #555;
    opacity: 1
}

.popup .close:hover {
    color: #E8784C
}

.popup .content {
    max-height: 30%;
    overflow: auto
}

.popup .form-horizontal .control-label {
    text-align: left
}

.popup .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0
}

.product-shop .short-description {
    color: #777;
    font-size: 12px;
    line-height: 20px
}

.popup h3 {
    padding-left: 15px
}

.bulk-enquiry-popup {
    top: 41px
}

.add-to-cart-wrapper .add-to-box {
    margin-top: 10px;
    text-align: center
}

.inquiry_area em {
    color: red;
    font-style: normal
}

.inquiry_area .form-horizontal .control-label {
    text-align: left
}

.related-product .list-inline {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #eee;
    padding: 5px
}

.related-product .list-inline li {
    border-bottom: 1px solid #eee
}

.related-product .list-inline li:first-child,
.related-product .list-inline li:last-child {
    border: none
}

.related-product .related-product-name {
    font-weight: 700;
    line-height: 16px
}

.related-product .old-price {
    margin-bottom: 3px
}

.related-product .old-price .price {
    text-decoration: line-through
}

.related-product .special-price .price {
    font-weight: 700;
    font-size: 16px;
    color: #333
}

.single-product-detail label{width:85px}

@media screen and (max-width:700px) {
    .box,
    .popup {
        width: 70%
    }
	.single-product-detail label{width:100%}
}

@media only screen and (max-width:766px) {
    .single-product-detail {
        margin-top: 20px
    }
    .related-product .list-inline li {
        width: 100%;
        padding: 0;
        margin-top: 10px
    }
    .related-product .list-inline li a {
        height: auto
    }
    .add-to-box a.btn {
        margin-top: 10px
    }
}

@media only screen and (max-width:1023px) {
    .related-product .list-group span {
        padding-top: 6px
    }
    .single-product-detail input,
    .single-product-detail textarea {
        width: 100
    }
}