<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<form action="<?php echo Mage::getUrl().'inquiry/index/getintouch'; ?>" id="contactForm" method="post" class="scaffold-form">
  <div class="form-group">
    <div class="input-group margin-bottom-sm">
      <input name="name" id="name" value="" class="input-text required-entry form-control" type="text" placeholder="Name" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group margin-bottom-sm">
      <input placeholder="Email address" name="email" id="email" value="" class="input-text required-entry validate-email form-control" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group margin-bottom-sm">
      <input name="phone_no" id="phone_no" value="" class="input-text required-entry form-control" type="tel" placeholder="Phone Number"/>
    </div>
  </div>
  <div class="form-group">&nbsp;</div>
  <div class="text-right">
    <input class="btn btn-default" type="submit" value="Submit" />
  </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script> 
