<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="well">
  <h3>Join Us</h3>
  <form action="<?php echo Mage::getUrl().'inquiry/index/joinus'; ?>" id="joinusForm" method="post" class="scaffold-form form-horizontal">
    <div class="form-group row">
      <label class="col-sm-4 control-label">Company Name:</label>
      <div class="col-sm-8">
        <input name="company_name" class="form-control input-text required-entry" type="text" placeholder="Company Name" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Company Description:</label>
      <div class="col-sm-8">&nbsp;</div>
    </div>
    <h4>Business Address (Main office)</h4>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Address:</label>
      <div class="col-sm-8">
        <input name="address" class="input-text required-entry form-control" type="text" placeholder="Address" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">City:</label>
      <div class="col-sm-8">
        <input name="city" id="city" title="" value="" class="form-control input-text required-entry"  placeholder="City"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">State:</label>
      <div class="col-sm-8">
        <?php	$stateCollection = Mage::getModel('directory/country')->load('IN')->getRegions()->toOptionArray(); ?>
        <?php if (count($stateCollection) > 0){ ?>
        <select name="state" id="state" class="form-control required-entry validate-select">
          <?php foreach($stateCollection as $state): ?>
          <option value="<?php echo $state['label']//$state['value'] ?>"><?php echo $state['label'] ?></option>
          <?php endforeach; ?>
        </select>
        <?php }else{ ?>
        <input name="state" id="state" title="" value="" class="input-text required-entry form-control"  placeholder="State"/>
        <?php } ?>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Postal Code:</label>
      <div class="col-sm-8">
        <input name="postal_code" class="form-control" type="text" placeholder="Postal Code" />
      </div>
    </div>
    <h4>Contact Information</h4>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Name:</label>
      <div class="col-sm-8">
        <input name="name" id="name" value="" class="form-control input-text required-entry" type="text" placeholder="Name" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Email Address:</label>
      <div class="col-sm-8">
        <input placeholder="Email Address" name="email" id="email" value="" class="form-control input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label">Phone Number:</label>
      <div class="col-sm-8">
        <input name="phone_no" id="phone_no" value="" class="form-control input-text required-entry" type="tel" placeholder="Phone Number"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 control-label"></label>
      <div class="col-sm-8 pull-right">
        <input class="btn btn-default" type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var joinusForm = new VarienForm('joinusForm', true);
//]]>
</script> 
