<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-8 col-xs-12">
      <div class="col-md-0 col-sm-11 col-xs-12">
        <h1>Seller form</h1>
        <div class="well">
          <form action="<?php echo Mage::getUrl().'inquiry/index/sellwithus'; ?>" id="sellwithusForm" method="post" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-4 control-label">Shop Name</label>
              <div class="col-sm-8">
                <input type="text" name="shop_name" class="form-control input-text required-entry" id="shop_name" placeholder="Shop Name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Phone Number</label>
              <div class="col-sm-8">
              	<input name="phone_no" id="phone_no" value="" class="form-control input-text required-entry" type="tel" placeholder="Phone Number"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Email Address</label>
              <div class="col-sm-8">
              	<input placeholder="sarah@gmail.com" name="email" id="email" value="" class="form-control input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Alternate Email Address</label>
              <div class="col-sm-8">
                <input type="email" name="alternate_email" class="form-control" placeholder="nikki@gmail.com">
              </div>
            </div>
            <?php /*?><div class="form-group">
              <label class="col-sm-4 control-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="password" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Confirm Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="password" required>
              </div>
            </div><?php */?>
            <div class="form-group">
              <label class="col-sm-4 control-label">Company Name</label>
              <div class="col-sm-8">
                <input name="company_name" class="form-control input-text required-entry" type="text" placeholder="Company Name" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Contact Person Name</label>
              <div class="col-sm-8">
                <input type="text" name="contact_person_name" class="form-control" placeholder="Contact Person Name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Street Address</label>
              <div class="col-sm-8">
              	<input name="address_line1" class="input-text required-entry form-control" type="text" placeholder="Line 1" />
              </div>
              <label class="col-sm-4 control-label"></label>
              <div class="col-sm-8">
              	<input name="address_line2" class="form-control" type="text" placeholder="Line 2" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">City </label>
              <div class="col-sm-8">
              	<input name="city" id="city" class="form-control input-text required-entry"  placeholder="City"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Zip/Postal Code</label>
              <div class="col-sm-8">
              	<input name="postal_code" class="form-control" type="text" placeholder="Zip/Postal Code" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">State/Province</label>
              <div class="col-sm-8">
                <?php	$stateCollection = Mage::getModel('directory/country')->load('IN')->getRegions()->toOptionArray(); ?>
				<?php if (count($stateCollection) > 0){ ?>
                <select name="state" id="state" class="form-control required-entry validate-select">
                  <?php foreach($stateCollection as $state): ?>
                  <option value="<?php echo $state['label']//$state['value'] ?>"><?php echo $state['label'] ?></option>
                  <?php endforeach; ?>
                </select>
                <?php }else{ ?>
                <input name="state" id="state" class="input-text required-entry form-control"  placeholder="State"/>
                <?php } ?>
              </div>
            </div>
            <?php /*?><div class="form-group">
              <label class="col-sm-4 control-label">Country </label>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>Country  1</option>
                  <option>Country  2</option>
                  <option>Country  3</option>
                  <option>Country  4</option>
                  <option>Country  5</option>
                </select>
              </div>
            </div><?php */?>
            <div class="form-group">
              <label class="col-sm-4 control-label">About Shop</label>
              <div class="col-sm-8">
                <textarea name="about_shop" class="form-control input-text required-entry" placeholder="About Shop">
</textarea>
              </div>
            </div>
			<?php /*?>
			<div class="form-group">
              <label class="col-sm-4 control-label">Bank Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Bank Name" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Bank Account Number </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Bank Account Number" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Bank Branch Address</label>
              <div class="col-sm-8">
                <textarea class="form-control" placeholder="Bank Branch Address" required>
</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Cheque to be made in Name of</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Cheque to be made in Name of" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">PAN No</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="PAN No" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">IFSC code of Bank</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="IFSC code" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">VAT / TIN</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="VAT / TIN" required>
              </div>
            </div>
			<?php */?>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="i_agree" class="required-entry">
                    I agree that i have read and understood the <a href="<?php echo Mage::getUrl('user-agreement')?>"> Pokyshop User Agreement</a> &amp; the <a href="<?php echo Mage::getUrl('privacy-policy')?>">Privacy Policy</a> </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="text-right col-sm-12">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <?php /*?><div class="margin-top-20">
          <div class="border-seller padding10">
            <h3>Note</h3>
            Your confirmation will be sent to your email address. </div>
        </div><?php */?>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-5 col-sm-4 col-xs-12">
    	<div class="pull-right margin-top-40"><img class="img-responsive" alt="pokyshop-seller-form-make-in-india" src="/skin/frontend/rwd/make-in-india/images/pokyshop-makeInIndia-seller.png"></div>
  	</div>
  
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix">&nbsp;</div>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('sellwithusForm', true);
//]]>
</script> 
